chatgpt-2.json
{"createdAt":"2023-03-08T20:51:53.437Z","updatedAt":"2023-04-24T22:07:16.000Z","id":"2","name":"ChatGPT","active":false,"nodes":[{"parameters":{"operation":"moderate","model":"text-moderation-stable","input":"={{ $json.query.contact.variables[0].name }}"},"id":"e024926b-a95b-4ae8-b3b8-ba1f6cb0db71","name":"OpenAI","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[480,520],"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}}},{"parameters":{"dataType":"string","value1":"={{ $node.Webhook.json.query.contact.variables[0].name }}","rules":{"rules":[{"operation":"regex","value2":"={{ $json.flagged }}"},{"operation":"regex","value2":"={{ $json.flagged }}","output":1}]}},"id":"e8fa4147-5b3d-413b-aaec-b6338c853b12","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[600,520]},{"parameters":{"prompt":"={{ $node.Webhook.json.query.contact.variables[0].value }}","simplifyOutput":false,"options":{"echo":true,"maxTokens":2000,"temperature":0.1}},"id":"bf00e8e6-ce42-4170-ab16-311cefaa5961","name":"OpenAI1","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[400,320],"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}}},{"parameters":{"chatId":"={{ $node.Webhook.json.query.contact.telegram_id }}","text":"={{ $json.choices[0].text }}","additionalFields":{}},"id":"c8477c37-0ce4-497b-a1ed-4fa595b11455","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[580,320],"credentials":{"telegramApi":{"id":"9","name":"GPT бот"}}},{"parameters":{"chatId":"={{ $node.Webhook.json.query.contact.telegram_id }}","text":"Запрос не прошел модерацию","additionalFields":{}},"id":"a6a79895-5f56-4eaf-a89e-1e5f6639f7ed","name":"Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[740,500],"credentials":{"telegramApi":{"id":"9","name":"GPT бот"}}},{"parameters":{"resource":"image","prompt":"={{ $node.Webhook.json.query.contact.variables[0].value }}","responseFormat":"imageUrl","options":{}},"id":"94454ab3-78eb-4cdb-a110-a8bc4673f09e","name":"OpenAI2","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[1020,40],"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $node.Webhook.json.query.contact.telegram_id }}","file":"={{ $json.url }}","additionalFields":{}},"id":"a5e57056-3cad-4b34-9cf7-defccedabe44","name":"Telegram2","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1120,160],"credentials":{"telegramApi":{"id":"9","name":"GPT бот"}}},{"parameters":{"path":"7e5c5719-545a-48cc-922e-53559af7ce67","options":{}},"id":"67105260-3a9c-42cb-9ef8-97d10b430fd8","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[220,320],"webhookId":"7e5c5719-545a-48cc-922e-53559af7ce67"}],"connections":{"OpenAI":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Telegram1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram":{"main":[[]]},"OpenAI2":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]}},"settings":{"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"10"},"staticData":null,"meta":null,"pinData":{},"versionId":"4dea161a-81ec-4b8e-bb12-2efabdb94b6f","triggerCount":1,"tags":[]}