code-56.json
{"createdAt":"2023-05-11T04:57:48.012Z","updatedAt":"2023-05-15T12:33:26.000Z","id":"56","name":"code","active":false,"nodes":[{"parameters":{},"id":"e0f8e871-7693-480b-887c-f8ddd7e0faf7","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-140,200]},{"parameters":{"operation":"getAllPeople","returnAll":true},"id":"ae4cd23a-f52d-4b11-9da4-46104483960d","name":"Customer Datastore (n8n training)","type":"n8n-nodes-base.n8nTrainingCustomerDatastore","typeVersion":1,"position":[20,200]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Add a new field called 'myNewField' to the\n// JSON of the item\n$input.item.json['при'] = 1 + $position;\n\nreturn $input.item;"},"id":"71afc855-3498-468d-b070-b91ca1e6079d","name":"Code1","type":"n8n-nodes-base.code","typeVersion":1,"position":[480,-20]},{"parameters":{"jsCode":"// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json[\"аа\"] = 1;\n}\n\nreturn $input.all();"},"id":"6a3aa7a5-a4d6-4a30-ab42-a5b17ac56ab5","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[200,-20]},{"parameters":{"jsCode":"let curr = new Date;\nlet first = (curr.getDate());\nlet last = first;\n\nlet firstday = new Date(curr.setDate(first));\nlet lastday = new Date(curr.setDate(last));\n\nbeginning = new Date(firstday.setHours(0,0,0,0));\nending = new Date(lastday.setHours(23,59,59,99));\n\nitems[0].json.start = beginning.toISOString();\nitems[0].json.end = ending.toISOString();\n\nreturn items;"},"id":"e4f44f92-8a1a-4055-b006-9405b0e35dda","name":"Code2","type":"n8n-nodes-base.code","typeVersion":1,"position":[340,-20]},{"parameters":{"jsCode":"// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json['Second name'] = item.json.name + ' ' + 'from' + ' ' + item.json.country;\n}\n\nreturn $input.all();"},"id":"c044f254-f5e9-45a5-9f39-7c18e01a7591","name":"Code3","type":"n8n-nodes-base.code","typeVersion":1,"position":[260,100]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Add a new field called 'myNewField' to the\n// JSON of the item\n$input.item.json['Second name'] = item.json.name + ' ' + 'from' + ' ' + item.json.country;\n\nreturn $input.item;"},"id":"59b8a582-8b74-4a3a-880e-d3bfe44e1c69","name":"Code4","type":"n8n-nodes-base.code","typeVersion":1,"position":[280,360]},{"parameters":{"jsCode":"// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json['Second name'] = `${item.json.name} from ${item.json.country}`;\n}\n\nreturn $input.all();"},"id":"67cd8f53-ab1e-432a-8481-900781d04416","name":"Code5","type":"n8n-nodes-base.code","typeVersion":1,"position":[480,220]},{"parameters":{"jsCode":"return [\n  {\n    \"name\": \"Шерлок Холмс\",\n    \"age\": 46,\n    \"friends\": \"Доктор Ватсон и Инспектор Лестрейд\",\n    \"housing\":[\n      {\n      \"type\": \"квартира\",\n      \"adress\": \"Лондон, Бейкер-стрит 221b\"  \n      },\n      {\n        \"transport\": \"car\",\n        \"model\": \"BMV\"\n      }\n    ]\n  },\n  {\n    \"name\": \"Джон Ватсон\",\n    \"age\": 44,\n    \"friends\": \"Шерлок Холмс и Инспектор Лестрейд\",\n    \"housing\": [\n      {\n      \"type\": \"квартира\",\n      \"adress\": \"Лондон, Бейкер-стрит 221b\"  \n      }\n    ]\n  }\n]"},"id":"c78851d6-76ea-401d-9aef-ca9714e76f21","name":"Code6","type":"n8n-nodes-base.code","typeVersion":1,"position":[-360,120]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Customer Datastore (n8n training)","type":"main","index":0}]]},"Customer Datastore (n8n training)":{"main":[[{"node":"Code4","type":"main","index":0},{"node":"Code3","type":"main","index":0},{"node":"Code5","type":"main","index":0}]]},"Code":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code4":{"main":[[]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"464a98a5-ac11-4d37-9cf3-ebee3725f3c2","triggerCount":0,"tags":[]}