my-workflow-backup-67.json
{"createdAt":"2023-10-14T10:11:35.705Z","updatedAt":"2023-10-30T04:30:20.000Z","id":"67","name":"My workflow backup","active":false,"nodes":[{"parameters":{"options":{}},"id":"c6377bd7-ee22-4378-af90-6fdffd97cbd2","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1819.2528427493457,1649.8065175238871]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"f7b78d7e-dcad-41ef-9573-28a65bc567e5","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2019.2528427493457,1649.8065175238871]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"b59db6fd-0a47-4fd5-8e21-62682f3505be","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[2219.2528427493457,1649.8065175238871]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"DarthSadist","mode":"list","cachedResultName":"DarthSadist","cachedResultUrl":"https://github.com/DarthSadist"},"repository":{"__rl":true,"value":"n8n-beta-workflow","mode":"list","cachedResultName":"n8n-beta-workflow","cachedResultUrl":"https://github.com/DarthSadist/n8n-beta-workflow"},"filePath":"="},"id":"267b4e3e-f2f7-40a5-9575-9e6b24ed5fd6","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2420,1640],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"Vvd4l33y25T1xe1Q","name":"GitHub account 2"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"383c0532-837d-4df4-8f5e-c9159590261b","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[2619.2528427493457,1649.8065175238871]},{"parameters":{"filters":{}},"id":"d0f7e6fd-fa87-4caa-a54e-77b6fa91d918","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[2819.2528427493457,1649.8065175238871],"credentials":{"n8nApi":{"id":"51","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"63365493-f00b-4104-a042-5d87b0793c0d","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[3019.2528427493457,1649.8065175238871]},{"parameters":{"batchSize":1,"options":{}},"id":"9f5fa7fe-a645-4045-9183-bc4a4e4e456e","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[3259.2528427493457,1649.8065175238871]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"246e21ee-28e3-4a6f-8932-103d07c262c8","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[3499.2528427493457,1569.8065175238871]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"DarthSadist","mode":"list","cachedResultName":"DarthSadist","cachedResultUrl":"https://github.com/DarthSadist"},"repository":{"__rl":true,"value":"n8n-beta-workflow","mode":"list","cachedResultName":"n8n-beta-workflow","cachedResultUrl":"https://github.com/DarthSadist/n8n-beta-workflow"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"58c9239f-ae63-45c0-b154-4c201647ed88","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[3719,1369],"credentials":{"githubOAuth2Api":{"id":"Vvd4l33y25T1xe1Q","name":"GitHub account 2"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"DarthSadist","mode":"list","cachedResultName":"DarthSadist","cachedResultUrl":"https://github.com/DarthSadist"},"repository":{"__rl":true,"value":"bodymovin-extension","mode":"list","cachedResultName":"bodymovin-extension","cachedResultUrl":"https://github.com/DarthSadist/bodymovin-extension"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"633df802-0f64-4c87-b1b6-4d036339eb7d","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[3720,1760],"credentials":{"githubOAuth2Api":{"id":"Vvd4l33y25T1xe1Q","name":"GitHub account 2"}}},{"parameters":{},"id":"1973f658-61bc-433e-bba1-f609b889777b","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1580,1640]}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]},"node:Schedule Trigger1":{"recurrencyRules":[]}},"meta":null,"pinData":{},"versionId":"184ac09f-3b24-4315-a4bd-465052f578c5","triggerCount":2,"tags":[]}