my-workflow-60.json
{"createdAt":"2023-05-23T13:15:07.060Z","updatedAt":"2023-06-19T09:58:57.000Z","id":"60","name":"My workflow","active":false,"nodes":[{"parameters":{"path":"9beef4bb-3c0f-49a9-9b4c-1f88fd51911d","options":{}},"id":"1ce6ef78-4ddf-4744-9b0f-c5c022d978ca","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[160,320],"webhookId":"9beef4bb-3c0f-49a9-9b4c-1f88fd51911d"},{"parameters":{"chatId":"={{ $json.query.telegram_id }}","text":"Отправьте вашу геолокацию","replyMarkup":"replyKeyboard","replyKeyboard":{"rows":[{"row":{"buttons":[{"text":"Поделиться","additionalFields":{"request_location":true}}]}},{"row":{"buttons":[{"text":"продолжить","additionalFields":{}}]}}]},"replyKeyboardOptions":{},"additionalFields":{"disable_notification":true}},"id":"26ffc50e-c843-4afb-bd13-d1e31e9638cf","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[380,320],"credentials":{"telegramApi":{"id":"43","name":"геолокация"}}},{"parameters":{"key":"="},"id":"fd166e71-02fb-4caa-a1ee-5c3fd8469f10","name":"KVStorage","type":"@telepilotco/n8n-nodes-kv-storage.kvStorage","typeVersion":1,"position":[580,320]}],"connections":{"Webhook":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"KVStorage","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"9aa6c537-d535-48df-bbb8-6745ef469ca0","triggerCount":0,"tags":[]}