бот-помощник-dify-69.json
{"createdAt":"2023-10-19T05:37:50.333Z","updatedAt":"2023-10-22T07:11:55.000Z","id":"69","name":"Бот помощник Dify","active":false,"nodes":[{"parameters":{"conditions":{"number":[{"value1":"={{ $json.message.chat.id }}","operation":"equal","value2":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}"}]}},"id":"0c23c125-c016-4c66-9b13-ff42b1614d86","name":"Check chat ID","type":"n8n-nodes-base.if","typeVersion":1,"position":[2000,880]},{"parameters":{"amount":3,"unit":"seconds"},"id":"0ddb96e8-e567-4bbc-9a22-5066f36a5a28","name":"Wait 3 seconds","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2480,1060],"webhookId":"1ecae750-b51d-4b88-bb47-4592720e9dfb"},{"parameters":{"chatId":"={{ $node['Telegram trigger'].json.message.chat.id }}","text":"I'm not authorized to speak with you. ","additionalFields":{}},"id":"a2699952-58df-41af-b2ae-9bf4df58ccaa","name":"Send unauthorized info [TELEGRAM]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2680,1060],"credentials":{"telegramApi":{"id":"48","name":"Telegram account 3"}}},{"parameters":{"chatId":"={{ $node['Check chat ID'].json.message.chat.id }}","text":"={{ $('HTTP Request1').item.json[\"data\"] }}","additionalFields":{}},"id":"b49da4c3-121c-420b-8b32-14d87183898d","name":"Send response [TELEGRAM]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2940,640],"credentials":{"telegramApi":{"id":"55","name":"dify"}}},{"parameters":{"resource":"chat","prompt":{"messages":[{"role":"assistant","content":"You're an assistant called WorkfloowsAI. Your task is to help user with daily tasks."},{"role":"assistant","content":"="},{"content":"={{ $node[\"Telegram trigger\"].json[\"message\"][\"text\"] }}"}]},"options":{}},"id":"0f786aec-c645-405f-b26d-8a257b706f53","name":"Generate answer [OPENAI]","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[2340,580],"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.text }}","value2":"/start"}]}},"id":"956517a0-a074-4045-807f-92e17571aeef","name":"Check if start","type":"n8n-nodes-base.if","typeVersion":1,"position":[1780,860]},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"94d6aac2-1fe0-4aa5-990f-1f2a17f40f0f","name":"Telegram trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[1580,860],"webhookId":"1a1b3760-3c5a-4c6d-8227-ac6e95e157da","credentials":{"telegramApi":{"id":"55","name":"dify"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"id":"7004caee-04ac-4060-bd7c-6ac2182d757b","name":"Send typing action [TELEGRAM] [1]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2240,800],"credentials":{"telegramApi":{"id":"55","name":"dify"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"id":"9a32c117-921a-415a-abc7-f05b69d6a8ec","name":"Send typing action [TELEGRAM] [2]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2280,1060],"credentials":{"telegramApi":{"id":"48","name":"Telegram account 3"}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","text":"приступайте к работе","additionalFields":{}},"id":"5138ffd2-d474-4b28-9751-8c8953d0b14d","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1900,640],"credentials":{"telegramApi":{"id":"53","name":"GPT помощник Дениса"}}},{"parameters":{"jsCode":"// Получаем данные из узла HTTP\nconst inputData = items[0].json;\n\n// Извлекаем текст для проверки\nconst text = inputData.data;\n\n// Функция для проверки наличия символов кириллицы в тексте\nfunction hasCyrillic(text) {\n  const cyrillicRegex = /[а-яА-ЯЁё]/;\n  return cyrillicRegex.test(text);\n}\n\n// Функция для проверки наличия символов латиницы в тексте\nfunction hasLatin(text) {\n  const latinRegex = /[a-zA-Z]/;\n  return latinRegex.test(text);\n}\n\n// Проверяем, является ли текст кириллицей или латиницей\nconst isLatin = !hasCyrillic(text);\n\n// Возвращаем результат в виде массива объектов\nreturn [{ result: isLatin }];"},"id":"d93e40b4-1b1a-41ea-832d-be6baa48b07f","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[2560,800]},{"parameters":{"method":"POST","url":"https://fl.den-flowiseai.ru/api/v1/prediction/323585e3-d2c8-41e4-96c3-9224834ca265","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer as2SBlF7mZQ84rmDBefmo1ZX1YdRHIGNp2G/RJ8tlpw="}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"question","value":"={{ $('Telegram trigger').item.json[\"message\"][\"text\"] }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"id":"86af8a76-e7d0-415a-8966-9641a6f56281","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2400,800]},{"parameters":{"method":"POST","url":"https://fl.den-flowiseai.ru/api/v1/prediction/4e15d28e-00e0-49dd-9a9c-fccd84df8a65","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer as2SBlF7mZQ84rmDBefmo1ZX1YdRHIGNp2G/RJ8tlpw="}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"question","value":"={{ $('HTTP Request1').item.json[\"data\"] }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"id":"d9275b0d-3272-4d03-9c71-807b5320e627","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2940,820]},{"parameters":{"chatId":"={{ $node['Check chat ID'].json.message.chat.id }}","text":"={{ $('HTTP Request').item.json[\"data\"] }}","additionalFields":{}},"id":"a8f872ee-5e91-460b-bc23-8a3992a73d25","name":"Send response [TELEGRAM]1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[3140,820],"credentials":{"telegramApi":{"id":"55","name":"dify"}}},{"parameters":{"dataType":"boolean","value1":"={{ $json[\"result\"] }}","rules":{"rules":[{"value2":"={{ false }}"},{"operation":"=equal","value2":"={{ true }}","output":1}]}},"id":"92afc1e9-a1ba-493a-995b-1d198067bc96","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[2700,800]}],"connections":{"Check chat ID":{"main":[[{"node":"Send typing action [TELEGRAM] [1]","type":"main","index":0}],[{"node":"Send typing action [TELEGRAM] [2]","type":"main","index":0}]]},"Wait 3 seconds":{"main":[[{"node":"Send unauthorized info [TELEGRAM]","type":"main","index":0}]]},"Check if start":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Check chat ID","type":"main","index":0}]]},"Telegram trigger":{"main":[[{"node":"Check if start","type":"main","index":0}]]},"Send typing action [TELEGRAM] [1]":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Send typing action [TELEGRAM] [2]":{"main":[[{"node":"Wait 3 seconds","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send response [TELEGRAM]1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send response [TELEGRAM]","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"031410dc-0cee-4393-95bc-1c111501a4ff","triggerCount":1,"tags":[]}