бот-помощник-63.json
{"createdAt":"2023-10-13T10:09:39.565Z","updatedAt":"2023-10-29T10:03:19.000Z","id":"63","name":"Бот помощник","active":true,"nodes":[{"parameters":{"conditions":{"number":[{"value1":"={{ $json.message.chat.id }}","operation":"equal","value2":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}"}]}},"id":"d199e849-1312-4c5b-8205-4c0dd24a205e","name":"Check chat ID","type":"n8n-nodes-base.if","typeVersion":1,"position":[2000,880]},{"parameters":{"amount":3,"unit":"seconds"},"id":"b7a343c6-47cd-453e-93ec-33d7d59ab6ce","name":"Wait 3 seconds","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2480,1060],"webhookId":"5927178d-1fed-4ee6-bcad-c83fec83c92a"},{"parameters":{"chatId":"={{ $node['Telegram trigger'].json.message.chat.id }}","text":"I'm not authorized to speak with you. ","additionalFields":{}},"id":"54cacf59-aee8-4845-9ce0-8384b79ddba9","name":"Send unauthorized info [TELEGRAM]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2680,1060],"credentials":{"telegramApi":{"id":"48","name":"Telegram account 3"}}},{"parameters":{"chatId":"={{ $node['Check chat ID'].json.message.chat.id }}","text":"={{ $json[\"data\"] }}","additionalFields":{}},"id":"048dc6cf-f436-4b5a-863f-d48b37f047a7","name":"Send response [TELEGRAM]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2820,660],"credentials":{"telegramApi":{"id":"48","name":"Telegram account 3"}}},{"parameters":{"resource":"chat","prompt":{"messages":[{"role":"assistant","content":"You're an assistant called WorkfloowsAI. Your task is to help user with daily tasks."},{"role":"assistant","content":"="},{"content":"={{ $node[\"Telegram trigger\"].json[\"message\"][\"text\"] }}"}]},"options":{}},"id":"d37e8b54-9efa-4914-9a69-84598282cb51","name":"Generate answer [OPENAI]","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[2460,560],"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.text }}","value2":"/start"}]}},"id":"0fc48c40-173f-49f0-bcc0-4d13ac7db4f7","name":"Check if start","type":"n8n-nodes-base.if","typeVersion":1,"position":[1780,860]},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"12f0225b-7e7f-463a-8757-cab545a6a302","name":"Telegram trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[1580,860],"webhookId":"64456f84-9a61-4ccc-a28c-3aca7a498103","credentials":{"telegramApi":{"id":"53","name":"GPT помощник Дениса"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"id":"0b962216-7001-4581-b45b-8f53ecdff817","name":"Send typing action [TELEGRAM] [1]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2240,800],"credentials":{"telegramApi":{"id":"48","name":"Telegram account 3"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"id":"ee547e7c-fb57-445b-8ed7-a977bb2f5dd9","name":"Send typing action [TELEGRAM] [2]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2280,1060],"credentials":{"telegramApi":{"id":"48","name":"Telegram account 3"}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","text":"приступайте к работе","additionalFields":{}},"id":"80ee3df6-a350-4c6a-bfe0-d5821f1ef6ab","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1900,640],"credentials":{"telegramApi":{"id":"53","name":"GPT помощник Дениса"}}},{"parameters":{"method":"POST","url":"https://fl.den-flowiseai.ru/api/v1/prediction/b64ff358-5137-4374-af58-2cdd419f211a","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"question","value":"={{ $('Telegram trigger').item.json.message.text }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"id":"c6a18ee1-aa22-4c70-8e54-d5f41454e20c","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2460,740],"notesInFlow":true,"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"52","name":"Flowise Header Auth"}},"continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"operation":"notEqual","value2":"={{ true }}"}]}},"id":"c92809f2-bd5f-4d4d-9aba-ea2aa31816d2","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[2640,880]},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","text":"Привышение памяти","additionalFields":{}},"id":"17ea28b8-e197-435f-b333-87e130a24c65","name":"Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2840,840],"credentials":{"telegramApi":{"id":"53","name":"GPT помощник Дениса"}}}],"connections":{"Check chat ID":{"main":[[{"node":"Send typing action [TELEGRAM] [1]","type":"main","index":0}],[{"node":"Send typing action [TELEGRAM] [2]","type":"main","index":0}]]},"Wait 3 seconds":{"main":[[{"node":"Send unauthorized info [TELEGRAM]","type":"main","index":0}]]},"Check if start":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Check chat ID","type":"main","index":0}]]},"Telegram trigger":{"main":[[{"node":"Check if start","type":"main","index":0}]]},"Send typing action [TELEGRAM] [1]":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Send typing action [TELEGRAM] [2]":{"main":[[{"node":"Wait 3 seconds","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send response [TELEGRAM]","type":"main","index":0}]]},"IF":{"main":[[],[{"node":"Telegram1","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"9288ee91-4d3a-4f37-ac50-b4326258e387","triggerCount":1,"tags":[]}