дз-4.9-12.json
{"createdAt":"2023-03-14T02:38:20.567Z","updatedAt":"2023-04-24T22:07:11.000Z","id":"12","name":"ДЗ 4.9","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"b5a368d3-3f61-4630-af30-16eb6161e800","options":{}},"id":"4e4b458a-b322-434e-be4e-3c7a73910d69","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-80,180],"webhookId":"b5a368d3-3f61-4630-af30-16eb6161e800"},{"parameters":{"requestMethod":"POST","url":"=https://app.leadteh.ru/api/v1/getListItems?api_token=z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ&schema_id=63e2eb5bbecdbb2b1255b038&filters[id_intenger]={{ $node[\"Webhook\"].json[\"body\"][\"contact[id]\"] }}","allowUnauthorizedCerts":true,"responseFormat":"string","options":{},"headerParametersUi":{"parameter":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]}},"name":"получаем содержание корзины","type":"n8n-nodes-base.httpRequest","position":[60,-20],"typeVersion":1,"id":"11cde3dd-a4c2-4cee-b5e0-14ab4e86adfc"},{"parameters":{"fieldToSplitOut":"data.data","options":{}},"id":"fb4cd5b5-8d91-462f-a348-5252b6c451f2","name":"список корзины","type":"n8n-nodes-base.itemLists","typeVersion":2,"position":[200,180]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1XC0YTMJVVo3P2xPUlz3E5kYyL8HWNgAx6IMO9nwRDAE","mode":"list","cachedResultName":"Копия Корзина урок 4.9 3.0.1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XC0YTMJVVo3P2xPUlz3E5kYyL8HWNgAx6IMO9nwRDAE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Корзина урок 4.9 3.0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dQni3_zZIRCfX93W8CBgBKiHsLfo105a9QjrNq3phn0/edit#gid=0"},"fieldsUi":{"fieldValues":[{"fieldId":"tovar","fieldValue":"={{ $json[\"tovar\"] }}"},{"fieldId":"quantity","fieldValue":"={{ $json[\"kolicestvo\"] }}"},{"fieldId":"sum1","fieldValue":"={{ $json[\"obshhaya_stoimost\"] }}"}]},"options":{}},"id":"08c3e71d-ff4c-4264-92ff-a68153289d33","name":"запись в таблицу","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[320,-20],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1XC0YTMJVVo3P2xPUlz3E5kYyL8HWNgAx6IMO9nwRDAE","mode":"list","cachedResultName":"Копия Корзина урок 4.9 3.0.1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XC0YTMJVVo3P2xPUlz3E5kYyL8HWNgAx6IMO9nwRDAE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":400284226,"mode":"list","cachedResultName":"расчёт","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XC0YTMJVVo3P2xPUlz3E5kYyL8HWNgAx6IMO9nwRDAE/edit#gid=400284226"},"options":{}},"id":"7946d8dd-0b23-4f81-88f3-f4c856d622aa","name":"получение расчетных данных","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[480,180],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable?api_token=z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ","sendQuery":true,"queryParameters":{"parameters":[{"name":"contact_id","value":"={{ $node.Webhook.json.body[\"contact[id]\"] }}"},{"name":"name","value":"totalsum"},{"name":"value","value":"={{ $node[\"получение расчетных данных\"].json[\"Общая сумма заявки\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"options":{}},"id":"f5ed59d2-4e33-4f6d-8bf4-030fb96e5319","name":"totalsum","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[740,180]},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable?api_token=z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ","sendQuery":true,"queryParameters":{"parameters":[{"name":"contact_id","value":"={{ $node.Webhook.json.body[\"contact[id]\"] }}"},{"name":"name","value":"totalQuantity"},{"name":"value","value":"={{ $json[\"Общее количество в заявке\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"options":{}},"id":"233613bd-7631-4b3a-8be1-42e576a7fe7c","name":"totalQuantity","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[600,-20]},{"parameters":{"operation":"sendPhoto","chatId":"={{ $node[\"Webhook\"].json[\"body\"][\"contact[telegram_id]\"] }}","file":"https://i.postimg.cc/KY3dBZPM/wants-a-big-discount-on-office-paper-b5330dad-f9b2-4db5-8241-3ffb45d01ee1.png","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💰 Получить скидку","additionalFields":{"callback_data":"/b4950899"}}]}},{"row":{"buttons":[{"text":"🔁 Вернуться к покупкам","additionalFields":{"callback_data":"/b4993267"}}]}},{"row":{"buttons":[{"text":"💳 Оплатить","additionalFields":{"callback_data":"/b5128568"}}]}}]},"additionalFields":{"caption":"=У Вас товара в корзине {{ $node[\"получение расчетных данных\"].json[\"Общее количество в заявке\"] }}  шт. Общая сумма заказа {{ $node[\"получение расчетных данных\"].json[\"Общая сумма заявки\"] }} ₽\n\n<b>Важно:</b> для получения скидки необходимо приобрести более 10 пачек бумаги.","parse_mode":"HTML"}},"id":"bd6e8f56-47c0-4a60-a93e-43c0d9630819","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[880,-20],"credentials":{"telegramApi":{"id":"21","name":"магазин оф.бумага"}}},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable?api_token=z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ","sendQuery":true,"queryParameters":{"parameters":[{"name":"contact_id","value":"={{ $node.Webhook.json.body[\"contact[id]\"] }}"},{"name":"name","value":"msgcount"},{"name":"value","value":"={{ $node[\"Telegram\"].json[\"result\"][\"message_id\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"options":{}},"id":"8f1c0457-971d-4411-bff8-01fb61d56291","name":"msgcount","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1040,180]},{"parameters":{"operation":"clear","documentId":{"__rl":true,"value":"1XC0YTMJVVo3P2xPUlz3E5kYyL8HWNgAx6IMO9nwRDAE","mode":"list","cachedResultName":"Копия Корзина урок 4.9 3.0.1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XC0YTMJVVo3P2xPUlz3E5kYyL8HWNgAx6IMO9nwRDAE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Корзина урок 4.9 3.0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XC0YTMJVVo3P2xPUlz3E5kYyL8HWNgAx6IMO9nwRDAE/edit#gid=0"},"clear":"specificRange","range":"A3:F"},"id":"ec37951e-cde7-4cab-9738-072edb072c99","name":"очистить таблицу","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[-80,380],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"получаем содержание корзины","type":"main","index":0}]]},"получаем содержание корзины":{"main":[[{"node":"список корзины","type":"main","index":0}]]},"список корзины":{"main":[[{"node":"запись в таблицу","type":"main","index":0}]]},"запись в таблицу":{"main":[[{"node":"получение расчетных данных","type":"main","index":0}]]},"получение расчетных данных":{"main":[[{"node":"totalQuantity","type":"main","index":0}]]},"totalQuantity":{"main":[[{"node":"totalsum","type":"main","index":0}]]},"totalsum":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"msgcount","type":"main","index":0}]]},"msgcount":{"main":[[{"node":"очистить таблицу","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":"DEFAULT","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"10"},"staticData":null,"meta":null,"pinData":{"получаем содержание корзины":[{"json":{"data":{"data":[{"id":"64114b98ca1c3d256f2ac5be","contact_id":5315980,"created_at":"2023-03-15T04:37:44+00:00","updated_at":"2023-03-15T04:37:44+00:00","tovar":"Бумага BALLET BRILLIANT 500 л. 80 г/м2 А4 марка А+","cena_za_edinicu":500,"kolicestvo":1,"obshhaya_stoimost":500,"user_id":5315980,"id_intenger":5315980},{"id":"64119dae56b58109ad2c0643","contact_id":5315980,"created_at":"2023-03-15T10:27:58+00:00","updated_at":"2023-03-15T10:27:58+00:00","tovar":"Бумага СНЕГУРОЧКА 500 л. А4 марка С","cena_za_edinicu":300,"kolicestvo":1,"obshhaya_stoimost":300,"user_id":5315980,"id_intenger":5315980}],"links":{"first":"https://app.leadteh.ru/api/v1/getListItems?page=1","last":"https://app.leadteh.ru/api/v1/getListItems?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo; Назад","active":false},{"url":"https://app.leadteh.ru/api/v1/getListItems?page=1","label":1,"active":true},{"url":null,"label":"Вперёд &raquo;","active":false}],"path":"https://app.leadteh.ru/api/v1/getListItems","per_page":50,"to":2,"total":2}}}}]},"versionId":"504ff968-e6d9-48e2-99cb-68be42d22496","triggerCount":1,"tags":[]}