еще-один-цикл-57.json
{"createdAt":"2023-05-17T11:16:06.296Z","updatedAt":"2023-05-17T11:21:43.000Z","id":"57","name":"еще один цикл","active":false,"nodes":[{"parameters":{},"id":"fabd8a6a-5492-431c-b00f-fe4217046d1c","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[100,300]},{"parameters":{"jsCode":"return [\n  {\n    url: 'https://medium.com/feed/n8n-io',\n  },\n  {\n    url: 'https://dev.to/feed/n8n'\n  },\n  {\n    url: \"https://techcrunch.com/feed/\",\n  }\n];"},"id":"c9312aa5-6d1c-4740-8112-ed65f9ff79cb","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[300,300]},{"parameters":{"url":"={{ $json.url }}"},"id":"b907c0bf-ffb3-4d95-9928-72ecd54c5082","name":"RSS Read","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[740,260]},{"parameters":{"batchSize":1,"options":{}},"id":"0a60a3a7-b853-4bcc-a322-61fed457e3fb","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[520,300]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"title","value":"={{ $json.title }}"},{"name":"date","value":"={{ $json.pubDate }}"},{"name":"url","value":"={{ $json.link }}"}]},"options":{}},"id":"5b7844d7-64d8-463b-8ad8-7ab91a4f1096","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[880,260]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $node[\"Split In Batches\"].context[\"noItemsLeft\"] }}","value2":true}]}},"id":"bb91f686-fc7c-49c6-827d-3e0d94945c6d","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1040,260]},{"parameters":{"jsCode":"// Объявляем пустой массив allData\nconst allData = [];\n\n// Объявляем переменную для подсчета количества итераций\nlet counter = 0;\n\n// Создаем цикл do while, который будет выполняться бесконечно\ndo {\n  // Попытка выполнить следующий блок кода\n  try {\n    // Используем библиотеку $, чтобы получить элементы html тега \"Set\" начиная с первого и до counter-го включительно\n    const items = $(\"Set\").all(0, counter).map(item => item.json);\n    // Добавляем полученные элементы в массив allData\n    allData.push.apply(allData, items);\n  } catch (error) {\n    // Если в блоке try произошла ошибка, возвращаем массив allData в качестве ответа\n    return [{json: {allData}}];  \n  }\n\n  // Увеличиваем счетчик на единицу\n  counter++;\n} while(true);\n// Цикл будет выполняться бесконечно, пока не возникнет ошибка в блоке try."},"id":"b8c599d2-d0fa-420f-9988-f80f7d86ee3f","name":"Code1","type":"n8n-nodes-base.code","typeVersion":1,"position":[1200,240]},{"parameters":{"fieldToSplitOut":"allData","options":{}},"id":"83b6d1b8-df76-43af-b343-ee781ec665b7","name":"Item Lists","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1360,240]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"RSS Read","type":"main","index":0}]]},"RSS Read":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"Split In Batches","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Item Lists","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"4bbf2cff-9211-4dd1-ae8e-47fc5fca3c98","triggerCount":0,"tags":[]}