маркетплейс-услуг(архив-заявок-клиента)-49.json
{"createdAt":"2023-05-01T21:14:43.180Z","updatedAt":"2023-05-04T01:03:11.000Z","id":"49","name":"Маркетплейс услуг(архив заявок клиента)","active":true,"nodes":[{"parameters":{"path":"ad373117-bab0-45bc-8aaf-043a62022b20","options":{}},"id":"e07b016b-02b5-49ba-b8db-6cbc169d5e4e","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-240,320],"webhookId":"ad373117-bab0-45bc-8aaf-043a62022b20"},{"parameters":{"jsCode":"const inputData = items[0].json;\n\n// Создаем переменные для хранения значений x, msgid и klient_otvet_order\nlet xValue;\nlet msgidValue;\nlet klientOtvetOrderValue;\n\n// Проверяем, определен ли объект inputData.query, и перебираем его переменные\nif (inputData.query && inputData.query.variables) {\n  inputData.query.variables.forEach((variable) => {\n    if (variable.name === 'x') {\n      xValue = variable.value;\n    } else if (variable.name === 'msgid') {\n      msgidValue = variable.value;\n    } else if (variable.name === 'klient_otvet_order') {\n      klientOtvetOrderValue = variable.value;\n    }\n  });\n}\n\n// Возвращаем объект с единственными свойствами x, msgid и klient_otvet_order\nreturn [{ json: { x: xValue, msgid: msgidValue, klient_otvet_order: klientOtvetOrderValue } }];"},"id":"6bd636a5-a34f-4bb7-af02-87451c6d0da7","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[-100,320]},{"parameters":{"dataType":"string","value1":"={{ $json[\"x\"] }}","rules":{"rules":[{"value2":"1"}]}},"id":"1d64564f-eec7-403e-9ed5-19c4feba78ad","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[40,320]},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Telegram ID","lookupValue":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}"}]},"options":{"returnAllMatches":"returnAllMatches"}},"id":"2d032c08-94ed-4243-96af-364c729de997","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[220,200],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"93e7d868-c7ad-47f7-bef5-59fb837fcfe7","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[880,200],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=📁👀 <b>Заявки в архиве доступны для просмотра. Получите полный доступ к истории обращений.</b> 💻💰\n\n{{ $node[\"text\"].json[\"aggregatedText\"] }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔵 Личный кабинет","additionalFields":{"callback_data":"Личный кабинет"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"cf33b60c-9a5a-4d6c-bc02-5993b7f237cb","name":"Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1020,200],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"jsCode":"let aggregatedText = '';\n\nconst FUNNEL_STATUS_MAP = {\n  '9.': '💪 клиент принял работу',\n  '8.': '❌ клиент отказался',\n  '6.': '💳 цена направлена на согласование клиенту',\n  '7.': '✅ клиент подтвердил',\n  '10.': '🪛 клиент отправил на доработку'\n};\n\nfunction formatText(value) {\n  return value ? `<i>${value}</i>` : 'Нет';\n}\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  let description = item.json['Задача'];\n  let date = item.json['Дата заказа'];\n  let time = item.json['Время заказа'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  let cost = '';\n  let additionalMaterials = '';\n  let comment = '';\n  let photo = '';\n  let showAdditionalInfo = false;\n\n  if (funnel === '8. клиент отказался' || funnel === '9. клиент принял работу' || funnel === '10. клиент отправил на доработку') {\n      date = item.json['Дата исполнения'];\n      time = item.json['Время исполнения'];\n      description = item.json['Описание работ'];\n      cost = formatText(item.json['Стоимость работ']);\n      additionalMaterials = formatText(item.json['Доп. материалы']);\n      comment = formatText(item.json['Комментарий']);\n      photo = formatText(item.json['Фото']);\n  }\n\n  funnel = FUNNEL_STATUS_MAP[funnel.slice(0, 2)] || funnel;\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> ${formatText(specialist)}\\n`;\n  aggregatedText += `• 📃<b>Описание работ:</b> ${formatText(description)}\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> ${formatText(date)}\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> ${formatText(time)}\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> ${formatText(funnel)}\\n`;\n\n  if (cost) {\n    aggregatedText += `• 💰 <b>Стоимость работ:</b> ${cost} ₽\\n`;\n  }\n  \n  if (additionalMaterials) {\n    aggregatedText += `• 🛒 <b>Доп. материалы:</b> ${additionalMaterials}\\n`;\n  }\n  \n  if (comment) {\n    aggregatedText += `• 💬 <b>Комментарий:</b> ${comment}\\n`;\n  }\n  \n  if (photo) {\n    aggregatedText += `• 📷 <b>Фото:</b> ${photo}\\n`;\n  }\n\n  if (showAdditionalInfo && masterAppointed) {\n    aggregatedText += `• 🧰 <b>Мастер исполнитель:</b><i>👋 ${masterAppointed}</i>\\n`;\n  } else if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Мастер исполнитель: </b><i>👋 ${masterAppointed}</i>\\n`;\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{ json: { aggregatedText } }];"},"id":"cb374378-72f6-414f-baab-0521240e17ac","name":"text","type":"n8n-nodes-base.code","typeVersion":1,"position":[740,200]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json[\"isEmpty\"] }}","value2":true}]}},"id":"d00de363-00f7-4eee-a484-47babd1524b1","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[540,200],"alwaysOutputData":false},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"33fa750c-afcb-45af-8caf-789d57aeb968","name":"Telegram2","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[520,20],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}},"continueOnFail":true},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=📁🤷‍♂️ <b>Архив пуст. Заявок нет.</b>","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔵 Личный кабинет","additionalFields":{"callback_data":"Личный кабинет"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"da2ea7a9-0370-410a-9bbf-34ec6668b8b7","name":"Telegram3","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[680,20],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}},"continueOnFail":true},{"parameters":{"jsCode":"const inputData = items;\n\nconst filteredData = inputData.filter((item) => {\n  const funnelValue = item.json[\"Воронка\"];\n  return (\n    funnelValue === \"8. клиент отказался\" ||\n    funnelValue === \"9. клиент принял работу\"\n  );\n});\n\nif (Object.keys($node['Google Sheets'].json).length === 0 || filteredData.length === 0) {\n  return [{json: {isEmpty: true}}];\n} else {\n  return filteredData;\n}"},"id":"72dc5f46-6fb7-4bdc-b28f-762d03b98c23","name":"Code1","type":"n8n-nodes-base.code","typeVersion":1,"position":[360,200]}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"text":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"IF":{"main":[[{"node":"Telegram2","type":"main","index":0}],[{"node":"text","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"Code1":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"4d59a838-cfd4-469f-975b-c4c8b4db0424","triggerCount":1,"tags":[]}