маркетплейс-услуг(текущие-заявки-клиента)-40.json
{"createdAt":"2023-04-21T23:17:13.724Z","updatedAt":"2023-05-11T04:38:42.000Z","id":"40","name":"Маркетплейс услуг(Текущие заявки клиента)","active":true,"nodes":[{"parameters":{"path":"0bad83c6-9da5-4e07-a5b7-4e9cd9854958","options":{}},"id":"a5250991-9ddb-45ac-b9fc-a33119840609","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[220,460],"webhookId":"0bad83c6-9da5-4e07-a5b7-4e9cd9854958"},{"parameters":{"jsCode":"const inputData = items[0].json;\n\n// Создаем переменные для хранения значений x, msgid и klient_otvet_order\nlet xValue;\nlet msgidValue;\nlet klientOtvetOrderValue;\n\n// Проверяем, определен ли объект inputData.query, и перебираем его переменные\nif (inputData.query && inputData.query.variables) {\n  inputData.query.variables.forEach((variable) => {\n    if (variable.name === 'x') {\n      xValue = variable.value;\n    } else if (variable.name === 'msgid') {\n      msgidValue = variable.value;\n    } else if (variable.name === 'klient_otvet_order') {\n      klientOtvetOrderValue = variable.value;\n    }\n  });\n}\n\n// Возвращаем объект с единственными свойствами x, msgid и klient_otvet_order\nreturn [{ json: { x: xValue, msgid: msgidValue, klient_otvet_order: klientOtvetOrderValue } }]; "},"id":"d83aad75-498f-47fe-a0ac-9edf59b3a3d6","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[380,460]},{"parameters":{"dataType":"string","value1":"={{ $json[\"x\"] }}","rules":{"rules":[{"value2":"1"},{"value2":"2","output":1},{"value2":"3","output":2},{"value2":"4","output":3},{"value2":"5","output":3},{"value2":"6","output":2}]}},"id":"029ddf78-08a6-4789-a972-b6cfe0c39301","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[520,460]},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Telegram ID","lookupValue":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}"}]},"options":{"returnAllMatches":"returnAllMatches"}},"id":"0b1d8d94-9c03-4eba-9836-51d8b1dee44b","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[180,200],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  let description = item.json['Задача'];\n  let date = item.json['Дата заказа'];\n  let time = item.json['Время заказа'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  let cost = '';\n  let additionalMaterials = '';\n  let comment = '';\n  let photo = '';\n  let showAdditionalInfo = false;\n\n  if (funnel === \"6. цена направлена на согласование клиенту\") {\n      date = item.json['Дата исполнения'];\n      time = item.json['Время исполнения'];\n      description = item.json['Описание работ'];\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n  } else if (funnel === \"7. клиент подтвердил\" || funnel === \"10. клиент отправил на доработку\") {\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n      showAdditionalInfo = true;\n  } else if (funnel === \"3. заявка передана мастерам\") {\n      funnel = '🫴 заявка передана мастерам';\n  }\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🔧 клиент отправил на доработку';\n  }\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃<b>Описание работ:</b> <i>${description}</i>\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> <i>${date}</i>\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> <i>${time}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${funnel}</i>\\n`;\n\n  if (cost) {\n    aggregatedText += `• 💰 <b>Стоимость работ:</b> <i>${cost}</i>\\n`;\n  }\n  \n  if (additionalMaterials) {\n    aggregatedText += `• 🛒 <b>Доп. материалы:</b> <i>${additionalMaterials}</i>\\n`;\n  }\n  \n  if (comment) {\n    aggregatedText += `• 💬 <b>Комментарий:</b> <i>${comment}</i>\\n`;\n  }\n  \n  if (photo) {\n    aggregatedText += `• 📷 <b>Фото:</b> <i>${photo}</i>\\n`;\n  }\n\n  if (showAdditionalInfo && masterAppointed) {\n    aggregatedText += `• 🧰 <b>Мастер исполнитель:</b><i>👋 ${masterAppointed}</i>\\n`;\n  } else if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Вам назначен мастер: </b><i>👋 ${masterAppointed}</i>\\n`;\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{json: {aggregatedText: aggregatedText}}];"},"id":"0c548a50-8843-4646-9511-4c56d0125789","name":"текст","type":"n8n-nodes-base.code","typeVersion":1,"position":[1300,80]},{"parameters":{"jsCode":"const buttons = items.map(item => {\n  const rowNumber = item.json['row_number'];\n  const createdDate = item.json['Дата создания']; // получаем значение Дата создания\n  return {\n    text: `🟢 Заявка №${rowNumber}`,\n    callback_data: createdDate // используем значение Дата создания в качестве callback_data\n  };\n});\n\nconst keyboardRows = buttons.reduce((resultArray, item, index) => { \n  const chunkIndex = Math.floor(index / 3);\n\n  if(!resultArray[chunkIndex]) {\n    resultArray[chunkIndex] = [] // начинаем новый ряд\n  }\n\n  resultArray[chunkIndex].push(item);\n\n  return resultArray;\n}, []);\n\nconst keyboard = {\n  inline_keyboard: [...keyboardRows, [\n    {\n      text: \"🔵 Личный кабинет\",\n      callback_data: \"Личный кабинет\"\n    }\n  ]]\n};\n\nreturn { json: { reply_markup: JSON.stringify(keyboard) } };"},"id":"5ff0f765-246a-42f2-98a7-8a4f57d0fef4","name":"кнопки","type":"n8n-nodes-base.code","typeVersion":1,"position":[1300,220]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json[\"isEmpty\"] }}","operation":"=equal","value2":true}]}},"id":"15458746-cb32-481b-9e1a-9c98b29e1e98","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[660,200]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"d950f313-61c6-4be9-9264-0424fbd1a3d6","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[1660,120]},{"parameters":{"url":"https://api.telegram.org/bot6255776658:AAE7tUXJpMBh9ZZN7BhV03bPvyfD5g3peQU/sendMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"chat_id","value":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}"},{"name":"=text","value":"=<b>Ваши текущие заявки</b>\n\n{{ $node[\"Merge\"].json[\"aggregatedText\"] }}\n\n\n<b>⚙ Нажмите на кнопку выбранной вами заявки</b>👇"},{"name":"reply_markup","value":"={{ $node[\"Merge\"].json[\"reply_markup\"] }}"},{"name":"parse_mode","value":"HTML"}]},"options":{}},"id":"7a5cc5d0-8f38-4ef3-9ebb-0177a88d7a65","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1940,120]},{"parameters":{"jsCode":"const inputData = items;\n\nconst filteredData = inputData.filter((item) => {\n  const funnelValue = item.json[\"Воронка\"];\n  return (\n    funnelValue !== \"8. клиент отказался\" &&\n    funnelValue !== \"9. клиент принял работу\"\n  );\n});\n\nif (Object.keys($node['Google Sheets'].json).length === 0 || filteredData.length === 0) {\n  return [{json: {isEmpty: true}}];\n} else {\n  return filteredData;\n}"},"id":"6955baf2-dbfc-4405-8a96-875f84210cf2","name":"фильтр","type":"n8n-nodes-base.code","typeVersion":1,"position":[440,200]},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Дата создания","lookupValue":"={{ $node[\"Code\"].json[\"klient_otvet_order\"] }}"}]},"options":{}},"id":"ca7cd60f-176f-4584-a576-8f5b5188115c","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[780,460],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  const task = item.json['Задача'];\n  const date = item.json['Дата заказа'];\n  const time = item.json['Время заказа'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🪛 клиент отправил на доработку';\n  }\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃<b>Задача:</b> <i>${task}</i>\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> <i>${date}</i>\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> <i>${time}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${funnel}</i>\\n`;\n\n  if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Вам назначен мастер: </b><i>👋 ${masterAppointed}</i>\\n`\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{json: {aggregatedText: aggregatedText}}];"},"id":"a69c150a-8fc5-4c95-b272-a40d7aede803","name":"текст1","type":"n8n-nodes-base.code","typeVersion":1,"position":[1780,840]},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"1a4033ad-a332-49b8-9315-73331dd55db5","name":"удалить сообщение","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[620,-80],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"42b948de-05c9-4898-a308-6684103b993b","name":"удалить сообщение1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1800,120],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"8c1568b1-01ea-46ad-95a5-c67f13fb1784","name":"удалить сообщение2","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1940,840],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=🛠️ К сожалению, в данный момент у Вас нет заявок на услуги наших мастеров.\n\nОднако не отчаивайтесь! 💪 Если у вас будет необходимость, создайте заявку и наши профессионалы с радостью окажут вам помощь! 💰","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔵 Личный кабинет","additionalFields":{"callback_data":"Личный кабинет"}}]}}]},"additionalFields":{}},"id":"47dcbc26-0c51-4ff0-a9bb-e381834f5580","name":"нет заявок","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[780,-80],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=<b>Заявка для обработки</b> 👇\n\n{{ $node[\"текст1\"].json[\"aggregatedText\"] }}\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔵 Личный кабинет","additionalFields":{"callback_data":"Личный кабинет"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"50404272-539d-4793-a243-0a27721e33d2","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2100,840],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Дата создания","lookupValue":"={{ $node[\"Code\"].json[\"klient_otvet_order\"] }}"}]},"options":{}},"id":"548bddee-ef45-4d93-8585-8e03b3a4e4e4","name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[-60,1080],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Дата создания","lookupValue":"={{ $node[\"Code\"].json[\"klient_otvet_order\"] }}"}]},"options":{}},"id":"ab08e50a-eeba-4494-8945-af6b092c1cad","name":"Google Sheets3","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[-60,1280],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"columnToMatchOn":"Дата создания","valueToMatchOn":"={{ $json[\"Дата создания\"] }}","fieldsUi":{"values":[{"column":"Воронка","fieldValue":"9. клиент принял работу"}]},"options":{}},"id":"a3cc46bb-06b3-44ed-8b09-5fdfaf9a4726","name":"Google Sheets4","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[100,1080],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Дата создания","lookupValue":"={{ $node[\"Code\"].json[\"klient_otvet_order\"] }}"}]},"options":{}},"id":"31c691fa-5675-4b8d-bbea-9b89658816d7","name":"Google Sheets5","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[260,1080],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"6b0ef922-c330-412c-9007-09d90d9132c3","name":"удалить сообщение3","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[580,1080],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=<b>Статус заявки изменился</b> 👇\n\n{{ $node[\"Code1\"].json[\"aggregatedText\"] }}\n\n\nМы очень рады, что наш сервис был вам полезен! 💰💸💰 Мы ценим вашу лояльность и надеемся на продолжение нашего плодотворного сотрудничества. 🤝 С уважением, администарация ","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔵 Личный кабинет","additionalFields":{"callback_data":"Личный кабинет"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"8c7ef70a-8e3d-4c37-a6ee-3e11ad2ac3f3","name":"Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[740,1080],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"columnToMatchOn":"Дата создания","valueToMatchOn":"={{ $json[\"Дата создания\"] }}","fieldsUi":{"values":[{"column":"Воронка","fieldValue":"10. клиент отправил на доработку"}]},"options":{}},"id":"04b03d9d-0896-46e7-98ad-90119bb2a1d5","name":"Google Sheets6","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[100,1280],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Дата создания","lookupValue":"={{ $node[\"Code\"].json[\"klient_otvet_order\"] }}"}]},"options":{}},"id":"e6699780-5726-4039-af70-8c66d5bea285","name":"Google Sheets7","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[260,1280],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"cd58a7ce-6083-4d2e-b68d-77b247748583","name":"удалить сообщение4","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[580,1280],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=<b>Статус заявки изменился</b> 👇\n\n{{ $node[\"Code2\"].json[\"aggregatedText\"] }}\n\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔵 Личный кабинет","additionalFields":{"callback_data":"Личный кабинет"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"bc6a74e0-1eb9-4252-8d34-464b1e90a91d","name":"Telegram2","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[740,1280],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  let funnel = item.json['Воронка'];\n\n  funnel = funnel.slice(funnel.indexOf('.') + 2); // удаляем число и точку\n\n  aggregatedText += `👌 <b>Заявка №${rowNumber}</b>`;\n  aggregatedText += `\\n<i>Статус заявки изменился на ${funnel}</i> ✍\\n\\n`;\n});\n\nreturn [{json: {aggregatedText}}];"},"id":"f3fead06-0619-439c-8bd9-4e2a60a3ae69","name":"Code1","type":"n8n-nodes-base.code","typeVersion":1,"position":[420,1080]},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  let funnel = item.json['Воронка'];\n\n  funnel = funnel.slice(funnel.indexOf('.') + 2); // удаляем число и точку\n\n  aggregatedText += `👌 <b>Заявка №${rowNumber}</b>`;\n  aggregatedText += `\\n<i>Статус заявки изменился на ${funnel}</i> ✍\\n\\n`;\n});\n\nreturn [{json: {aggregatedText}}];"},"id":"5131f3f7-dc56-477d-b616-8855190c6056","name":"Code2","type":"n8n-nodes-base.code","typeVersion":1,"position":[420,1280]},{"parameters":{"jsCode":"function getStatus(funnel) {\n  switch (funnel.split('.')[0]) {\n    case '4': return '📝 Мастер назначен';\n    case '5': return '🚶 1ый визит мастера завершен';\n    case '6': return '💳 Цена направлена на согласование клиенту';\n    case '7': return '✅ Клиент подтвердил';\n    case '10': return '🪛 Клиент отправил на доработку';\n    default: return funnel;\n  }\n}\n\nlet aggregatedText = '';\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  const description = item.json['Описание работ'];\n  const executionDate = item.json['Дата исполнения'];\n  const executionTime = item.json['Время исполнения'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  const cost = item.json['Стоимость работ'] || '-';\n  const additionalMaterials = item.json['Доп. материалы'] || '-';\n  const comment = item.json['Комментарий'] || '-';\n  const photo = item.json['Фото'] || '-';\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 Мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 Цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ Клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🪛 Клиент отправил на доработку';\n  }\n  \n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤 <b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃 <b>Описание работ:</b> <i>${description}</i>\\n`;\n  aggregatedText += `• 📅 <b>Дата исполнения:</b> <i>${executionDate}</i>\\n`;\n  aggregatedText += `• 🕰 <b>Время исполнения:</b> <i>${executionTime}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${getStatus(funnel)}</i>\\n`;\n  aggregatedText += `• 💰 <b>Стоимость работ:</b> <i>${cost}</i> ₽\\n`;\n  aggregatedText += `• 🗃 <b>Доп. материалы:</b> <i>${additionalMaterials}</i>\\n`;\n  aggregatedText += `• 💬 <b>Комментарий:</b> <i>${comment}</i>\\n`;\n  aggregatedText += `• 📷 <b>Фото:</b> <i>${photo}</i>\\n`;\n  \n  if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Мастер исполнитель:</b><i> 👋 ${masterAppointed}</i>\\n`;\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{ json: { aggregatedText } }];"},"id":"ff779090-72ed-46b5-bc19-09b181b0c430","name":"текст2","type":"n8n-nodes-base.code","typeVersion":1,"position":[1180,440]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"Воронка\"] }}","value2":"6. цена направлена на согласование клиенту"}]}},"id":"c2ead129-c536-4899-8c9a-5f00dbbcb6ef","name":"IF2","type":"n8n-nodes-base.if","typeVersion":1,"position":[940,460]},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"301b6723-7c0d-4c31-a00f-c3407ca80e18","name":"удалить сообщение5","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1320,440],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=<b>Заявка для обработки</b> 👇\n\n{{ $node[\"текст2\"].json[\"aggregatedText\"] }}\n\n👉✔ Нажмите \"Подтвердить\", чтобы подтвердить заявку\n\n👉❌ Нажмите \"Отказаться\", если условия Вас не усраивают.\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✔ Подтвердить","additionalFields":{"callback_data":"Подтвердить"}}]}},{"row":{"buttons":[{"text":"❌ Отказаться","additionalFields":{"callback_data":"Отказаться"}}]}},{},{"row":{"buttons":[{"text":"🔵 Личный кабинет","additionalFields":{"callback_data":"Личный кабинет"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"d746b1fc-829c-4eda-89b7-f6c087fdc6bc","name":"Telegram3","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1460,440],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"x\"] }}","value2":"4"}]}},"id":"1517b383-0a09-4c60-ba07-8da1effae970","name":"IF3","type":"n8n-nodes-base.if","typeVersion":1,"position":[-240,1360]},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Дата создания","lookupValue":"={{ $node[\"Code\"].json[\"klient_otvet_order\"] }}"}]},"options":{}},"id":"43173e64-b1dc-4af3-81f1-16b6c888c7c5","name":"Google Sheets8","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[-60,1480],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"columnToMatchOn":"Дата создания","valueToMatchOn":"={{ $json[\"Дата создания\"] }}","fieldsUi":{"values":[{"column":"Воронка","fieldValue":"7. клиент подтвердил"}]},"options":{}},"id":"5fda9749-1068-4ede-ac9b-48514bf5aed1","name":"Google Sheets9","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[100,1480],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Дата создания","lookupValue":"={{ $node[\"Code\"].json[\"klient_otvet_order\"] }}"}]},"options":{}},"id":"e013baa7-b42e-4a78-b951-a56bdeb49bad","name":"Google Sheets10","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[260,1480],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"jsCode":"function getStatus(funnel) {\n  switch (funnel.split('.')[0]) {\n    case '4': return '📝 Мастер назначен';\n    case '5': return '🚶 1ый визит мастера завершен';\n    case '6': return '💳 Цена направлена на согласование клиенту';\n    case '7': return '✅ Клиент подтвердил';\n    case '10': return '🪛 Клиент отправил на доработку';\n    default: return funnel;\n  }\n}\n\nlet aggregatedText = '';\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  const description = item.json['Описание работ'];\n  const executionDate = item.json['Дата исполнения'];\n  const executionTime = item.json['Время исполнения'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  const cost = item.json['Стоимость работ'] || '-';\n  const additionalMaterials = item.json['Доп. материалы'] || '-';\n  const comment = item.json['Комментарий'] || '-';\n  const photo = item.json['Фото'] || '-';\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 Мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 Цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ Клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🪛 Клиент отправил на доработку';\n  }\n  \n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤 <b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃 <b>Описание работ:</b> <i>${description}</i>\\n`;\n  aggregatedText += `• 📅 <b>Дата исполнения:</b> <i>${executionDate}</i>\\n`;\n  aggregatedText += `• 🕰 <b>Время исполнения:</b> <i>${executionTime}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${getStatus(funnel)}</i>\\n`;\n  aggregatedText += `• 💰 <b>Стоимость работ:</b> <i>${cost}</i> ₽\\n`;\n  aggregatedText += `• 🗃 <b>Доп. материалы:</b> <i>${additionalMaterials}</i>\\n`;\n  aggregatedText += `• 💬 <b>Комментарий:</b> <i>${comment}</i>\\n`;\n  aggregatedText += `• 📷 <b>Фото:</b> <i>${photo}</i>\\n`;\n  \n  if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Мастер исполнитель:</b><i> 👋 ${masterAppointed}</i>\\n`;\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{ json: { aggregatedText } }];"},"id":"e80f1719-4f1d-495f-98a7-b0f6fac60376","name":"текст3","type":"n8n-nodes-base.code","typeVersion":1,"position":[420,1480]},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"c783ca10-a779-461b-a613-b2600786ff69","name":"удалить сообщение6","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[580,1480],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=<b>Статус заявки изменился</b> 👇\n\n{{ $node[\"текст3\"].json[\"aggregatedText\"] }}\n\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔵 Личный кабинет","additionalFields":{"callback_data":"Личный кабинет"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"0cb0cdd6-86b8-4638-a738-87cebde295de","name":"Telegram4","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[740,1480],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"dataType":"string","value1":"={{ $json[\"Воронка\"] }}","rules":{"rules":[{"value2":"7. клиент подтвердил"},{"value2":"10. клиент отправил на доработку","output":1},{"value2":"4. мастер назначен","output":2},{"value2":"3. заявка передана мастерам","output":2},{"value2":"5. 1ый визит мастера завершен","output":3}]}},"id":"99f3d765-7d84-42ea-b1c1-f0fa24e4a7da","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":1,"position":[1340,620]},{"parameters":{"jsCode":"function getStatus(funnel) {\n  switch (funnel.split('.')[0]) {\n    case '4': return '📝 Мастер назначен';\n    case '5': return '🚶 1ый визит мастера завершен';\n    case '6': return '💳 Цена направлена на согласование клиенту';\n    case '7': return '✅ Клиент подтвердил';\n    case '10': return '🪛 Клиент отправил на доработку';\n    default: return funnel;\n  }\n}\n\nlet aggregatedText = '';\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  const description = item.json['Описание работ'];\n  const executionDate = item.json['Дата исполнения'];\n  const executionTime = item.json['Время исполнения'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  const cost = item.json['Стоимость работ'] || '-';\n  const additionalMaterials = item.json['Доп. материалы'] || '-';\n  const comment = item.json['Комментарий'] || '-';\n  const photo = item.json['Фото'] || '-';\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 Мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 Цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ Клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🪛 Клиент отправил на доработку';\n  }\n  \n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤 <b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃 <b>Описание работ:</b> <i>${description}</i>\\n`;\n  aggregatedText += `• 📅 <b>Дата исполнения:</b> <i>${executionDate}</i>\\n`;\n  aggregatedText += `• 🕰 <b>Время исполнения:</b> <i>${executionTime}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${getStatus(funnel)}</i>\\n`;\n  aggregatedText += `• 💰 <b>Стоимость работ:</b> <i>${cost} ₽</i>\\n`;\n  aggregatedText += `• 🗃 <b>Доп. материалы:</b> <i>${additionalMaterials}</i>\\n`;\n  aggregatedText += `• 💬 <b>Комментарий:</b> <i>${comment}</i>\\n`;\n  aggregatedText += `• 📷 <b>Фото:</b> <i>${photo}</i>\\n`;\n  \n  if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Мастер исполнитель:</b><i> 👋 ${masterAppointed}</i>\\n`;\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{ json: { aggregatedText } }];"},"id":"82afb5f5-684c-4193-83ea-5c3fb8920506","name":"текст4","type":"n8n-nodes-base.code","typeVersion":1,"position":[1780,440]},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"aaa0922f-03a0-4ab7-9dad-4e106efb965c","name":"удалить сообщение7","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1940,440],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=<b>Заявка для обработки</b> 👇\n\n{{ $node[\"текст4\"].json[\"aggregatedText\"] }}\n\n\n👉✅ Нажмите \"Выполнено\", чтобы принять работу.\n\n👉➕ Если необходимо доделать работу, нажмите кнопку \"Доделать работу\"","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Выполнено","additionalFields":{"callback_data":"Выполнено"}}]}},{"row":{"buttons":[{"text":"➕ Доделать работу","additionalFields":{"callback_data":"Доделать работу"}}]}},{"row":{"buttons":[{"text":"🔵 Личный кабинет","additionalFields":{"callback_data":"Личный кабинет"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"a3ba622e-ac36-4a19-a36b-ce8c0f847ec3","name":"Telegram5","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2100,440],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"jsCode":"function getStatus(funnel) {\n  switch (funnel.split('.')[0]) {\n    case '4': return '📝 Мастер назначен';\n    case '5': return '🚶 1ый визит мастера завершен';\n    case '6': return '💳 Цена направлена на согласование клиенту';\n    case '7': return '✅ Клиент подтвердил';\n    case '10': return '🪛 Клиент отправил на доработку';\n    default: return funnel;\n  }\n}\n\nlet aggregatedText = '';\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  const description = item.json['Описание работ'];\n  const executionDate = item.json['Дата исполнения'];\n  const executionTime = item.json['Время исполнения'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  const cost = item.json['Стоимость работ'] || '-';\n  const additionalMaterials = item.json['Доп. материалы'] || '-';\n  const comment = item.json['Комментарий'] || '-';\n  const photo = item.json['Фото'] || '-';\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 Мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 Цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ Клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🪛 Клиент отправил на доработку';\n  }\n  \n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤 <b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃 <b>Описание работ:</b> <i>${description}</i>\\n`;\n  aggregatedText += `• 📅 <b>Дата исполнения:</b> <i>${executionDate}</i>\\n`;\n  aggregatedText += `• 🕰 <b>Время исполнения:</b> <i>${executionTime}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${getStatus(funnel)}</i>\\n`;\n  aggregatedText += `• 💰 <b>Стоимость работ:</b> <i>${cost} ₽</i> ₽\\n`;\n  aggregatedText += `• 🗃 <b>Доп. материалы:</b> <i>${additionalMaterials}</i>\\n`;\n  aggregatedText += `• 💬 <b>Комментарий:</b> <i>${comment}</i>\\n`;\n  aggregatedText += `• 📷 <b>Фото:</b> <i>${photo}</i>\\n`;\n  \n  if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Мастер исполнитель:</b><i> 👋 ${masterAppointed}</i>\\n`;\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{ json: { aggregatedText } }];"},"id":"9d09fd1f-9e57-4bfa-a890-cf429c870ac8","name":"текст5","type":"n8n-nodes-base.code","typeVersion":1,"position":[1780,640]},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"7052953f-fbd5-4a96-a134-e236686e845d","name":"удалить сообщение8","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1940,640],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=<b>Заявка для обработки</b> 👇\n\n{{ $node[\"текст5\"].json[\"aggregatedText\"] }}\n\n\n👉✅ Нажмите \"Выполнено\", чтобы принять работу.\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Выполнено","additionalFields":{"callback_data":"Выполнено"}}]}},{"row":{"buttons":[{"text":"🔵 Личный кабинет","additionalFields":{"callback_data":"Личный кабинет"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"546e2689-783a-4265-9257-5106de929b2a","name":"Telegram6","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2100,640],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"Воронка\"] }}","value2":"4. мастер назначен"}]}},"id":"37ea2bed-6b06-4df1-8533-cbc167fa3b7f","name":"IF4","type":"n8n-nodes-base.if","typeVersion":1,"position":[1600,720]},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  let description = item.json['Задача'];\n  let date = item.json['Дата заказа'];\n  let time = item.json['Время заказа'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  let cost = '';\n  let additionalMaterials = '';\n  let comment = '';\n  let photo = '';\n  let showAdditionalInfo = false;\n\n  if (funnel === \"6. цена направлена на согласование клиенту\") {\n      date = item.json['Дата исполнения'];\n      time = item.json['Время исполнения'];\n      description = item.json['Описание работ'];\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n  } else if (funnel === \"7. клиент подтвердил\" || funnel === \"10. клиент отправил на доработку\") {\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n      showAdditionalInfo = true;\n  } else if (funnel === \"3. заявка передана мастерам\") {\n      funnel = '🫴 заявка передана мастерам';\n  }\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🔧 клиент отправил на доработку';\n  }\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃<b>Описание работ:</b> <i>${description}</i>\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> <i>${date}</i>\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> <i>${time}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${funnel}</i>\\n`;\n\n  if (cost) {\n    aggregatedText += `• 💰 <b>Стоимость работ:</b> <i>${cost}</i>\\n`;\n  }\n  \n  if (additionalMaterials) {\n    aggregatedText += `• 🛒 <b>Доп. материалы:</b> <i>${additionalMaterials}</i>\\n`;\n  }\n  \n  if (comment) {\n    aggregatedText += `• 💬 <b>Комментарий:</b> <i>${comment}</i>\\n`;\n  }\n  \n  if (photo) {\n    aggregatedText += `• 📷 <b>Фото:</b> <i>${photo}</i>\\n`;\n  }\n\n  if (showAdditionalInfo && masterAppointed) {\n    aggregatedText += `• 🧰 <b>Мастер исполнитель:</b><i>👋 ${masterAppointed}</i>\\n`;\n  } else if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Вам назначен мастер: </b><i>👋 ${masterAppointed}</i>\\n`;\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{json: {aggregatedText: aggregatedText}}];"},"id":"142b8452-4968-42f7-b14c-7da4c84681d7","name":"текст6","type":"n8n-nodes-base.code","typeVersion":1,"position":[1780,1040]},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"ebc24a43-5bf4-4759-8c6a-aebb9403beff","name":"удалить сообщение9","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1940,1040],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=<b>Заявка для обработки</b> 👇\n\n{{ $node[\"текст6\"].json[\"aggregatedText\"] }}\n\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔵 Личный кабинет","additionalFields":{"callback_data":"Личный кабинет"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"8d26124f-9bbd-4818-8c80-dd4bf6853f6f","name":"Telegram7","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2100,1040],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"x\"] }}","value2":"6"}]}},"id":"0ddb64c3-3e1b-4ea8-8fa0-5828892bdd36","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-220,1000]},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Дата создания","lookupValue":"={{ $node[\"Code\"].json[\"klient_otvet_order\"] }}"}]},"options":{}},"id":"d43c1e69-2059-4821-ac8a-4025710cd887","name":"Google Sheets11","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[-60,880],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"columnToMatchOn":"Дата создания","valueToMatchOn":"={{ $json[\"Дата создания\"] }}","fieldsUi":{"values":[{"column":"Воронка","fieldValue":"8. клиент отказался"}]},"options":{}},"id":"4608af53-4617-40f9-9d09-c7733a561c25","name":"Google Sheets12","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[100,880],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Дата создания","lookupValue":"={{ $node[\"Code\"].json[\"klient_otvet_order\"] }}"}]},"options":{}},"id":"c4d45f12-88d0-4ab5-a0e2-0f4d21146595","name":"Google Sheets13","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[260,880],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  let funnel = item.json['Воронка'];\n\n  funnel = funnel.slice(funnel.indexOf('.') + 2); // удаляем число и точку\n\n  aggregatedText += `❌ <b>Заявка №${rowNumber}</b>`;\n  aggregatedText += `\\n<i>Статус заявки изменился на ${funnel}</i> ✍\\n\\n`;\n});\n\nreturn [{json: {aggregatedText}}];"},"id":"9d5237b3-5c11-46e4-9b5d-c09bac8c509d","name":"Code3","type":"n8n-nodes-base.code","typeVersion":1,"position":[420,880]},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"56be0f5f-0363-48f1-afd5-af934095e683","name":"удалить сообщение10","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[580,880],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=<b>Статус заявки изменился</b> 👇\n\n{{ $node[\"Code3\"].json[\"aggregatedText\"] }}\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔵 Личный кабинет","additionalFields":{"callback_data":"Личный кабинет"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"f25877d9-96d9-4aab-ba87-f42e5adb9f51","name":"Telegram8","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[740,880],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"content":"ПОДТВЕРЖДЕНИЕ ЗАЯВКИ","height":180.2136760045373,"width":478.52137685354023},"id":"2b4e1fda-af9d-452b-812a-7ae4191db0ac","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1149.465809988657,400]},{"parameters":{"content":"ОТКАЗ ОТ ВЫПОЛНЕНИЯ ЗАЯВКИ","height":186.27777880589855,"width":1660.7468931937037},"id":"f5a08bb1-84d6-473a-99e4-0b509bc715de","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-100,833.7222211941015]},{"parameters":{"content":"зАЯВКА ПЕРЕДАНА МАСТЕРАМ","height":176.17094080362992,"width":533.0983020657917},"id":"570417a1-6f16-4f2c-bf51-ce504158b07b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1740,1003.8290591963705]},{"parameters":{"content":"МАСТЕР НАЗНАЧЕН","height":176.17094080362995,"width":533.0983020657914},"id":"f8e6e8d8-04db-483e-a722-49216e64199a","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1740,803.8290591963705]},{"parameters":{"content":"ВЫПОЛНЕНО","height":184.25641120544483,"width":1658.121935826043},"id":"335a334a-b0e7-42bd-ae0a-b6506658d849","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-94.14957320317603,1035.7435887945553]},{"parameters":{"content":"ПРИНЯТЬ ЗАЯВКУ","height":180.21367600453738,"width":1653.063815970024},"id":"963eb135-92b7-4e5d-b53e-f15bf81ba32f","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-100,1439.7863239954631]},{"parameters":{"content":"ДОДЕЛАТЬ","height":178.19230840408355,"width":1658.323132415111},"id":"6ef548c3-3f84-4a79-87ab-91e48a1a2bd5","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-100,1241.8076915959166]},{"parameters":{"content":"КЛИЕНТ ПОДТВЕРДИЛ","height":190.32051400680612,"width":533.0983020657911},"id":"24ff873f-ee1f-4756-8943-68913eaf72c5","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1740,401.38033958684167]},{"parameters":{"content":"ЗАЯВКА В ДОРАБОТКЕ","height":184.25641120544483,"width":531.0769344653373},"id":"064b3cef-bb7b-4948-bfa0-0d6a747980d7","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1740,600]},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  const task = item.json['Задача'];\n  const date = item.json['Дата заказа'];\n  const time = item.json['Время заказа'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🪛 клиент отправил на доработку';\n  }\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃<b>Задача:</b> <i>${task}</i>\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> <i>${date}</i>\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> <i>${time}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${funnel}</i>\\n`;\n\n  if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Вам назначен мастер: </b><i>👋 ${masterAppointed}</i>\\n`\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{json: {aggregatedText: aggregatedText}}];"},"id":"f6473573-27ea-4c09-a2de-1cf548db4e55","name":"текст8","type":"n8n-nodes-base.code","typeVersion":1,"position":[2100,-400]},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  let description = item.json['Задача'];\n  let date = item.json['Дата заказа'];\n  let time = item.json['Время заказа'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  let cost = '';\n  let additionalMaterials = '';\n  let comment = '';\n  let photo = '';\n  let showAdditionalInfo = false;\n\n  if (funnel === \"6. цена направлена на согласование клиенту\") {\n      date = item.json['Дата исполнения'];\n      time = item.json['Время исполнения'];\n      description = item.json['Описание работ'];\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n  } else if (funnel === \"7. клиент подтвердил\" || funnel === \"10. клиент отправил на доработку\") {\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n      showAdditionalInfo = true;\n  }\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🪛 клиент отправил на доработку';\n  }\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃<b>Описание работ:</b> <i>${description}</i>\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> <i>${date}</i>\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> <i>${time}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${funnel}</i>\\n`;\n\n  if (cost) {\n    aggregatedText += `• 💰 <b>Стоимость работ:</b> <i>${cost}</i>\\n`;\n  }\n  \n  if (additionalMaterials) {\n    aggregatedText += `• 🛒 <b>Доп. материалы:</b> <i>${additionalMaterials}</i>\\n`;\n  }\n  \n  if (comment) {\n    aggregatedText += `• 💬 <b>Комментарий:</b> <i>${comment}</i>\\n`;\n  }\n  \n  if (photo) {\n    aggregatedText += `• 📷 <b>Фото:</b> <i>${photo}</i>\\n`;\n  }\n\n  if (showAdditionalInfo && masterAppointed) {\n    aggregatedText += `• 🧰 <b>Мастер исполнитель:</b><i>👋 ${masterAppointed}</i>\\n`;\n  } else if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Вам назначен мастер: </b><i>👋 ${masterAppointed}</i>\\n`;\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{json: {aggregatedText: aggregatedText}}];"},"id":"ec6fe340-76ca-416f-8478-fd0f372e2152","name":"текст7","type":"n8n-nodes-base.code","typeVersion":1,"position":[1920,-400]},{"parameters":{"content":"ТЕКУЩИХ ЗАЯВОК НЕТ","height":205.48077101020894,"width":469.930564551612},"id":"e9ce8a1f-2823-4233-ab42-c345fb4cf04b","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[500,-120]},{"parameters":{"content":"ВСЕ ТЕКУЩИЕ ЗАЯВКИ","height":331.8162460385672,"width":954.9570579275392},"id":"bc4f244d-b2b2-42b7-a9af-9134ea636e2a","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1240,20]},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  let description = item.json['Задача'];\n  let date = item.json['Дата заказа'];\n  let time = item.json['Время заказа'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  let cost = '';\n  let additionalMaterials = '';\n  let comment = '';\n  let photo = '';\n  let showAdditionalInfo = false;\n\n  if (funnel === \"6. цена направлена на согласование клиенту\") {\n      date = item.json['Дата исполнения'];\n      time = item.json['Время исполнения'];\n      description = item.json['Описание работ'];\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n  } else if (funnel === \"7. клиент подтвердил\" || funnel === \"10. клиент отправил на доработку\") {\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n      showAdditionalInfo = true;\n  }\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🔧 клиент отправил на доработку';\n  }\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃<b>Описание работ:</b> <i>${description}</i>\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> <i>${date}</i>\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> <i>${time}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${funnel}</i>\\n`;\n\n  if (cost) {\n    aggregatedText += `• 💰 <b>Стоимость работ:</b> <i>${cost}</i>\\n`;\n  }\n  \n  if (additionalMaterials) {\n    aggregatedText += `• 🛒 <b>Доп. материалы:</b> <i>${additionalMaterials}</i>\\n`;\n  }\n  \n  if (comment) {\n    aggregatedText += `• 💬 <b>Комментарий:</b> <i>${comment}</i>\\n`;\n  }\n  \n  if (photo) {\n    aggregatedText += `• 📷 <b>Фото:</b> <i>${photo}</i>\\n`;\n  }\n\n  if (showAdditionalInfo && masterAppointed) {\n    aggregatedText += `• 🧰 <b>Мастер исполнитель:</b><i>👋 ${masterAppointed}</i>\\n`;\n  } else if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Вам назначен мастер: </b><i>👋 ${masterAppointed}</i>\\n`;\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{json: {aggregatedText: aggregatedText}}];"},"id":"0b0bd9a9-80a9-4e26-aac9-b07e71ccee61","name":"текст9","type":"n8n-nodes-base.code","typeVersion":1,"position":[1300,-120]},{"parameters":{"jsCode":"function getStatus(funnel) {\n  switch (funnel.split('.')[0]) {\n    case '4': return '📝 Мастер назначен';\n    case '5': return '🚶 1ый визит мастера завершен';\n    case '6': return '💳 Цена направлена на согласование клиенту';\n    case '7': return '✅ Клиент подтвердил';\n    case '10': return '🪛 Клиент отправил на доработку';\n    default: return funnel;\n  }\n}\n\nlet aggregatedText = '';\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  const description = item.json['Описание работ'];\n  const executionDate = item.json['Дата исполнения'];\n  const executionTime = item.json['Время исполнения'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  const cost = item.json['Стоимость работ'] || '-';\n  const additionalMaterials = item.json['Доп. материалы'] || '-';\n  const comment = item.json['Комментарий'] || '-';\n  const photo = item.json['Фото'] || '-';\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 Мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 Цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ Клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🪛 Клиент отправил на доработку';\n  }\n  \n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤 <b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃 <b>Описание работ:</b> <i>${description}</i>\\n`;\n  aggregatedText += `• 📅 <b>Дата исполнения:</b> <i>${executionDate}</i>\\n`;\n  aggregatedText += `• 🕰 <b>Время исполнения:</b> <i>${executionTime}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${getStatus(funnel)}</i>\\n`;\n  aggregatedText += `• 💰 <b>Стоимость работ:</b> <i>${cost} ₽</i>\\n`;\n  aggregatedText += `• 🗃 <b>Доп. материалы:</b> <i>${additionalMaterials}</i>\\n`;\n  aggregatedText += `• 💬 <b>Комментарий:</b> <i>${comment}</i>\\n`;\n  aggregatedText += `• 📷 <b>Фото:</b> <i>${photo}</i>\\n`;\n  \n  if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Мастер исполнитель:</b><i> 👋 ${masterAppointed}</i>\\n`;\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{ json: { aggregatedText } }];"},"id":"1b005821-fb7c-4c04-829d-45e6cfc333cc","name":"текст10","type":"n8n-nodes-base.code","typeVersion":1,"position":[1780,1240]},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"49cc9ba7-4266-4379-8759-1677310b669c","name":"удалить сообщение11","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1940,1240],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=<b>Заявка для обработки</b> 👇\n\n{{ $node[\"текст10\"].json[\"aggregatedText\"] }}\n\n📣 <b>Важно:</b> <i>Дождитесь уведомление о условиях выпонения заявки</i>","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔵 Личный кабинет","additionalFields":{"callback_data":"Личный кабинет"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"938269e8-e6b5-482b-9d7c-4600236a9d1b","name":"Telegram9","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2120,1240],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"content":"1ый визит мастера завершен","height":186.59762219286654,"width":536.6657859973582},"id":"b344244f-3b52-4b9a-bbfe-4ac69c6ecad4","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1742.5056803170414,1193.4023778071328]},{"parameters":{"chatId":"={{ $node[\"Google Sheets5\"].json[\"TG ID\"] }}","text":"=<b>💪 Клиент подтвердил завершение работы по заявке. Спасибо за отлично выполненную работу</b>\n\n{{ $node[\"Code1\"].json[\"aggregatedText\"] }}\n\n<i>Теперь информация о данной заявке будет храниться в разделе \"Выполненные заказы\" 🗂</i>\n\n📢 <b>ВАЖНО</b>: <i>чтобы удалить уведомление перейдите в Личный кабинет заказчика и нажмите кнопку \"Удалить уведомление\" ! Перейти в Личный кабинет можно по кнопке \"Меню\", расположенной в нижнем левом углу.</i>","additionalFields":{"parse_mode":"HTML"}},"id":"80d304ac-a1ea-4844-99e2-3b70896e98a0","name":"Telegram10","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[900,1080],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"jsCode":"let message_id = $node[\"Telegram10\"].json[\"result\"][\"message_id\"].toString();\nreturn { message_id }"},"id":"af30cc77-c2ac-45dd-9117-c700a9d9b40e","name":"Code4","type":"n8n-nodes-base.code","typeVersion":1,"position":[1060,1080]},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets5\"].json[\"ID LT master\"] }}"},{"name":"name","value":"notification_master"},{"name":"value","value":"❌ Удалить уведомление"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"0f352e1e-e5d6-43b6-961a-465b3a8e9125","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1220,1080],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets5\"].json[\"ID LT master\"] }}"},{"name":"name","value":"notification_master_id"},{"name":"value","value":"={{ $node[\"Code4\"].json[\"message_id\"] }}"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"bdaf7902-dfb4-4132-9517-26919dd9f059","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1380,1080],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}},{"parameters":{"chatId":"={{ $node[\"Google Sheets7\"].json[\"TG ID\"] }}","text":"=<b>💪 Клиент отправил заявку на доработку</b>\n\n{{ $node[\"Code2\"].json[\"aggregatedText\"] }}\n\n📢 <b>ВАЖНО</b>: <i>чтобы удалить уведомление перейдите в Личный кабинет заказчика и нажмите кнопку \"Удалить уведомление\" ! Перейти в Личный кабинет можно по кнопке \"Меню\", расположенной в нижнем левом углу.</i>","additionalFields":{"parse_mode":"HTML"}},"id":"aaef4f03-847c-4b7c-936a-3a1cf9d7120d","name":"Telegram11","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[900,1280],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Google Sheets13\"].json[\"TG ID\"] }}","text":"=<b>❌ Клиент к сожалению отказался от проведения работ</b>\n\n{{ $node[\"Code3\"].json[\"aggregatedText\"] }}\n\n\n📢 <b>ВАЖНО</b>: <i>чтобы удалить уведомление перейдите в Личный кабинет заказчика и нажмите кнопку \"Удалить уведомление\" ! Перейти в Личный кабинет можно по кнопке \"Меню\", расположенной в нижнем левом углу.</i>","additionalFields":{"parse_mode":"HTML"}},"id":"442632ea-4a0d-45d7-a819-ad4a0518702e","name":"Telegram12","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[900,880],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"jsCode":"let message_id = $node[\"Telegram11\"].json[\"result\"][\"message_id\"].toString();\nreturn { message_id }"},"id":"fcbfc783-4660-4fc9-87d2-12a114d31c25","name":"Code5","type":"n8n-nodes-base.code","typeVersion":1,"position":[1060,1280]},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets7\"].json[\"ID LT master\"] }}"},{"name":"name","value":"notification_master"},{"name":"value","value":"❌ Удалить уведомление"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"fca05e9b-e2d5-4b68-85d0-5dd7de36b681","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1220,1280],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets7\"].json[\"ID LT master\"] }}"},{"name":"name","value":"notification_master_id"},{"name":"value","value":"={{ $node[\"Code5\"].json[\"message_id\"] }}"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"5dcfaebf-4b80-43a1-98eb-9f7df3efcf9b","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1380,1280],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}},{"parameters":{"jsCode":"let message_id = $node[\"Telegram12\"].json[\"result\"][\"message_id\"].toString();\nreturn { message_id }"},"id":"ce6a27e7-ef6f-4502-bf28-7808e4909ab5","name":"Code6","type":"n8n-nodes-base.code","typeVersion":1,"position":[1060,880]},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets13\"].json[\"ID LT master\"] }}"},{"name":"name","value":"notification_master"},{"name":"value","value":"❌ Удалить уведомление"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"4093a7ce-a693-456d-8ca9-63576b57848b","name":"HTTP Request5","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1220,880],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets13\"].json[\"ID LT master\"] }}"},{"name":"name","value":"notification_master_id"},{"name":"value","value":"={{ $node[\"Code4\"].json[\"message_id\"] }}"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"9d14a17b-2343-4fbc-a341-085d49d5de01","name":"HTTP Request6","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1380,880],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}},{"parameters":{"chatId":"={{ $node[\"Google Sheets10\"].json[\"TG ID\"] }}","text":"=<b>👍 Клиент подтвердил условия выполнения заявки. Удачной работы</b>\n\n{{ $node[\"текст3\"].json[\"aggregatedText\"] }}\n\n\n📢 <b>ВАЖНО</b>: <i>чтобы удалить уведомление перейдите в Личный кабинет заказчика и нажмите кнопку \"Удалить уведомление\" ! Перейти в Личный кабинет можно по кнопке \"Меню\", расположенной в нижнем левом углу.</i>","additionalFields":{"parse_mode":"HTML"}},"id":"e6d96708-50d4-4ef6-bf21-7c247921c8d3","name":"Telegram13","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[900,1480],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"jsCode":"let message_id = $node[\"Telegram13\"].json[\"result\"][\"message_id\"].toString();\nreturn { message_id }"},"id":"d467c6ba-de96-4efd-aced-f12ab434d63b","name":"Code7","type":"n8n-nodes-base.code","typeVersion":1,"position":[1060,1480]},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets10\"].json[\"ID LT master\"] }}"},{"name":"name","value":"notification_master"},{"name":"value","value":"❌ Удалить уведомление"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"1c920b8b-c41b-42c1-be90-fd6ccfff85b5","name":"HTTP Request7","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1220,1480],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets10\"].json[\"ID LT master\"] }}"},{"name":"name","value":"notification_master_id"},{"name":"value","value":"={{ $node[\"Code7\"].json[\"message_id\"] }}"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"475cfd30-f5d9-4242-984b-7fd2fd14ca22","name":"HTTP Request8","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1380,1480],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Google Sheets","type":"main","index":0}],[{"node":"Google Sheets1","type":"main","index":0}],[{"node":"IF1","type":"main","index":0}],[{"node":"IF3","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"фильтр","type":"main","index":0}]]},"IF":{"main":[[{"node":"удалить сообщение","type":"main","index":0}],[{"node":"кнопки","type":"main","index":0},{"node":"текст","type":"main","index":0}]]},"текст":{"main":[[{"node":"Merge","type":"main","index":0}]]},"кнопки":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"удалить сообщение1","type":"main","index":0}]]},"фильтр":{"main":[[{"node":"IF","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"IF2","type":"main","index":0}]]},"текст1":{"main":[[{"node":"удалить сообщение2","type":"main","index":0}]]},"удалить сообщение":{"main":[[{"node":"нет заявок","type":"main","index":0}]]},"удалить сообщение1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"удалить сообщение2":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Google Sheets5","type":"main","index":0}]]},"Google Sheets5":{"main":[[{"node":"Code1","type":"main","index":0}]]},"удалить сообщение3":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Google Sheets6","type":"main","index":0}]]},"Google Sheets6":{"main":[[{"node":"Google Sheets7","type":"main","index":0}]]},"Google Sheets7":{"main":[[{"node":"Code2","type":"main","index":0}]]},"удалить сообщение4":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"удалить сообщение3","type":"main","index":0}]]},"Code2":{"main":[[{"node":"удалить сообщение4","type":"main","index":0}]]},"IF2":{"main":[[{"node":"текст2","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"текст2":{"main":[[{"node":"удалить сообщение5","type":"main","index":0}]]},"удалить сообщение5":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"IF3":{"main":[[{"node":"Google Sheets3","type":"main","index":0}],[{"node":"Google Sheets8","type":"main","index":0}]]},"Google Sheets8":{"main":[[{"node":"Google Sheets9","type":"main","index":0}]]},"Google Sheets9":{"main":[[{"node":"Google Sheets10","type":"main","index":0}]]},"Google Sheets10":{"main":[[{"node":"текст3","type":"main","index":0}]]},"текст3":{"main":[[{"node":"удалить сообщение6","type":"main","index":0}]]},"удалить сообщение6":{"main":[[{"node":"Telegram4","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"текст4","type":"main","index":0}],[{"node":"текст5","type":"main","index":0}],[{"node":"IF4","type":"main","index":0}],[{"node":"текст10","type":"main","index":0}]]},"текст4":{"main":[[{"node":"удалить сообщение7","type":"main","index":0}]]},"текст5":{"main":[[{"node":"удалить сообщение8","type":"main","index":0}]]},"удалить сообщение8":{"main":[[{"node":"Telegram6","type":"main","index":0}]]},"удалить сообщение7":{"main":[[{"node":"Telegram5","type":"main","index":0}]]},"IF4":{"main":[[{"node":"текст1","type":"main","index":0}],[{"node":"текст6","type":"main","index":0}]]},"текст6":{"main":[[{"node":"удалить сообщение9","type":"main","index":0}]]},"удалить сообщение9":{"main":[[{"node":"Telegram7","type":"main","index":0}]]},"IF1":{"main":[[{"node":"Google Sheets11","type":"main","index":0}],[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets11":{"main":[[{"node":"Google Sheets12","type":"main","index":0}]]},"Google Sheets12":{"main":[[{"node":"Google Sheets13","type":"main","index":0}]]},"Google Sheets13":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"удалить сообщение10","type":"main","index":0}]]},"удалить сообщение10":{"main":[[{"node":"Telegram8","type":"main","index":0}]]},"текст10":{"main":[[{"node":"удалить сообщение11","type":"main","index":0}]]},"удалить сообщение11":{"main":[[{"node":"Telegram9","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Telegram10","type":"main","index":0}]]},"Telegram10":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"Telegram11","type":"main","index":0}]]},"Telegram4":{"main":[[{"node":"Telegram13","type":"main","index":0}]]},"Telegram11":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code5":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Telegram8":{"main":[[{"node":"Telegram12","type":"main","index":0}]]},"Telegram12":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Telegram13":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Code7":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"24a94fdf-d5b1-4a1e-ad6a-ffa1e30c3639","triggerCount":1,"tags":[]}