маркетплейс-услуг(напоминаие-за-день-до-визита)-41.json
{"createdAt":"2023-04-24T22:08:07.967Z","updatedAt":"2023-05-03T22:47:44.000Z","id":"41","name":"Маркетплейс услуг(напоминаие за день до визита)","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"id":"8cee6e6a-a883-48be-b28d-2ab85884c00f","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[400,500]},{"parameters":{"jsCode":"const today = new Date();\nconst tomorrow = new Date(today);\ntomorrow.setDate(today.getDate() + 1);\n\nconst formatDate = (date) => {\n  const year = date.getFullYear().toString();\n  let month = (date.getMonth() + 1).toString();\n  let day = date.getDate().toString();\n  if (month.length < 2) {\n    month = `0${month}`;\n  }\n  if (day.length < 2) {\n    day = `0${day}`;\n  }\n  return `${day}.${month}.${year}`;\n};\n\nconst currentDate = formatDate(today);\nconst tomorrowDate = formatDate(tomorrow);\n\nreturn [\n  {\n    json: {\n      current_date: currentDate,\n      tomorrow_date: tomorrowDate\n    }\n  }\n];"},"id":"3944bb4f-8754-49af-ad53-b542bf97fb82","name":"получение даты","type":"n8n-nodes-base.code","typeVersion":1,"position":[540,500]},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Дата заказа","lookupValue":"={{ $json[\"tomorrow_date\"] }}"}]},"options":{"returnAllMatches":"returnAllMatches"}},"id":"7a5a163b-aa14-484e-9c06-c0a92bbe1a71","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[680,500],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"Воронка\"] }}","value2":"4. мастер назначен"}]}},"id":"833902b8-fdd0-4d14-ad8f-67c932fa08ad","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[820,500]},{"parameters":{"chatId":"={{ $node[\"Google Sheets\"].json[\"Telegram ID\"] }}","text":"=<b>Напоминаем, что завтра к Вам придет мастер!</b>\n\n{{ $json[\"aggregatedText\"] }}\n\n📢<b>ВАЖНО</b>: <i>чтобы удалить уведомление перейдите в Личный кабинет заказчика и нажмите кнопку \"Удалить уведомление\" ! Перейти в Личный кабенет можно по кнопке \"Меню\", расположенной в нижнем левом углу.</i>","additionalFields":{"parse_mode":"HTML"}},"id":"ceef0bf9-2833-47d3-9158-2fe4361bb4c0","name":"сообщение клиенту","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1140,300],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  const task = item.json['Задача'];\n  const date = item.json['Дата заказа'];\n  const time = item.json['Время заказа'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🪛 клиент отправил на доработку';\n  }\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃<b>Задача:</b> <i>${task}</i>\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> <i>${date}</i>\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> <i>${time}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${funnel}</i>\\n`;\n\n  if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Вам назначен мастер: </b><i>👋 ${masterAppointed}</i>\\n`\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{json: {aggregatedText: aggregatedText}}];"},"id":"bcbe365d-6f6e-45b0-bef6-79f50fc7ab68","name":"текст клиент","type":"n8n-nodes-base.code","typeVersion":1,"position":[980,300]},{"parameters":{"chatId":"={{ $node[\"Google Sheets\"].json[\"TG ID\"] }}","text":"=<b>Напоминаем, что на завтра у Вас назначен первый визит к клиенту!</b>\n\n{{ $node[\"текст мастер\"].json[\"aggregatedText\"] }}\n\n<b>Так же напоминаем, что по приезду к клиенту Вам необходимо будет заполнить опросник.Опросник находится \"личный кабинет\" -> \"текущие заказы\"</b> 📝\n\n📢<b>ВАЖНО</b>: <i>чтобы удалить уведомление перейдите в Личный кабинет мастера и нажмите кнопку \"Удалить уведомление\" ! Перейти в Личный кабенет можно по кнопке \"Меню\", расположенной в нижнем левом углу.</i>","additionalFields":{"parse_mode":"HTML"}},"id":"0a88c8e8-f715-4ff0-9fa1-82bfbf103668","name":"сообщение мастеру","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1140,500],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  const task = item.json['Задача'];\n  const date = item.json['Дата заказа'];\n  const time = item.json['Время заказа'];\n  const address = item.json['Адрес'];\n  const telephone = item.json['Телефон'];\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃<b>Задача:</b> <i>${task}</i>\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> <i>${date}</i>\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> <i>${time}</i>\\n`;\n  aggregatedText += `• 🏠<b>Адрес заявки:</b> <i>${address}</i>\\n`;\n\n  if (telephone) {\n    aggregatedText += `• ☎️<b>Телефон:</b> <i>${telephone}</i>\\n\\n`;\n  } else {\n    aggregatedText += '\\n';\n  }\n});\n\nreturn [{json: {aggregatedText: aggregatedText}}];"},"id":"c381aa34-1111-4144-a326-e414faccf3d5","name":"текст мастер","type":"n8n-nodes-base.code","typeVersion":1,"position":[1000,500]},{"parameters":{"jsCode":"let message_id = $node[\"сообщение клиенту\"].json[\"result\"][\"message_id\"].toString();\nreturn { message_id }"},"id":"a443be71-7712-4bb7-a8f8-5bc78165f84f","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[1300,300]},{"parameters":{"jsCode":"let message_id = $node[\"сообщение мастеру\"].json[\"result\"][\"message_id\"].toString();\nreturn { message_id }"},"id":"b085914e-d616-4dac-80f3-7109d01c19a2","name":"Code1","type":"n8n-nodes-base.code","typeVersion":1,"position":[1300,500]},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets\"].json[\"ID LT\"] }}"},{"name":"name","value":"notification"},{"name":"value","value":"❌ Удалить уведомление"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"9dcc223b-947d-4474-9a98-43b8eec77ace","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1460,300],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets\"].json[\"ID LT\"] }}"},{"name":"name","value":"notification_id"},{"name":"value","value":"={{ $node[\"Code\"].json[\"message_id\"] }}"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"d7470c66-3f69-43a9-8682-353b2ba40a78","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1620,300],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets\"].json[\"ID LT master\"] }}"},{"name":"name","value":"notification_master"},{"name":"value","value":"❌ Удалить уведомление"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"897c5b57-87cd-4f23-9da8-3acee823f9ac","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1460,500],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets\"].json[\"ID LT master\"] }}"},{"name":"name","value":"notification_master_id"},{"name":"value","value":"={{ $node[\"Code1\"].json[\"message_id\"] }}"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"14c727ac-0ea3-4f70-9d05-f49a0e886a32","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1620,500],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"получение даты","type":"main","index":0}]]},"получение даты":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"IF1","type":"main","index":0}]]},"IF1":{"main":[[{"node":"текст клиент","type":"main","index":0},{"node":"текст мастер","type":"main","index":0}]]},"текст клиент":{"main":[[{"node":"сообщение клиенту","type":"main","index":0}]]},"текст мастер":{"main":[[{"node":"сообщение мастеру","type":"main","index":0}]]},"сообщение клиенту":{"main":[[{"node":"Code","type":"main","index":0}]]},"сообщение мастеру":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"meta":null,"pinData":{},"versionId":"baafdba3-34d0-4081-ae49-18417c2c91b1","triggerCount":1,"tags":[]}