маркетпэйс-услуги.рассылка-мастерам-33.json
{"createdAt":"2023-04-10T02:58:04.379Z","updatedAt":"2023-05-03T22:46:26.000Z","id":"33","name":"Маркетпэйс услуги.Рассылка мастерам","active":true,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Воронка","lookupValue":"2. заявка обработана"}]},"options":{}},"id":"5340ebce-7524-4a5a-a564-20892dbdcbe9","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[-420,300],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"id":"414beab6-a567-4273-89dc-cb6b9363e0a7","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-560,300]},{"parameters":{"documentId":{"__rl":true,"value":"1hX8TE9h7i3eVeETH7SmBcz_vhOK2EBSWOiuYumPC8l0","mode":"list","cachedResultName":"База данных мастера","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hX8TE9h7i3eVeETH7SmBcz_vhOK2EBSWOiuYumPC8l0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"База данных мастера","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hX8TE9h7i3eVeETH7SmBcz_vhOK2EBSWOiuYumPC8l0/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Специализация","lookupValue":"={{ $json.Специалист }}"}]},"options":{"returnAllMatches":"returnAllMatches"}},"id":"2eaf5a9a-02f6-40a9-b438-3c3a15466df4","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[-280,300],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"chatId":"={{ $json[\"Telegram ID\"] }}","text":"=🛠 <b>Новая заявка</b>\n\n✔ <b>Необходимый мастер</b> - <i>{{ $node[\"Google Sheets\"].json[\"Специалист\"] }}</i>\n✔ <b>Задача</b> - <i>{{ $node[\"Google Sheets\"].json[\"Задача\"] }}</i>\n\n✔ <b>Встреча назначина:</b>\n✔ <b>Дата</b> - <i>{{ $node[\"Google Sheets\"].json[\"Дата заказа\"] }}</i>\n✔ <b>Время</b> - <i>{{ $node[\"Google Sheets\"].json[\"Время заказа\"] }}</i>\n✔ <b>Адрес</b> - <i>{{ $node[\"Google Sheets\"].json[\"Адрес\"] }}</i>\n\n✔ <b>Комментарий:</b>\n<i>{{ $node[\"Google Sheets\"].json[\"Комментарий к заказу\"] }}</i>\n\n<b>Чтобы взять заказ в работу перейдите в Личный кабинет и подтвердите согласие</b>\n                                 👇👇👇👇👇👌\n\n📢<b>ВАЖНО</b>: <i>чтобы удалить уведомление перейдите в Личный кабинет мастера и нажмите кнопку \"Удалить уведомление\" ! Перейти в Личный кабенет можно по кнопке \"Меню\", расположенной в нижнем левом углу.</i>","replyMarkup":"inlineKeyboard","additionalFields":{"parse_mode":"HTML"}},"id":"4f94cfd7-fd7f-48c9-af56-c705616d5775","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[60,280],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"columnToMatchOn":"Дата создания","valueToMatchOn":"={{ $node[\"Google Sheets\"].json[\"Дата создания\"] }}","fieldsUi":{"values":[{"column":"Воронка","fieldValue":"3. заявка передана мастерам"}]},"options":{}},"id":"8abcf1f6-66bb-43ff-a0e5-54b125b3c538","name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[880,300],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"batchSize":1,"options":{}},"id":"cfc7f03d-96b6-4588-8eef-509565749257","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-120,300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $node[\"Split In Batches\"].context[\"noItemsLeft\"] }}","value2":true}]}},"id":"aa0ce052-2113-4b62-b38a-d109f0d4d2ef","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[640,300]},{"parameters":{"jsCode":"// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"id":"e6d329b5-9642-4387-a69d-f583a9a871cb","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[1220,780]},{"parameters":{"jsCode":"let message_id = $node[\"Telegram\"].json[\"result\"][\"message_id\"].toString();\nreturn { message_id }"},"id":"5d0bca91-e56a-43c2-a5f2-45e7a9e73627","name":"Code1","type":"n8n-nodes-base.code","typeVersion":1,"position":[60,60]},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets1\"].json[\"ID LT\"] }}"},{"name":"name","value":"notification_master"},{"name":"value","value":"❌ Удалить уведомление"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"42aff67d-9906-4cbc-84eb-103d7e55d00f","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[200,60],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets1\"].json[\"ID LT\"] }}"},{"name":"name","value":"notification_master_id"},{"name":"value","value":"={{ $node[\"Code1\"].json[\"message_id\"] }}"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"88278af4-45b4-4232-8342-c152ff5a13fd","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[340,60],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"IF","type":"main","index":0},{"node":"Code1","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"IF":{"main":[[{"node":"Google Sheets2","type":"main","index":0}],[{"node":"Split In Batches","type":"main","index":0}]]},"Code1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"meta":null,"pinData":{},"versionId":"729054bd-4509-497e-991d-4fbae8872549","triggerCount":1,"tags":[]}