маркетплес-услуг(рассылка-клиенту-о-подтверждении-цены)-46.json
{"createdAt":"2023-04-28T23:09:21.272Z","updatedAt":"2023-05-05T23:55:12.000Z","id":"46","name":"Маркетплес услуг(рассылка клиенту о подтверждении цены)","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"id":"1f25a320-3d15-48ae-b087-b5ff5c62c97d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[140,260]},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Воронка","lookupValue":"5. 1ый визит мастера завершен"}]},"options":{"returnAllMatches":"returnFirstMatch"}},"id":"bc656abe-04c7-4a04-989e-7618d9af78e2","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[280,260],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"columnToMatchOn":"Дата создания","valueToMatchOn":"={{ $node[\"Google Sheets\"].json[\"Дата создания\"] }}","fieldsUi":{"values":[{"column":"Воронка","fieldValue":"6. цена направлена на согласование клиенту"}]},"options":{}},"id":"e38db598-18bb-4c49-b697-767c8028d0cc","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[420,260],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Воронка","lookupValue":"6. цена направлена на согласование клиенту"}]},"options":{"returnAllMatches":"returnAllMatches"}},"id":"3214056a-22d1-4eaa-b841-0cc7da959c0f","name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[560,260],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"jsCode":"function getStatus(funnel) {\n  switch (funnel.split('.')[0]) {\n    case '4': return '📝 Мастер назначен';\n    case '5': return '🚶 1ый визит мастера завершен';\n    case '6': return '💳 Цена направлена на согласование клиенту';\n    case '7': return '✅ Клиент подтвердил';\n    case '10': return '🪛 Клиент отправил на доработку';\n    default: return funnel;\n  }\n}\n\nlet aggregatedText = '';\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  const description = item.json['Описание работ'];\n  const executionDate = item.json['Дата исполнения'];\n  const executionTime = item.json['Время исполнения'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  const cost = item.json['Стоимость работ'] || '-';\n  const additionalMaterials = item.json['Доп. материалы'] || '-';\n  const comment = item.json['Комментарий'] || '-';\n  const photo = item.json['Фото'] || '-';\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 Мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 Цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ Клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🪛 Клиент отправил на доработку';\n  }\n  \n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤 <b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃 <b>Описание работ:</b> <i>${description}</i>\\n`;\n  aggregatedText += `• 📅 <b>Дата исполнения:</b> <i>${executionDate}</i>\\n`;\n  aggregatedText += `• 🕰 <b>Время исполнения:</b> <i>${executionTime}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${getStatus(funnel)}</i>\\n`;\n  aggregatedText += `• 💰 <b>Стоимость работ:</b> <i>${cost}</i> ₽\\n`;\n  aggregatedText += `• 🗃 <b>Доп. материалы:</b> <i>${additionalMaterials}</i>\\n`;\n  aggregatedText += `• 💬 <b>Комментарий:</b> <i>${comment}</i>\\n`;\n  aggregatedText += `• 📷 <b>Фото:</b> <i>${photo}</i>\\n`;\n  \n  if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Мастер исполнитель:</b><i> 👋 ${masterAppointed}</i>\\n`;\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{ json: { aggregatedText } }];"},"id":"f48d26cd-ba31-442c-8162-392f71da042b","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[700,260]},{"parameters":{"chatId":"={{ $node[\"Google Sheets2\"].json[\"Telegram ID\"] }}","text":"=📢 Уведомляем о изменении статуса заявки! \n\n{{ $json[\"aggregatedText\"] }}\n\nНеобходимо принять решение в разделе текущие заявки 👀💼\n\n📢<b>ВАЖНО</b>: <i>чтобы удалить уведомление перейдите в Личный кабинет заказчика и нажмите кнопку \"Удалить уведомление\" ! Перейти в Личный кабенет можно по кнопке \"Меню\", расположенной в нижнем левом углу.</i>","replyMarkup":"inlineKeyboard","additionalFields":{"parse_mode":"HTML"}},"id":"7b7330ac-4e57-4d47-b749-93cac9b9b92d","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[840,260],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets2\"].json[\"ID LT\"] }}"},{"name":"name","value":"notification"},{"name":"value","value":"❌ Удалить уведомление"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"468fd7b2-9a30-4db9-91c5-0ea225a4d0f4","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1120,260],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets2\"].json[\"ID LT\"] }}"},{"name":"name","value":"notification_id"},{"name":"value","value":"={{ $node[\"Code1\"].json[\"message_id\"] }}"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"3b240605-3940-43a1-bcd1-8cbe49814660","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1260,260],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}},{"parameters":{"jsCode":"let message_id = $node[\"Telegram\"].json[\"result\"][\"message_id\"].toString();\nreturn { message_id }"},"id":"bebf24d6-7b53-4065-b1d4-317767085f32","name":"Code1","type":"n8n-nodes-base.code","typeVersion":1,"position":[980,260]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Code1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"meta":null,"pinData":{},"versionId":"4f946b97-99b5-406d-b30e-ae21b4ad2a30","triggerCount":1,"tags":[]}