маркетплейс-услуг(архив-заявок-мастеров)-50.json
{"createdAt":"2023-05-04T00:07:46.717Z","updatedAt":"2023-05-04T01:29:38.000Z","id":"50","name":"Маркетплейс услуг(архив заявок мастеров)","active":true,"nodes":[{"parameters":{"path":"d7647859-dc21-4e93-a291-4e1308984938","options":{}},"id":"96e68813-5987-45e9-88b8-ff70156818fc","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[80,320],"webhookId":"d7647859-dc21-4e93-a291-4e1308984938"},{"parameters":{"jsCode":"const inputData = items[0].json;\n\n// Создаем переменные для хранения значений x, msgid, klient_otvet_order и FIO\nlet xValue;\nlet msgidValue;\nlet klientOtvetOrderValue;\nlet FIOValue;\n\n// Проверяем, определен ли объект inputData.query, и перебираем его переменные\nif (inputData.query && inputData.query.variables) {\n  inputData.query.variables.forEach((variable) => {\n    if (variable.name === 'x') {\n      xValue = variable.value;\n    } else if (variable.name === 'msgid') {\n      msgidValue = variable.value;\n    } else if (variable.name === 'klient_otvet_order') {\n      klientOtvetOrderValue = variable.value;\n    } else if (variable.name === 'FIO') {\n      FIOValue = variable.value;\n    }\n  });\n}\n\n// Возвращаем объект с единственными свойствами x, msgid, klient_otvet_order и FIO\nreturn [{ json: { x: xValue, msgid: msgidValue, klient_otvet_order: klientOtvetOrderValue, FIO: FIOValue } }];"},"id":"2eb0423d-8270-4130-9389-d93610e719b6","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[220,320]},{"parameters":{"dataType":"string","value1":"={{ $json[\"x\"] }}","rules":{"rules":[{"value2":"1"}]}},"id":"b1da3eb6-49a1-41e7-95dc-e2c032bca731","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[380,320]},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Мастер назначен","lookupValue":"={{ $json[\"FIO\"] }}"}]},"options":{"returnAllMatches":"returnAllMatches"}},"id":"d283cc59-84cb-4351-8d0a-6059499d96ba","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[500,220],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const inputData = items;\n\nconst filteredData = inputData.filter((item) => {\n  const funnelValue = item.json[\"Воронка\"];\n  return (\n    funnelValue === \"8. клиент отказался\" ||\n    funnelValue === \"9. клиент принял работу\"\n  );\n});\n\nif (Object.keys($node['Google Sheets'].json).length === 0 || filteredData.length === 0) {\n  return [{json: {isEmpty: true}}];\n} else {\n  return filteredData;\n}"},"id":"6fccfb34-8ee6-4001-8e7a-3471d890fe2a","name":"Code1","type":"n8n-nodes-base.code","typeVersion":1,"position":[660,220],"alwaysOutputData":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json[\"isEmpty\"] }}","value2":true}]}},"id":"2dcad5b6-c7d3-426c-bf9f-b9c7b4c3fece","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[860,220]},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"78dee2f7-4b17-470f-8a28-04bd64056956","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[860,40],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"📁🤷‍♂️ <b>Архив пуст. Заявок нет.</b>","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔵 Личный кабинет","additionalFields":{"callback_data":"Личный кабинет"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"faa042fa-6641-467a-822f-f46d37cd4285","name":"Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1000,40],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"jsCode":"let aggregatedText = '';\n\nconst FUNNEL_STATUS_MAP = {\n  '9.': '💪 клиент принял работу',\n  '8.': '❌ клиент отказался',\n  '6.': '💳 цена направлена на согласование клиенту',\n  '7.': '✅ клиент подтвердил',\n  '10.': '🪛 клиент отправил на доработку'\n};\n\nfunction formatText(value) {\n  return value ? `<i>${value}</i>` : 'Нет';\n}\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  let description = item.json['Задача'];\n  let date = item.json['Дата заказа'];\n  let time = item.json['Время заказа'];\n  let funnel = item.json['Воронка'];\n  const address = item.json['Адрес'];\n  const phone = item.json['Телефон'];\n  let cost = '';\n  let additionalMaterials = '';\n  let comment = '';\n  let photo = '';\n  let showAdditionalInfo = false;\n\n  if (funnel === '8. клиент отказался' || funnel === '9. клиент принял работу' || funnel === '10. клиент отправил на доработку') {\n    date = item.json['Дата исполнения'];\n    time = item.json['Время исполнения'];\n    description = item.json['Описание работ'];\n    cost = formatText(item.json['Стоимость работ']);\n    additionalMaterials = formatText(item.json['Доп. материалы']);\n    comment = formatText(item.json['Комментарий']);\n    photo = formatText(item.json['Фото']);\n  }\n\n  funnel = FUNNEL_STATUS_MAP[funnel.slice(0, 2)] || funnel;\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> ${formatText(specialist)}\\n`;\n  aggregatedText += `• 📃<b>Описание работ:</b> ${formatText(description)}\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> ${formatText(date)}\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> ${formatText(time)}\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> ${formatText(funnel)}\\n`;\n  aggregatedText += `• 🏠 <b>Адрес:</b> ${formatText(address)}\\n`;\n  aggregatedText += `• ☎️ <b>Телефон:</b> ${formatText(phone)}\\n`;\n\n  if (cost) {\n    aggregatedText += `• 💰 <b>Стоимость работ:</b> ${cost} ₽\\n`;\n  }\n  \n  if (additionalMaterials) {\n    aggregatedText += `• 🛒 <b>Доп. материалы:</b> ${additionalMaterials}\\n`;\n  }\n  \n  if (comment) {\n    aggregatedText += `• 💬 <b>Комментарий:</b> ${comment}\\n`;\n  }\n  \n  if (photo) {\n    aggregatedText += `• 📷 <b>Фото:</b> ${photo}\\n`;\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{ json: { aggregatedText } }];"},"id":"2cad18d3-f78a-4ab6-b6e5-bffbbbfa4e7b","name":"Code2","type":"n8n-nodes-base.code","typeVersion":1,"position":[1080,220]},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"c2755649-6746-4216-8f72-d22712d31eb9","name":"Telegram2","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1220,220],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=📁👀 <b>Заявки в архиве доступны для просмотра. Получите полный доступ к истории обращений.</b> 💻💰\n\n{{ $node[\"Code2\"].json[\"aggregatedText\"] }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔵 Личный кабинет","additionalFields":{"callback_data":"Личный кабинет"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"e3e1bd1b-9c80-4e33-a1c6-b2fc982d889e","name":"Telegram3","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1400,220],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Code2","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"Telegram3","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"c4688fce-5ba3-4502-9731-c11916a034ee","triggerCount":1,"tags":[]}