маркетплейс-услуг(мастер-новые-заказы)-34.json
{"createdAt":"2023-04-12T02:58:01.744Z","updatedAt":"2023-07-03T04:24:10.000Z","id":"34","name":"Маркетплейс услуг(мастер новые заказы)","active":true,"nodes":[{"parameters":{"path":"cf0b3dcb-f9b3-45ff-a7a2-ce384a548aea","options":{}},"id":"6e6a8bae-ed99-4bcc-b39b-ca9ab917b693","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-60,280],"webhookId":"cf0b3dcb-f9b3-45ff-a7a2-ce384a548aea"},{"parameters":{"dataType":"string","value1":"={{ $json[\"y\"] }}","rules":{"rules":[{"value2":"0"},{"value2":"1","output":1}]}},"id":"44fbf270-00aa-4a2a-a93f-d9d21a74160e","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[220,280]},{"parameters":{"documentId":{"__rl":true,"value":"1hX8TE9h7i3eVeETH7SmBcz_vhOK2EBSWOiuYumPC8l0","mode":"list","cachedResultName":"База данных мастера","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hX8TE9h7i3eVeETH7SmBcz_vhOK2EBSWOiuYumPC8l0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"База данных мастера","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hX8TE9h7i3eVeETH7SmBcz_vhOK2EBSWOiuYumPC8l0/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Telegram ID","lookupValue":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}"}]},"options":{"returnAllMatches":"returnAllMatches"}},"id":"1f046d39-15bc-4e7e-8339-f106ca567a15","name":"специальность мастера","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[600,120],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Специалист","lookupValue":"={{ $json[\"ВсеСпециальности\"] }}"}]},"options":{"returnAllMatches":"returnAllMatches"}},"id":"6f6df749-110d-40e1-9aca-d526cfabd2fa","name":"заявка передана мастерам","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[1040,120],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"Воронка\"] }}","value2":"3. заявка передана мастерам"}]}},"id":"5718fcee-852c-47a3-8032-c18db7cdd593","name":"отсекаем неподходящие заявки","type":"n8n-nodes-base.if","typeVersion":1,"position":[1440,220],"alwaysOutputData":true,"executeOnce":false,"retryOnFail":false,"maxTries":2},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.sort((a, b) => a.json.row_number - b.json.row_number);\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  const task = item.json['Задача'];\n  const date = item.json['Дата заказа'];\n  const time = item.json['Время заказа'];\n  const address = item.json['Адрес'];\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃<b>Задача:</b> <i>${task}</i>\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> <i>${date}</i>\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> <i>${time}</i>\\n`;\n  aggregatedText += `• 🏠 <b>Адрес заявки:</b> <i>${address}</i>\\n\\n`;\n});\n\nreturn [{json: {aggregatedText: aggregatedText}}];"},"id":"0d9c12e6-63e6-42f3-9fec-60c188e30734","name":"Агрегируем текст сообщения","type":"n8n-nodes-base.code","typeVersion":1,"position":[1640,-180]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"ВсеСпециальности","value":"={{ $json[\"Специализация\"] }}"},{"name":"Famil","value":"={{ $json[\"Фамилия Имя Отчество мастера\"] }}"}]},"options":{}},"id":"69441cc4-f5d2-4b90-815f-a841ed364d91","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[880,120]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot6255776658:AAE7tUXJpMBh9ZZN7BhV03bPvyfD5g3peQU/sendMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"chat_id","value":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}"},{"name":"=text","value":"=<b>ВСЕ ДОСТУПНЫЕ ЗАКАЗЫ</b>\n\n{{ $node[\"Merge\"].json[\"aggregatedText\"] }}\n\n<b>🛠 Нажмите на кнопку выбранной вами заявки чтобы взять её в работу</b>👇"},{"name":"reply_markup","value":"={{ $node[\"Merge\"].json[\"reply_markup\"] }}"},{"name":"parse_mode","value":"HTML"}]},"options":{}},"id":"5f9e7728-5291-4469-8cb0-279fc0f11ca7","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[2120,-180],"continueOnFail":true},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"msgid\"].json[\"msgid\"] }}"},"id":"c2a30ef3-8d68-49ba-aff1-cafcb345cc9f","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1980,-180],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}},"continueOnFail":true},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"0600bf75-8f72-4cad-bf5d-0ff098c76250","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[1840,-180]},{"parameters":{"jsCode":"const buttons = items.map(item => {\n  const rowNumber = item.json['row_number'];\n  const createdDate = item.json['Дата создания']; // получаем значение Дата создания\n  return {\n    text: `🟢 Заявка №${rowNumber}`,\n    callback_data: createdDate // используем значение Дата создания в качестве callback_data\n  };\n});\n\nconst keyboardRows = buttons.reduce((resultArray, item, index) => { \n  const chunkIndex = Math.floor(index / 3);\n\n  if(!resultArray[chunkIndex]) {\n    resultArray[chunkIndex] = [] // начинаем новый ряд\n  }\n\n  resultArray[chunkIndex].push(item);\n\n  return resultArray;\n}, []);\n\nconst keyboard = {\n  inline_keyboard: [...keyboardRows, [\n    {\n      text: \"🔵 Кабинет мастера\",\n      callback_data: \"Кабинет мастера\"\n    }\n  ]]\n};\n\nreturn { json: { reply_markup: JSON.stringify(keyboard) } };\n"},"id":"a63f8def-8816-4cee-bcd2-7856625dffaa","name":"кнопки к заявкам","type":"n8n-nodes-base.code","typeVersion":1,"position":[2040,0]},{"parameters":{"jsCode":"// Получаем входные данные\nconst inputData = items[0].json;\n\n// Создаем переменные для хранения значений y, msgid и FIO\nlet yValue;\nlet msgidValue;\nlet fioValue;\nlet masterOtvetNewOrderValue;\n\n// Проверяем, определен ли объект inputData.query, и перебираем его переменные\nif (inputData.query && inputData.query.variables) {\ninputData.query.variables.forEach((variable) => {\nif (variable.name === 'y') {\nyValue = variable.value;\n} else if (variable.name === 'msgid') {\nmsgidValue = variable.value;\n} else if (variable.name === 'FIO') {\nfioValue = variable.value;\n} else if (variable.name === 'master_otvet_neworder') {\nmasterOtvetNewOrderValue = variable.value;\n}\n});\n}\n\n// Возвращаем объект с единственными свойствами y, msgid, FIO и master_otvet_neworder\nreturn [{ json: { y: yValue, msgid: msgidValue, FIO: fioValue, master_otvet_neworder: masterOtvetNewOrderValue } }];"},"id":"4ad5f9c2-4117-4b55-ade6-636c8c06f668","name":"msgid","type":"n8n-nodes-base.code","typeVersion":1,"position":[80,280]},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Дата создания","lookupValue":"={{ $node[\"msgid\"].json[\"master_otvet_neworder\"] }}"}]},"options":{}},"id":"46fcfcfb-1d4e-4eb9-b613-88b04121c0c9","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[480,360],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot6255776658:AAE7tUXJpMBh9ZZN7BhV03bPvyfD5g3peQU/sendMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"chat_id","value":"={{ $json[\"Telegram ID\"] }}"},{"name":"=text","value":"=<b>Исполнитель на Вашу заявку назначен.Скоро он с Вами свяжется</b> ☎ 🙌\n\n<b>Хотим напомнить данные вашего заказа</b>👇\n\n✔ <b>Специалист</b> - <i>{{ $json[\"Специалист\"] }}</i>\n✔ <b>Задача</b> - <i>{{ $json[\"Задача\"] }}</i>\n✔ <b>Дата исполнения</b> - <i>{{ $json[\"Дата заказа\"] }}</i>\n✔ <b>Время исполнения</b> - <i>{{ $json[\"Время заказа\"] }}</i>\n✔ <b>Адрес исполнения</b> - <i>{{ $json[\"Адрес\"] }}</i>\n\n📢<b>ВАЖНО</b>: <i>чтобы удалить уведомление перейдите в Личный кабинет заказчика и нажмите кнопку \"Удалить уведомление\" ! Перейти в Личный кабенет можно по кнопке \"Меню\", расположенной в нижнем левом углу.</i>"},{"name":"parse_mode","value":"HTML"}]},"options":{}},"id":"2f121540-1cc5-438a-998c-60fe509f20b3","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[800,360],"continueOnFail":true},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"msgid\"].json[\"msgid\"] }}"},"id":"b778123c-98e9-4a41-9079-ab0f162ccd57","name":"Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[960,360],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}},"continueOnFail":true},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=📝 <b>Вы назначены на заказ № {{ $node[\"меняем статус заявки\"].json[\"row_number\"] }}</b>\n\n\n✔ <b>Специалист</b> - <i>{{$node[\"меняем статус заявки\"].json[\"Специалист\"]}}</i>\n✔ <b>Задача</b> - <i>{{ $node[\"меняем статус заявки\"].json[\"Задача\"] }}</i>\n✔ <b>Дата исполнения</b> - <i>{{ $node[\"меняем статус заявки\"].json[\"Дата заказа\"]}}</i>\n✔ <b>Время исполнения</b> - <i>{{$node[\"меняем статус заявки\"].json[\"Время заказа\"]}}</i>\n✔ <b>Адрес исполнения</b> - <i>{{ $node[\"меняем статус заявки\"].json[\"Адрес\"] }}</i>\n✔ <b>Телефон клиента</b> - <i>{{ $node[\"меняем статус заявки\"].json[\"Телефон\"] }}</i>","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🟢 Кабинет мастера","additionalFields":{"callback_data":"Кабинет мастера"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"43a46b3d-3bde-4373-8410-22dbb6784479","name":"Telegram2","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1120,360],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"msgid\"].json[\"msgid\"] }}"},"id":"e2f2fe2e-9a67-44df-a1c9-acda55e1732d","name":"Telegram3","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1260,-60],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}},"continueOnFail":true},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot6255776658:AAE7tUXJpMBh9ZZN7BhV03bPvyfD5g3peQU/sendMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"chat_id","value":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}"},{"name":"=text","value":"=🤷 <i>К сожалению сейчас нет новых заявок от клиентов</i>\n\n🕒 <b>Дождитесь уведомления о новых заявках от клиентов или проверьте список новых заявок позже!</b> ⏰"},{"name":"reply_markup","value":"={\n  \"inline_keyboard\": [\n    [\n      {\n        \"text\": \"🟢 Кабинет мастера\",\n        \"callback_data\": \"Кабинет мастера\"\n      }\n    ]\n  ]\n}"},{"name":"parse_mode","value":"HTML"}]},"options":{}},"id":"d901f708-fb02-4b2d-885d-c73d190ad075","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1260,-240],"continueOnFail":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"columnToMatchOn":"Дата создания","valueToMatchOn":"={{ $json[\"Дата создания\"] }}","fieldsUi":{"values":[{"column":"Воронка","fieldValue":"4. мастер назначен"},{"column":"Мастер назначен","fieldValue":"={{ $node[\"msgid\"].json[\"FIO\"] }}"},{"column":"TG ID","fieldValue":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}"},{"column":"ID LT master","fieldValue":"={{ $node[\"Webhook\"].json[\"query\"][\"id\"] }}"}]},"options":{}},"id":"33730358-f0bf-48d9-a103-3cc0c2fd4f4e","name":"меняем статус заявки","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[640,360],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Специалист","lookupValue":"={{ $node[\"Set\"].json[\"ВсеСпециальности\"] }}"}]},"options":{"returnAllMatches":"returnAllMatches"}},"id":"f946010a-c7b0-4658-828c-58bd64031c5c","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[600,-180],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  const task = item.json['Задача'];\n  const date = item.json['Дата заказа'];\n  const time = item.json['Время заказа'];\n  const address = item.json['Адрес'];\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃<b>Задача:</b> <i>${task}</i>\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> <i>${date}</i>\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> <i>${time}</i>\\n`;\n  aggregatedText += `• 🏠 <b>Адрес заявки:</b> <i>${address}</i>\\n\\n`;\n\n});\n\nreturn [{json: {aggregatedText: aggregatedText}}];"},"id":"8cc512f9-1657-4bd0-8574-e7cb159b78b3","name":"Агрегируем текст сообщения1","type":"n8n-nodes-base.code","typeVersion":1,"position":[760,-520]},{"parameters":{"jsCode":"const items = $node['заявка передана мастерам'].data;\n\nreturn [{ json: { count: items.length } }];"},"id":"cbf4d846-678c-4644-b821-b74ef2cff19c","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[580,-340],"alwaysOutputData":true,"executeOnce":true},{"parameters":{"conditions":{"string":[{"value1":"={{  }}","value2":"={{ $json.row_number }}"}]}},"id":"80817892-c290-4010-8f0d-5ac6e3fd66b3","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1260,120]},{"parameters":{"conditions":{"string":[{"value1":"={{  }}","value2":"={{ $json[\"row_number\"] }}"}]}},"id":"6356dad6-210e-44e9-b083-e6ffd3e918a7","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[1620,200]},{"parameters":{"jsCode":"let message_id = $node[\"HTTP Request1\"].json[\"result\"][\"message_id\"].toString();\nreturn { message_id }"},"id":"38d5ffc2-0310-4c9b-8355-624978bcaa77","name":"Code1","type":"n8n-nodes-base.code","typeVersion":1,"position":[880,560]},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"меняем статус заявки\"].json[\"ID LT\"] }}"},{"name":"name","value":"notification"},{"name":"value","value":"❌ Удалить уведомление"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"5dc49a9a-9c1a-48ba-9e9c-efdaf1cd9333","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1020,560],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"меняем статус заявки\"].json[\"ID LT\"] }}"},{"name":"name","value":"notification_id"},{"name":"value","value":"={{ $node[\"Code1\"].json[\"message_id\"] }}"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"44651a6f-fb92-4555-a573-44c791e215ef","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1160,560],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}},{"parameters":{"jsCode":"const buttons = items.map(item => {\n  const rowNumber = item.json['row_number'];\n  const createdDate = item.json['Дата создания'];\n  return {\n    text: `🟢 Заявка №${rowNumber}`,\n    callback_data: createdDate,\n    rowNumber: rowNumber\n  };\n});\n\nbuttons.sort((a, b) => a.rowNumber - b.rowNumber);\n\nconst keyboardRows = buttons.reduce((resultArray, item, index) => {\n  const chunkIndex = Math.floor(index / 3);\n\n  if (!resultArray[chunkIndex]) {\n    resultArray[chunkIndex] = [];\n  }\n\n  resultArray[chunkIndex].push(item);\n\n  return resultArray;\n}, []);\n\nconst keyboard = {\n  inline_keyboard: [...keyboardRows, [\n    {\n      text: \"🔵 Кабинет мастера\",\n      callback_data: \"Кабинет мастера\"\n    }\n  ]]\n};\n\nreturn { json: { reply_markup: JSON.stringify(keyboard) } };\n"},"id":"2d069005-61c6-49e5-9470-04d51e0c0497","name":"кнопки к заявкам1","type":"n8n-nodes-base.code","typeVersion":1,"position":[1880,100]},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  const task = item.json['Задача'];\n  const date = item.json['Дата заказа'];\n  const time = item.json['Время заказа'];\n  const address = item.json['Адрес'];\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃<b>Задача:</b> <i>${task}</i>\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> <i>${date}</i>\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> <i>${time}</i>\\n`;\n  aggregatedText += `• 🏠 <b>Адрес заявки:</b> <i>${address}</i>\\n\\n`;\n\n});\n\nreturn [{json: {aggregatedText: aggregatedText}}];"},"id":"daee09c6-d5d4-49cd-be18-c6e105742463","name":"Агрегируем текст сообщения2","type":"n8n-nodes-base.code","typeVersion":1,"position":[1620,-380]}],"connections":{"Webhook":{"main":[[{"node":"msgid","type":"main","index":0}]]},"Switch":{"main":[[{"node":"специальность мастера","type":"main","index":0}],[{"node":"Google Sheets","type":"main","index":0}]]},"специальность мастера":{"main":[[{"node":"Set","type":"main","index":0}]]},"заявка передана мастерам":{"main":[[{"node":"IF","type":"main","index":0}]]},"Set":{"main":[[{"node":"заявка передана мастерам","type":"main","index":0}]]},"отсекаем неподходящие заявки":{"main":[[{"node":"IF1","type":"main","index":0}]]},"Агрегируем текст сообщения":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"кнопки к заявкам":{"main":[[]]},"msgid":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"меняем статус заявки","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Telegram1","type":"main","index":0},{"node":"Code1","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Telegram3":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"меняем статус заявки":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"IF":{"main":[[{"node":"Telegram3","type":"main","index":0}],[{"node":"отсекаем неподходящие заявки","type":"main","index":0}]]},"IF1":{"main":[[{"node":"Telegram3","type":"main","index":0}],[{"node":"Агрегируем текст сообщения","type":"main","index":0},{"node":"кнопки к заявкам1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"кнопки к заявкам1":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"bd0e8366-9e7c-44db-b314-0f85c6046512","triggerCount":1,"tags":[]}