маркетплейс-услуг(валидация-картинки---вопросник)-42.json
{"createdAt":"2023-04-25T22:19:17.073Z","updatedAt":"2023-04-25T23:33:41.000Z","id":"42","name":"Маркетплейс услуг(валидация картинки - вопросник)","active":false,"nodes":[{"parameters":{"path":"665caa22-c851-4250-9a6a-9ac7d22c38c9","options":{}},"id":"afbffbb6-dfca-4bd2-b050-2267134784b6","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[100,280],"webhookId":"665caa22-c851-4250-9a6a-9ac7d22c38c9"},{"parameters":{"jsCode":"const inputData = items[0].json;\n\n// Создаем переменную для хранения значения question4\nlet question4Value;\n\n// Проверяем, определен ли объект inputData.query, и перебираем его переменные\nif (inputData.query && inputData.query.variables) {\n  inputData.query.variables.forEach((variable) => {\n    if (variable.name === 'question4') {\n      question4Value = variable.value;\n    }\n  });\n}\n\n// Возвращаем объект с единственным свойством question4\nreturn [{ json: { question4: question4Value } }];"},"id":"69eccd68-b53d-43c6-a56a-9b9ba8974c33","name":"получение переменной question4","type":"n8n-nodes-base.code","typeVersion":1,"position":[260,280]},{"parameters":{"jsCode":"// Получаем значение переменной question4 из объекта input\nconst { question4 } = items[0].json;\n\n// Генерирует случайное имя файла для сохранения\nconst filename = `${Math.random().toString(36).substring(2)}.jpg`;\n\n// Настройки узла HTTP Request\nconst requestOptions = {\n  method: 'GET',\n  url: question4,\n  options: {\n    responseType: \"arraybuffer\"\n  }\n};\n\n// Отправляем GET-запрос и сохраняем ответ в файл\nconst response = await $node.Http Request(requestOptions);\nawait $fs.writeFile('/path/to/folder/' + filename, Buffer.from(response.body.data));\n  \n// Создаем объект результата с именем сохраненного файла\nconst result = {\n  filename: filename\n};\n\n// Возвращаем результат в виде массива, содержащего объект с именем файла\nreturn [{ json: result }];"},"id":"c73e613b-d0d2-4d47-b71b-7cf900ad19fb","name":"проверка содержания question4","type":"n8n-nodes-base.code","typeVersion":1,"position":[660,280]},{"parameters":{"url":"={{ $json[\"question4\"] }}","options":{"response":{"response":{}}}},"id":"f638e6e9-6ec9-4e90-9cb6-b547c73dfc5a","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[440,280]}],"connections":{"Webhook":{"main":[[{"node":"получение переменной question4","type":"main","index":0}]]},"получение переменной question4":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"проверка содержания question4","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"0de5cae0-cf55-46e0-a8f0-7d82adafe3d8","triggerCount":0,"tags":[]}