маркетплейс-услуг(первое-посещение-клиента---вопросник)-44.json
{"createdAt":"2023-04-25T23:34:33.076Z","updatedAt":"2023-05-03T02:18:54.000Z","id":"44","name":"Маркетплейс услуг(первое посещение клиента - вопросник)","active":true,"nodes":[{"parameters":{"path":"086936a7-f79b-45bf-b46d-3b0dc8e6c633","options":{}},"id":"c7198ac8-648d-48f9-afee-e811e377098e","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-140,280],"webhookId":"086936a7-f79b-45bf-b46d-3b0dc8e6c633"},{"parameters":{"jsCode":"// Получаем входные данные\nconst inputData = items[0].json;\n\n// Создаем переменные для хранения значений вопросов и ответа мастера\nlet question1Value, question2Value, question3Value, question4Value, question5Value, question6Value, question7Value, masterOtvetNeworderValue;\n\n// Проверяем, определен ли объект inputData.query, и перебираем его переменные\nif (inputData.query && inputData.query.variables) {\n  inputData.query.variables.forEach((variable) => {\n    if (variable.name === 'question1') {\n      question1Value = variable.value;\n    }\n    if (variable.name === 'question2') {\n      question2Value = variable.value;\n    }\n    if (variable.name === 'question3') {\n      question3Value = variable.value;\n    }\n    if (variable.name === 'question4') {\n      question4Value = variable.value;\n    }\n    if (variable.name === 'question5') {\n      question5Value = variable.value;\n    }\n    if (variable.name === 'question6') {\n      const [day, month, year] = variable.value.split('.');\n      question6Value = `${day}.${month}.${year}`;\n    }\n    if (variable.name === 'question7') {\n      const [hours, minutes] = variable.value.split(':');\n      const date = new Date(variable.value);\n      question7Value = `${hours}:${minutes}`;\n    }\n    if (variable.name === 'master_otvet_neworder') {\n      masterOtvetNeworderValue = variable.value;\n    }\n  });\n}\n\n// Возвращаем объект с значениями всех вопросов и ответом мастера\nreturn [{\n  json: {\n    question1: question1Value,\n    question2: question2Value,\n    question3: question3Value,\n    question4: question4Value,\n    question5: question5Value,\n    question6: question6Value,\n    question7: question7Value,\n    master_otvet_neworder: masterOtvetNeworderValue,\n  }\n}];"},"id":"e47baef7-496e-4e3c-9eea-239aaaccaf50","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[0,280]},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Дата создания","lookupValue":"={{ $json[\"master_otvet_neworder\"] }}"}]},"options":{}},"id":"196c5884-4ca2-494a-baa3-6bda8aea5811","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[140,280],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"columnToMatchOn":"Дата создания","valueToMatchOn":"={{ $json[\"Дата создания\"] }}","fieldsUi":{"values":[{"column":"Воронка","fieldValue":"5. 1ый визит мастера завершен"},{"column":"Описание работ","fieldValue":"={{ $node[\"Code\"].json[\"question1\"] }}"},{"column":"Стоимость работ","fieldValue":"={{ $node[\"Code\"].json[\"question2\"] }}"},{"column":"Доп. материалы","fieldValue":"={{ $node[\"Code\"].json[\"question3\"] }}"},{"column":"Фото","fieldValue":"={{ $node[\"Code\"].json[\"question4\"] }}"},{"column":"Комментарий","fieldValue":"={{ $node[\"Code\"].json[\"question5\"] }}"},{"column":"Дата исполнения","fieldValue":"={{ $node[\"Code\"].json[\"question6\"] }}"},{"column":"Время исполнения","fieldValue":"={{ $node[\"Code\"].json[\"question7\"] }}"}]},"options":{}},"id":"6a43188c-d3ce-430f-a371-e760eb05ff1f","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[300,280],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Получаем входные данные\nconst inputData = items[0].json;\n\n// Создаем переменные для хранения значений вопросов и ответа мастера\nlet question1Value, question2Value, question3Value, question4Value, question5Value, question6Value, question7Value, masterOtvetNeworderValue;\n\n// Проверяем, определен ли объект inputData.query, и перебираем его переменные\nif (inputData.query && inputData.query.variables) {\n  inputData.query.variables.forEach((variable) => {\n    if (variable.name === 'question1') {\n      question1Value = variable.value;\n    }\n    if (variable.name === 'question2') {\n      question2Value = variable.value;\n    }\n    if (variable.name === 'question3') {\n      question3Value = variable.value;\n    }\n    if (variable.name === 'question4') {\n      question4Value = variable.value;\n    }\n    if (variable.name === 'question5') {\n      question5Value = variable.value;\n    }\n    if (variable.name === 'question6') {\n      question6Value = variable.value;\n    }\n    if (variable.name === 'question7') {\n      question7Value = variable.value;\n    }\n    if (variable.name === 'master_otvet_neworder') {\n      masterOtvetNeworderValue = variable.value;\n    }\n  });\n}\n\n// Возвращаем объект с значениями всех вопросов и ответом мастера\nreturn [{\n  json: {\n    question1: question1Value,\n    question2: question2Value,\n    question3: question3Value,\n    question4: question4Value,\n    question5: question5Value,\n    question6: question6Value,\n    question7: question7Value,\n    master_otvet_neworder: masterOtvetNeworderValue,\n  }\n}];"},"id":"cbde983b-a8b0-4a6f-8495-01d61b6be593","name":"Code1","type":"n8n-nodes-base.code","typeVersion":1,"position":[-260,580]}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"12be5ae2-5464-4ec2-8cad-808f0fd6d7f1","triggerCount":1,"tags":[]}