маркетплэйс-услуг(посмотреть-специальность)-37.json
{"createdAt":"2023-04-19T22:06:19.407Z","updatedAt":"2023-07-03T21:39:24.000Z","id":"37","name":"Маркетплэйс услуг(посмотреть специальность)","active":true,"nodes":[{"parameters":{"path":"082b727e-58f6-45de-ab35-4ba1c128ac09","options":{}},"id":"e9b0a6f4-d011-42c7-b267-78740bb617b1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[220,320],"webhookId":"082b727e-58f6-45de-ab35-4ba1c128ac09"},{"parameters":{"jsCode":"const tagsArray = $node[\"Set\"].json[\"Tags\"];\ntagsArray.forEach((tag, index) => {\n  if (/[A-Z]/.test(tag)) {\n    tagsArray[index] = tag.replace(/([A-Z])/g, \" $1\");\n  }\n});\n\nlet header = `👤 <b>Ваш статус на сервисе \"${tagsArray[0]}\"</b>.`;\n\nlet emojiArray = [\"1️⃣\", \"2️⃣\", \"3️⃣\", \"4️⃣\", \"5️⃣\", \"6️⃣\", \"7️⃣\", \"8️⃣\", \"9️⃣\", \"🔟\"];\n\nlet aggregatedText = `${header}\\n\\n`;\n\nfor (let i = 1; i < tagsArray.length; i++){\n    let emojiIndex = i-1;\n    if (i > 10) {\n        emojiIndex = Math.floor((i-1)/10) - 1;\n        aggregatedText += `\\n${emojiArray[emojiIndex]}`;\n    }\n    else {\n        aggregatedText += '\\n';\n    }\n    aggregatedText += `${emojiArray[(i-1) % 10]} -  <i>${tagsArray[i]}</i>`;\n}\n\nreturn [\n    {\n        \"list\": aggregatedText\n    }\n]"},"id":"afe1fc87-817a-41c7-b7d0-0979ac7416c0","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[680,320]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"Tags","value":"={{ $node[\"Webhook\"].json[\"query\"][\"tags\"] }}"}]},"options":{}},"id":"2dd7c92f-ccdd-462f-9b3b-4ce993e78a5c","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[540,320]},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=<u>СПИСОК ВАШИ СПЕЦИАЛЬНОСТЕЙ</u>\n\n{{ $node[\"Code\"].json[\"list\"] }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🟡 Управление специальностями","additionalFields":{"callback_data":"Управление специальностями"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"c435f285-1f2d-4967-8123-00b34d2ca54a","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1020,260],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code1\"].json[\"msgid\"] }}"},"id":"e35bf07b-0622-421d-8c4b-c92b0c0cb731","name":"Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[840,320],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"jsCode":"const inputData = items[0].json;\n\n// Создаем переменные для хранения значений y, msgid и FIO\nlet yValue;\nlet msgidValue;\nlet fioValue;\nlet masterOtvetNewOrderValue;\n\n// Проверяем, определен ли объект inputData.query, и перебираем его переменные\nif (inputData.query && inputData.query.variables) {\ninputData.query.variables.forEach((variable) => {\nif (variable.name === 'y') {\nyValue = variable.value;\n} else if (variable.name === 'msgid') {\nmsgidValue = variable.value;\n} else if (variable.name === 'FIO') {\nfioValue = variable.value;\n} else if (variable.name === 'master_otvet_neworder') {\nmasterOtvetNewOrderValue = variable.value;\n}\n});\n}\n\n// Возвращаем объект с единственными свойствами y, msgid, FIO и master_otvet_neworder\nreturn [{ json: { y: yValue, msgid: msgidValue, FIO: fioValue, master_otvet_neworder: masterOtvetNewOrderValue } }];"},"id":"f490d419-b6db-4766-b9ea-2088aae34f35","name":"Code1","type":"n8n-nodes-base.code","typeVersion":1,"position":[380,320]}],"connections":{"Webhook":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Set":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Set","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"5ddb9382-1aae-4340-802f-7f5d08a5d4f4","triggerCount":1,"tags":[]}