маркетплейс-услуг(обработка-статуса-новая-заявка)-45.json
{"createdAt":"2023-04-27T00:51:12.744Z","updatedAt":"2023-04-27T00:57:55.000Z","id":"45","name":"Маркетплейс услуг(обработка статуса новая заявка)","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"bb497743-192c-460a-acf3-e580ec37560f","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[140,300]},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Воронка","lookupValue":"1. новая заявка"}]},"options":{"returnAllMatches":"returnAllMatches"}},"id":"9ad1bbdc-fbfb-4eeb-bdcd-a1dbdbc7da10","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[300,300],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"columnToMatchOn":"Дата создания","valueToMatchOn":"={{ $json[\"Дата создания\"] }}","fieldsUi":{"values":[{"column":"Воронка","fieldValue":"2. заявка обработана"}]},"options":{}},"id":"8893158e-485e-44ab-952a-0c2749f96a13","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[460,300],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"meta":null,"pinData":{},"versionId":"5443cc0a-9c84-45d0-b4e3-d90b6d4f64c0","triggerCount":1,"tags":[]}