маркетплейс-услуг(отправка-статуса-выполненно-на-согласование-клиенту)-51.json
{"createdAt":"2023-05-06T08:51:56.272Z","updatedAt":"2023-05-06T10:21:16.000Z","id":"51","name":"Маркетплейс услуг(отправка статуса выполненно на согласование клиенту)","active":true,"nodes":[{"parameters":{"path":"49cfdd9c-e936-4308-8462-1c0b4efff8b1","options":{}},"id":"54c77a2c-5277-46dc-b9a0-90778869a200","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[80,380],"webhookId":"49cfdd9c-e936-4308-8462-1c0b4efff8b1"},{"parameters":{"jsCode":"// Получаем входные данные\nconst inputData = items[0].json;\n\n// Создаем переменные для хранения значений z, msgid и FIO\nlet zValue;\nlet msgidValue;\nlet fioValue;\nlet masterOtvetNewOrderValue;\n\n// Проверяем, определен ли объект inputData.query, и перебираем его переменные\nif (inputData.query && inputData.query.variables) {\ninputData.query.variables.forEach((variable) => {\nif (variable.name === 'z') {\nzValue = variable.value;\n} else if (variable.name === 'msgid') {\nmsgidValue = variable.value;\n} else if (variable.name === 'FIO') {\nfioValue = variable.value;\n} else if (variable.name === 'master_otvet_neworder') {\nmasterOtvetNewOrderValue = variable.value;\n}\n});\n}\n\n// Возвращаем объект с единственными свойствами y, msgid, FIO и master_otvet_neworder\nreturn [{ json: { z: zValue, msgid: msgidValue, FIO: fioValue, master_otvet_neworder: masterOtvetNewOrderValue } }];"},"id":"24d4549a-c5bb-42a5-8487-dab011da8dd4","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[220,380]},{"parameters":{"jsCode":"return new Promise((resolve) => {\n  setTimeout(() => {\n    resolve({ });\n  }, 5000);\n});"},"id":"9cfb0d38-5dd0-4141-bc42-690bcd0ec028","name":"Code1","type":"n8n-nodes-base.code","typeVersion":1,"position":[360,380]},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Дата создания","lookupValue":"={{ $node[\"Code\"].json[\"master_otvet_neworder\"] }}"}]},"options":{}},"id":"398cbc83-7251-46f6-b55e-3adb6a0f1a64","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[500,380],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  let description = item.json['Задача'];\n  let date = item.json['Дата заказа'];\n  let time = item.json['Время заказа'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  let cost = '';\n  let additionalMaterials = '';\n  let comment = '';\n  let photo = '';\n  let showAdditionalInfo = false;\n\n  if (funnel === \"6. цена направлена на согласование клиенту\") {\n      date = item.json['Дата исполнения'];\n      time = item.json['Время исполнения'];\n      description = item.json['Описание работ'];\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n  } else if (funnel === \"7. клиент подтвердил\" || funnel === \"10. клиент отправил на доработку\") {\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n      showAdditionalInfo = true;\n  } else if (funnel === \"3. заявка передана мастерам\") {\n      funnel = '🫴 заявка передана мастерам';\n  }\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🔧 клиент отправил на доработку';\n  }\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃<b>Описание работ:</b> <i>${description}</i>\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> <i>${date}</i>\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> <i>${time}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${funnel}</i>\\n`;\n\n  if (cost) {\n    aggregatedText += `• 💰 <b>Стоимость работ:</b> <i>${cost}</i>\\n`;\n  }\n  \n  if (additionalMaterials) {\n    aggregatedText += `• 🛒 <b>Доп. материалы:</b> <i>${additionalMaterials}</i>\\n`;\n  }\n  \n  if (comment) {\n    aggregatedText += `• 💬 <b>Комментарий:</b> <i>${comment}</i>\\n`;\n  }\n  \n  if (photo) {\n    aggregatedText += `• 📷 <b>Фото:</b> <i>${photo}</i>\\n`;\n  }\n\n  if (showAdditionalInfo && masterAppointed) {\n    aggregatedText += `• 🧰 <b>Мастер исполнитель:</b><i>👋 ${masterAppointed}</i>\\n`;\n  } else if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Вам назначен мастер: </b><i>👋 ${masterAppointed}</i>\\n`;\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{json: {aggregatedText: aggregatedText}}];"},"id":"718e62b6-3248-4db8-b295-16369e01068a","name":"Code2","type":"n8n-nodes-base.code","typeVersion":1,"position":[640,380]},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"86fb0455-bb8d-4cf8-a338-2642b42b5500","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[780,380],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=<b>Запрос на изменение статуса заявки на статус \"Выпонено\" отправлен заказчику</b>\n\n{{ $node[\"Code2\"].json[\"aggregatedText\"] }}\n\n\n\n<i> 📣Ждите уведомления от заказчика о подтверждении выполения статуса ✅ или если заказчик посчитает нужным может отправить заявку на доработку 🛠</i>","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔵 Личный кабинет","additionalFields":{"callback_data":"Личный кабинет"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"e2953542-49b2-450d-989f-515484a91a5b","name":"Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[920,380],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Google Sheets\"].json[\"Telegram ID\"] }}","text":"=<b>🔔 Мастер запрашивает изменение статуса Ваший заявки на статус \"Выполнено\" ✅</b>\n\n{{ $node[\"Code2\"].json[\"aggregatedText\"] }}\n\n\n<i>Перейдите в Личный кабинет и измените статус заявки на статус \"Выполнено\" либо отправьте заявку на доработку</i>\n\n📢<b>ВАЖНО</b>: <i>чтобы удалить уведомление перейдите в Личный кабинет заказчика и нажмите кнопку \"Удалить уведомление\" ! Перейти в Личный кабинет можно по кнопке \"Меню\", расположенной в нижнем левом углу.</i>","additionalFields":{"parse_mode":"HTML"}},"id":"108f9689-e0eb-48ab-928a-6e2ea12e53e7","name":"Telegram2","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1060,380],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets\"].json[\"ID LT\"] }}"},{"name":"name","value":"notification"},{"name":"value","value":"❌ Удалить уведомление"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"6173f948-e966-4263-a304-914cb9c31ba1","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1340,380],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}},{"parameters":{"method":"POST","url":"https://app.leadteh.ru/api/v1/setContactVariable","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"api_token","value":"z3NKDDweLVTcwVNafiHKJUjwcSfTs17D2iGEzgmcIee9oclBLL5xRvqgGIVJ"},{"name":"contact_id","value":"={{ $node[\"Google Sheets\"].json[\"ID LT\"] }}"},{"name":"name","value":"notification_master_id"},{"name":"value","value":"={{ $node[\"Code3\"].json[\"message_id\"] }}"},{"name":"deletable","value":"0"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"id":"a64f96d2-d89d-4c57-9438-7285709ced97","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1480,380],"credentials":{"httpBasicAuth":{"id":"35","name":"Unnamed credential"}}},{"parameters":{"jsCode":"let message_id = $node[\"Telegram2\"].json[\"result\"][\"message_id\"].toString();\nreturn { message_id }"},"id":"6712e116-c382-4936-9b33-6f544ed6e02a","name":"Code3","type":"n8n-nodes-base.code","typeVersion":1,"position":[1200,380]}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Telegram2","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"585cb328-a785-48d5-886c-27771bc8de12","triggerCount":1,"tags":[]}