маркетплейс-услуг(удаление-специальности)-38.json
{"createdAt":"2023-04-20T02:31:04.707Z","updatedAt":"2023-05-11T04:43:43.000Z","id":"38","name":"Маркетплейс услуг(удаление специальности)","active":true,"nodes":[{"parameters":{"path":"ccd38131-9e8d-4d7f-8a3c-40c9a031adea","options":{}},"id":"5b461beb-a78b-4a53-b03b-ba5c9976d4d6","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-60,440],"webhookId":"ccd38131-9e8d-4d7f-8a3c-40c9a031adea"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"Tags","value":"={{ $node[\"Webhook\"].json[\"query\"][\"tags\"] }}"}]},"options":{}},"id":"c6a60a20-d745-475a-bdff-2dce23aeafe0","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[240,440]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot6255776658:AAE7tUXJpMBh9ZZN7BhV03bPvyfD5g3peQU/sendMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"chat_id","value":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}"},{"name":"text","value":"=<u>СПИСОК ВАШИ СПЕЦИАЛЬНОСТЕЙ</u>\n\n{{ $node[\"текст\"].json[\"list\"] }}\n\n🧹 <b>ЧТОБЫ УДАЛИТЬ СПЕЦИАЛЬНОСТЬ НАЖМИТЕ КНОПКУ НИЖЕ</b>👇"},{"name":"reply_markup","value":"={{ $node[\"кнопки1\"].json[\"reply_markup\"] }}"},{"name":"parse_mode","value":"HTML"}]},"options":{}},"id":"9576a561-e8e3-4087-8efa-2edd32e72590","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[900,420]},{"parameters":{"jsCode":"const tagsArray = $node[\"Set\"].json[\"Tags\"];\ntagsArray.forEach((tag, index) => {\n  if (/[A-Z]/.test(tag)) {\n    tagsArray[index] = tag.replace(/([A-Z])/g, \" $1\");\n  }\n});\n\nlet header = `👤 <b>Ваш статус на сервисе \"${tagsArray[0]}\"</b>.`;\n\nlet emojiArray = [\"1️⃣\", \"2️⃣\", \"3️⃣\", \"4️⃣\", \"5️⃣\", \"6️⃣\", \"7️⃣\", \"8️⃣\", \"9️⃣\", \"🔟\"];\n\nlet aggregatedText = `${header}\\n\\n`;\n\nfor (let i = 1; i < tagsArray.length; i++){\n    let emojiIndex = i-1;\n    if (i > 10) {\n        emojiIndex = Math.floor((i-1)/10) - 1;\n        aggregatedText += `\\n${emojiArray[emojiIndex]}`;\n    }\n    else {\n        aggregatedText += '\\n';\n    }\n    aggregatedText += `${emojiArray[(i-1) % 10]} -  <i>${tagsArray[i]}</i>`;\n}\n\nreturn [\n    {\n        \"list\": aggregatedText\n    }\n]"},"id":"9cab7748-9640-4f73-bfb2-92bb3ae68f26","name":"текст","type":"n8n-nodes-base.code","typeVersion":1,"position":[400,340]},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"a1bfa75e-2816-4aa2-96be-df171bf7d05a","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[740,420],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"6c51a7cb-235d-48d3-b834-07add136f554","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[580,420]},{"parameters":{"jsCode":"const inputData = items[0].json;\n\n// Создаем переменные для хранения значений y, msgid и FIO\nlet yValue;\nlet msgidValue;\nlet fioValue;\nlet masterOtvetNewOrderValue;\n\n// Проверяем, определен ли объект inputData.query, и перебираем его переменные\nif (inputData.query && inputData.query.variables) {\ninputData.query.variables.forEach((variable) => {\nif (variable.name === 'y') {\nyValue = variable.value;\n} else if (variable.name === 'msgid') {\nmsgidValue = variable.value;\n} else if (variable.name === 'FIO') {\nfioValue = variable.value;\n} else if (variable.name === 'master_otvet_neworder') {\nmasterOtvetNewOrderValue = variable.value;\n}\n});\n}\n\n// Возвращаем объект с единственными свойствами y, msgid, FIO и master_otvet_neworder\nreturn [{ json: { y: yValue, msgid: msgidValue, FIO: fioValue, master_otvet_neworder: masterOtvetNewOrderValue } }];"},"id":"cab86e89-7253-4cae-9c22-47529869c9de","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[80,440]},{"parameters":{"jsCode":"let tags = items[0].json.Tags;\nlet keyboard = [];\n\nlet buttons = [];\n\nfor (let i = 1; i < tags.length; i++) {\n  let button = {\n    text: \"✖\"+i.toString(),\n    callback_data: tags[i],\n  };\n  \n  buttons.push(button);\n\n  if (i % 4 === 0) { // добавляем четыре кнопки в ряд\n    keyboard.push(buttons);\n    buttons = [];\n  }\n}\n\n// добавляем последние кнопки\nif (buttons.length > 0) {\n  keyboard.push(buttons);\n}\n\n// добавляем кнопку \"другой\"\nkeyboard.push([{text: \"🟡 Управление специализациями\", callback_data: \"Управление специализациями\"}]);\n\nlet replyMarkup = JSON.stringify({\n  inline_keyboard: keyboard,\n});\n\nlet result = [];\n\n// возвращаем массив объектов\nfor (let i = 0; i < items.length; i++) {\n  let item = items[i];\n  let output = {};\n  output.title = item.title;\n  output.link = item.link;\n  output.reply_markup = replyMarkup;\n  result.push(output);\n}\n\nreturn result;"},"id":"2ba894d1-91f7-4711-a869-4a5c0b4feda3","name":"кнопки1","type":"n8n-nodes-base.code","typeVersion":1,"position":[400,520]}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Set":{"main":[[{"node":"текст","type":"main","index":0},{"node":"кнопки1","type":"main","index":0}]]},"текст":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Code":{"main":[[{"node":"Set","type":"main","index":0}]]},"кнопки1":{"main":[[{"node":"Merge1","type":"main","index":1}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"3544fd10-6bb3-473b-92eb-e221c1142668","triggerCount":1,"tags":[]}