маркетплейс-услуг(удалить-специальность-из-таблицы)-39.json
{"createdAt":"2023-04-20T21:31:31.625Z","updatedAt":"2023-07-03T21:43:13.000Z","id":"39","name":"Маркетплейс услуг(удалить специальность из таблицы)","active":true,"nodes":[{"parameters":{"path":"495c9e54-9193-4607-a8e7-2554764c87b1","options":{}},"id":"fb480cb6-1d7c-4fd3-a4d9-0ddb70973b41","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-320,280],"webhookId":"495c9e54-9193-4607-a8e7-2554764c87b1"},{"parameters":{"jsCode":"const inputData = items[0].json;\nlet deleteValue;\nlet deleteType;\ninputData.query.variables.forEach((variable) => {\n  if (variable.name === 'delete') {\n    deleteValue = variable.value;\n    deleteType = variable.type;\n  }\n});\nreturn [\n  {\n    json: {\n      delete: deleteValue,\n      type: deleteType\n    }\n  }\n];"},"id":"411069b3-aa53-4735-9f15-df758f3465b7","name":"delete","type":"n8n-nodes-base.code","typeVersion":1,"position":[-180,280]},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1hX8TE9h7i3eVeETH7SmBcz_vhOK2EBSWOiuYumPC8l0","mode":"list","cachedResultName":"База данных мастера","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hX8TE9h7i3eVeETH7SmBcz_vhOK2EBSWOiuYumPC8l0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"База данных мастера","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hX8TE9h7i3eVeETH7SmBcz_vhOK2EBSWOiuYumPC8l0/edit#gid=0"},"startIndex":"={{ $json[\"row_number\"] }}"},"id":"c7cb7ee9-9da3-4c57-8323-25a443786983","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[100,280],"alwaysOutputData":true,"executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1hX8TE9h7i3eVeETH7SmBcz_vhOK2EBSWOiuYumPC8l0","mode":"list","cachedResultName":"База данных мастера","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hX8TE9h7i3eVeETH7SmBcz_vhOK2EBSWOiuYumPC8l0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"База данных мастера","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hX8TE9h7i3eVeETH7SmBcz_vhOK2EBSWOiuYumPC8l0/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Специализация","lookupValue":"={{ $json[\"delete\"] }}"}]},"options":{}},"id":"1720ad7c-735a-4a9f-b7db-8fb5bbb06d1e","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[-40,280],"alwaysOutputData":false,"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"delete","type":"main","index":0}]]},"delete":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"e405d207-32ea-4040-a570-98c56595feca","triggerCount":1,"tags":[]}