маркетплэйс-услуг(текущие-заказы-мастер)-35.json
{"createdAt":"2023-04-17T10:20:03.845Z","updatedAt":"2023-05-17T13:47:24.000Z","id":"35","name":"Маркетплэйс услуг(текущие заказы мастер)","active":true,"nodes":[{"parameters":{"path":"4d15b241-2a30-4c7d-b75c-dd23014e021f","options":{}},"id":"b6b105ce-4c08-4559-9ee2-ce54feddbab9","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-20,360],"webhookId":"4d15b241-2a30-4c7d-b75c-dd23014e021f"},{"parameters":{"jsCode":"// Получаем входные данные\nconst inputData = items[0].json;\n\n// Создаем переменные для хранения значений z, msgid и FIO\nlet zValue;\nlet msgidValue;\nlet fioValue;\nlet masterOtvetNewOrderValue;\n\n// Проверяем, определен ли объект inputData.query, и перебираем его переменные\nif (inputData.query && inputData.query.variables) {\ninputData.query.variables.forEach((variable) => {\nif (variable.name === 'z') {\nzValue = variable.value;\n} else if (variable.name === 'msgid') {\nmsgidValue = variable.value;\n} else if (variable.name === 'FIO') {\nfioValue = variable.value;\n} else if (variable.name === 'master_otvet_neworder') {\nmasterOtvetNewOrderValue = variable.value;\n}\n});\n}\n\n// Возвращаем объект с единственными свойствами y, msgid, FIO и master_otvet_neworder\nreturn [{ json: { z: zValue, msgid: msgidValue, FIO: fioValue, master_otvet_neworder: masterOtvetNewOrderValue } }];"},"id":"9a9652f4-f071-412d-8472-2230830d6398","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[120,360]},{"parameters":{"dataType":"string","value1":"={{ $json[\"z\"] }}","rules":{"rules":[{"value2":"1"},{"value2":"2","output":1}]}},"id":"2ec843d1-c779-43f1-abd0-dfd2da8eac47","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[280,360]},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Мастер назначен","lookupValue":"={{ $json[\"Фамилия Имя Отчество мастера\"] }}"}]},"options":{"returnAllMatches":"returnAllMatches"}},"id":"4c63bf0c-1065-4294-bc98-3a524cce7fb3","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[100,160],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1hX8TE9h7i3eVeETH7SmBcz_vhOK2EBSWOiuYumPC8l0","mode":"list","cachedResultName":"База данных мастера","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hX8TE9h7i3eVeETH7SmBcz_vhOK2EBSWOiuYumPC8l0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"База данных мастера","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hX8TE9h7i3eVeETH7SmBcz_vhOK2EBSWOiuYumPC8l0/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Telegram ID","lookupValue":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}"}]},"options":{"returnAllMatches":"returnAllMatches"}},"id":"fe7f8c48-d94d-44c6-98e3-64749cd5e47d","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[-60,160],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"jsCode":"let aggregatedText = '';\nlet numRequests = 0;\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  let description = item.json['Задача'];\n  let date = item.json['Дата заказа'];\n  let time = item.json['Время заказа'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  let cost = '';\n  let additionalMaterials = '';\n  let comment = '';\n  let photo = '';\n  let showAdditionalInfo = false;\n\n  if (funnel === \"6. цена направлена на согласование клиенту\") {\n      date = item.json['Дата исполнения'];\n      time = item.json['Время исполнения'];\n      description = item.json['Описание работ'];\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n  } else if (funnel === \"7. клиент подтвердил\" || funnel === \"10. клиент отправил на доработку\") {\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n      showAdditionalInfo = true;\n  }\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🔧 клиент отправил на доработку';\n  }\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> <i>${specialist || \"Нет\"}</i>\\n`;\n  aggregatedText += `• 📃<b>Описание работ:</b> <i>${description || \"Нет\"}</i>\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> <i>${date || \"Нет\"}</i>\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> <i>${time || \"Нет\"}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${funnel}</i>\\n`;\n\n  if (cost) {\n    aggregatedText += `• 💰 <b>Стоимость работ:</b> <i>${cost}</i>\\n`;\n  }\n  \n  if (additionalMaterials) {\n    aggregatedText += `• 🛒 <b>Доп. материалы:</b> <i>${additionalMaterials}</i>\\n`;\n  }\n  \n  if (comment) {\n    aggregatedText += `• 💬 <b>Комментарий:</b> <i>${comment}</i>\\n`;\n  }\n  \n  if (photo) {\n    aggregatedText += `• 📷 <b>Фото:</b> <i>${photo}</i>\\n`;\n  }\n\n\n  aggregatedText += '\\n';\n  numRequests++;\n});\n\naggregatedText += `＜ <b>Общее количество заявок в работе: ${numRequests} заявки</b> ＞`;\n\nreturn [{json: {aggregatedText: aggregatedText}}];"},"id":"288e94a6-7aeb-4729-932d-45e8b56b25e2","name":"текст","type":"n8n-nodes-base.code","typeVersion":1,"position":[680,-120]},{"parameters":{"jsCode":"const buttons = items.map(item => {\n  const rowNumber = item.json['row_number'];\n  const createdDate = item.json['Дата создания']; // получаем значение Дата создания\n  return {\n    text: `🟢 Заявка №${rowNumber}`,\n    callback_data: createdDate // используем значение Дата создания в качестве callback_data\n  };\n});\n\nconst keyboardRows = buttons.reduce((resultArray, item, index) => { \n  const chunkIndex = Math.floor(index / 3);\n\n  if(!resultArray[chunkIndex]) {\n    resultArray[chunkIndex] = [] // начинаем новый ряд\n  }\n\n  resultArray[chunkIndex].push(item);\n\n  return resultArray;\n}, []);\n\nconst keyboard = {\n  inline_keyboard: [...keyboardRows, [\n    {\n      text: \"🔵 Кабинет мастера\",\n      callback_data: \"Кабинет мастера\"\n    }\n  ]]\n};\n\nreturn { json: { reply_markup: JSON.stringify(keyboard) } };"},"id":"0ddde2b2-cdaf-4ebb-893e-cfafc0f7c5c6","name":"кнопки","type":"n8n-nodes-base.code","typeVersion":1,"position":[680,20]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"e8dfa816-0e20-435b-b560-c1ab88da96cb","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[840,-60]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json[\"isEmpty\"] }}","value2":true}]}},"id":"587aa724-3d7b-4c5d-b0a1-a6b6b9a8c1cd","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[440,160]},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"b3565723-a4db-48a3-b89a-123d1bb68d41","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1000,-60],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot6255776658:AAE7tUXJpMBh9ZZN7BhV03bPvyfD5g3peQU/sendMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"chat_id","value":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}"},{"name":"text","value":"=         <b>ВАШИ ТЕКУЩИЕ ЗАЯВКИ</b>\n\n{{ $node[\"текст\"].json[\"aggregatedText\"] }}\n\n\n<b>⚙ Нажмите на кнопку выбранной вами заявки для дальнейшей работы по ней</b>👇"},{"name":"reply_markup","value":"={{ $node[\"кнопки\"].json[\"reply_markup\"] }}"},{"name":"parse_mode","value":"HTML"}]},"options":{}},"id":"33105164-9fd0-449a-b60c-3aadced78890","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1160,-60]},{"parameters":{"jsCode":"const inputData = items;\n\nconst filteredData = inputData.filter((item) => {\n  const funnelValue = item.json[\"Воронка\"];\n  return (\n    funnelValue !== \"8. клиент отказался\" &&\n    funnelValue !== \"9. клиент принял работу\"\n  );\n});\n\nif (Object.keys($node['Google Sheets'].json).length === 0 || filteredData.length === 0) {\n  return [{json: {isEmpty: true}}];\n} else {\n  return filteredData;\n}"},"id":"1310cbbc-b62f-4353-b90c-b14ebdd24e8e","name":"фильтр заявок","type":"n8n-nodes-base.code","typeVersion":1,"position":[280,160],"alwaysOutputData":false},{"parameters":{"documentId":{"__rl":true,"value":"1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Заказы клиентов(маркетплэйс услуг)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_mVTlW_BvNIQ30QbtAC59sPq3-ynnggfG01WI4A0WjE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Дата создания","lookupValue":"={{ $json[\"master_otvet_neworder\"] }}"}]},"options":{}},"id":"53a6f402-66e0-4996-8604-0b4530f1c20b","name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[660,360],"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"=📢 К сожалению, мы не обнаружили активных заявок в работе.\n \nНо не расстраивайтесь! В разделе новых заявок Вы обязательно найдете интересные задачи. 🤩  🔍 Переходите в раздел новых заявок и ищите заявки, которые подходят именно Вам. 💼  👀\n \nЕсли же нужных заявок пока нет, не переживайте. Мы обязательно уведомим Вас о поступлении новых заявок от клиентов. 📩  Не теряйте настроение и продолжайте работать с нами! 💪","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🟢 Кабинет мастера","additionalFields":{"callback_data":"Кабинет мастера"}}]}}]},"additionalFields":{}},"id":"525b1318-179a-4a9c-8eeb-db5e68e3f079","name":"Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[420,-60],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"ed924df6-2963-4ef9-b7ac-c204e30a1a6e","name":"Telegram2","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[280,-60],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"content":"Сообщение об отсутствии заявок в работе","height":190.81410376970766,"width":351.1987222993792},"id":"d69e761c-b56b-4581-bf41-d6bdc9ae2c31","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[223.064105813994,-102.58333265190458]},{"parameters":{"content":"ФИЛЬРАЦИЯ","height":172.05769277945075,"width":739.7243785261254},"id":"355c877a-0545-43dc-b7e5-faa5f9fe66cd","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-140,127.94230722054925]},{"parameters":{"content":"СООБЩЕНИЕ О ТЕКУЩИХ ЗАЯВКАХ","height":312.7307752063763,"width":738.3846348839645},"id":"d5fd9f39-980b-402a-b40a-d7b68f0d2370","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,-160]},{"parameters":{"content":"СТАРТОВЫЙ БЛОК","height":186.79487284322377,"width":525.3653957803336},"id":"b9a0d872-7bab-47aa-a766-1e7386a180d6","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-65.0705106713906,320]},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  let description = item.json['Задача'];\n  let date = item.json['Дата заказа'];\n  let time = item.json['Время заказа'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  let cost = '';\n  let additionalMaterials = '';\n  let comment = '';\n  let photo = '';\n  let showAdditionalInfo = false;\n\n  if (funnel === \"6. цена направлена на согласование клиенту\") {\n      date = item.json['Дата исполнения'];\n      time = item.json['Время исполнения'];\n      description = item.json['Описание работ'];\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n  } else if (funnel === \"7. клиент подтвердил\" || funnel === \"10. клиент отправил на доработку\") {\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n      showAdditionalInfo = true;\n  }\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🔧 клиент отправил на доработку';\n  }\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃<b>Описание работ:</b> <i>${description}</i>\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> <i>${date}</i>\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> <i>${time}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${funnel}</i>\\n`;\n\n  if (cost) {\n    aggregatedText += `• 💰 <b>Стоимость работ:</b> <i>${cost}</i>\\n`;\n  }\n  \n  if (additionalMaterials) {\n    aggregatedText += `• 🛒 <b>Доп. материалы:</b> <i>${additionalMaterials}</i>\\n`;\n  }\n  \n  if (comment) {\n    aggregatedText += `• 💬 <b>Комментарий:</b> <i>${comment}</i>\\n`;\n  }\n  \n  if (photo) {\n    aggregatedText += `• 📷 <b>Фото:</b> <i>${photo}</i>\\n`;\n  }\n\n\n  aggregatedText += '\\n';\n});\n\nreturn [{json: {aggregatedText: aggregatedText}}];"},"id":"e9b1eebc-019f-40c1-a53f-69cc6dd22884","name":"текст1","type":"n8n-nodes-base.code","typeVersion":1,"position":[800,360]},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"={{ $node[\"текст1\"].json[\"aggregatedText\"] }}\n\n<b>Выберите необходимое действие с заявкой</b>\n\n☞ 🗂 <i>Заполните вопросник визита</i><b> (использование данной опции под вопросом)</b>\n\n☞ ✅ <i>Нажмите \"Выполнено\", если работа завершена</i>\n\n☞ ➕ <i>Если необходимо даделать работу, нажмите \"доделать работу\"</i>","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🗂 Заполнить вопросник","additionalFields":{"callback_data":"Заполнить вопросник"}}]}},{"row":{"buttons":[{"text":"✅ Выполнено","additionalFields":{"callback_data":"Выполнено"}}]}},{"row":{"buttons":[{"text":"➕ Доделать работу","additionalFields":{"callback_data":"Доделать работу"}}]}},{"row":{"buttons":[{"text":"🟢 Кабинет мастера","additionalFields":{"callback_data":"Кабинет мастера"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"316e5dca-9c2f-4416-92ec-643812153766","name":"Telegram3","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1420,240],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"content":"Работа с отдельной заявкой","height":216.62813345056708,"width":507.26695903445045},"id":"35d91c32-9901-4513-b469-43f2636e5d22","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[620,300]},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"0f263d97-d4f7-4082-8839-653346c73d09","name":"Telegram4","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1240,240],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"c674ff98-8094-479a-8cd9-ea65579c0a2f","name":"Telegram5","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1240,480],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"={{ $node[\"текст1\"].json[\"aggregatedText\"] }}\n\n<b>Выберите необходимое действие с заявкой</b>\n\n\n☞ ✅ <i>Нажмите \"Выполнено\", если работа завершена</i>\n\n☞ ➕ <i>Если необходимо даделать работу, нажмите \"доделать работу\"</i>","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Выполнено","additionalFields":{"callback_data":"Выполнено"}}]}},{"row":{"buttons":[{"text":"➕ Доделать работу","additionalFields":{"callback_data":"Доделать работу"}}]}},{"row":{"buttons":[{"text":"🟢 Кабинет мастера","additionalFields":{"callback_data":"Кабинет мастера"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"1a6b0c78-ea46-4cf5-8ff7-4b863d65556d","name":"Telegram6","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1440,480],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"532bb170-9d92-453c-9f3f-1dd0f012e0fd","name":"Telegram7","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1240,720],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"={{ $node[\"текст1\"].json[\"aggregatedText\"] }}\n\n<b>Выберите необходимое действие с заявкой</b>\n\n☞ ✅ <i>Нажмите \"Выполнено\", если работа завершена</i>\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Выполнено","additionalFields":{"callback_data":"Выполнено"}}]}},{"row":{"buttons":[{"text":"🟢 Кабинет мастера","additionalFields":{"callback_data":"Кабинет мастера"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"736998a5-f861-4fe4-8abc-05444de8c8a1","name":"Telegram8","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1440,720],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"dataType":"string","value1":"={{ $node[\"Google Sheets2\"].json[\"Воронка\"] }}","rules":{"rules":[{"value2":"4. мастер назначен"},{"value2":"5. 1ый визит мастера завершен","output":1},{"value2":"10. клиент отправил на доработку","output":2},{"value2":"6. цена направлена на согласование клиенту","output":3},{"value2":"7. клиент подтвердил","output":3}]}},"id":"71613789-49cb-45d7-bba5-ae705b52c67a","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":1,"position":[1020,360]},{"parameters":{"operation":"deleteMessage","chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","messageId":"={{ $node[\"Code\"].json[\"msgid\"] }}"},"id":"d437c944-f0ae-4955-acbd-7f2d3392781f","name":"Telegram9","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1240,940],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"chatId":"={{ $node[\"Webhook\"].json[\"query\"][\"telegram_id\"] }}","text":"={{ $node[\"текст1\"].json[\"aggregatedText\"] }}\n\n<b>Выберите необходимое действие с заявкой</b>\n\n☞ ✅ <i>Нажмите \"Выполнено\", если работа завершена</i>\n\n☞ ➕ <i>Если необходимо даделать работу, нажмите \"доделать работу\"</i>","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Выполнено","additionalFields":{"callback_data":"Выполнено"}}]}},{"row":{"buttons":[{"text":"➕ Доделать работу","additionalFields":{"callback_data":"Доделать работу"}}]}},{"row":{"buttons":[{"text":"🟢 Кабинет мастера","additionalFields":{"callback_data":"Кабинет мастера"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"3783be72-edec-4efc-89b0-6a1af73636a5","name":"Telegram10","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1440,940],"credentials":{"telegramApi":{"id":"33","name":"Маркетплейс услуги"}}},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  const task = item.json['Задача'];\n  const date = item.json['Дата заказа'];\n  const time = item.json['Время заказа'];\n  let funnel = item.json['Воронка'];\n  const address = item.json['Адрес'];\n  const telephone = item.json['Телефон'];\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🪛 клиент отправил на доработку';\n  }\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤 <b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃 <b>Задача:</b> <i>${task}</i>\\n`;\n  aggregatedText += `• 📅 <b>Дата:</b> <i>${date}</i>\\n`;\n  aggregatedText += `• 🕰 <b>Время:</b> <i>${time}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${funnel}</i>\\n`;\n  aggregatedText += `• 🏠 <b>Адрес заявки:</b> <i>${address}</i>\\n`;\n\n  if (telephone) {\n    aggregatedText += `• ☎️ <b>Телефон:</b> <code>+${telephone}</code> <i>(нажмите на номер телефона чтобы скопировать его)</i>\\n\\n`;\n  } else {\n    aggregatedText += '\\n';\n  }\n});\n\nreturn [{json: {aggregatedText}}];"},"id":"5dc5696d-2793-465c-9ae3-deeeebab0a7f","name":"текст2","type":"n8n-nodes-base.code","typeVersion":1,"position":[1080,-260]},{"parameters":{"jsCode":"let aggregatedText = '';\n\nconst FUNNEL_STATUS_MAP = {\n  '4.': '📝 мастер назначен',\n  '5.': '🚶 1ый визит мастера завершен',\n  '6.': '💳 цена направлена на согласование клиенту',\n  '7.': '✅ клиент подтвердил',\n  '10.': '🔧 клиент отправил на доработку'\n};\n\nfunction formatText(value) {\n  return value ? `<i>${value}</i>` : 'Нет';\n}\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  let description = item.json['Задача'];\n  let date = item.json['Дата заказа'];\n  let time = item.json['Время заказа'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  let cost = '';\n  let additionalMaterials = '';\n  let comment = '';\n  let photo = '';\n  let showAdditionalInfo = false;\n\n  if (funnel === '6. цена направлена на согласование клиенту' || funnel === '7. клиент подтвердил' || funnel === '10. клиент отправил на доработку') {\n      date = item.json['Дата исполнения'];\n      time = item.json['Время исполнения'];\n      description = item.json['Описание работ'];\n      cost = formatText(item.json['Стоимость работ']);\n      additionalMaterials = formatText(item.json['Доп. материалы']);\n      comment = formatText(item.json['Комментарий']);\n      photo = formatText(item.json['Фото']);\n  }\n\n  funnel = FUNNEL_STATUS_MAP[funnel.slice(0, 2)] || funnel;\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> ${formatText(specialist)}\\n`;\n  aggregatedText += `• 📃<b>Описание работ:</b> ${formatText(description)}\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> ${formatText(date)}\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> ${formatText(time)}\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> ${formatText(funnel)}\\n`;\n\n  if (cost) {\n    aggregatedText += `• 💰 <b>Стоимость работ:</b> ${cost} ₽\\n`;\n  }\n  \n  if (additionalMaterials) {\n    aggregatedText += `• 🛒 <b>Доп. материалы:</b> ${additionalMaterials}\\n`;\n  }\n  \n  if (comment) {\n    aggregatedText += `• 💬 <b>Комментарий:</b> ${comment}\\n`;\n  }\n  \n  if (photo) {\n    aggregatedText += `• 📷 <b>Фото:</b> ${photo}\\n`;\n  }\n\n  if (showAdditionalInfo && masterAppointed) {\n    aggregatedText += `• 🧰 <b>Мастер исполнитель:</b><i>👋 ${masterAppointed}</i>\\n`;\n  } else if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Вам назначен мастер: </b><i>👋 ${masterAppointed}</i>\\n`;\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{ json: { aggregatedText } }];"},"id":"cb6a24eb-54a7-44ba-8bd4-6cf627bb10d8","name":"текст3","type":"n8n-nodes-base.code","typeVersion":1,"position":[1060,-400]},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  let description = item.json['Задача'];\n  let date = item.json['Дата заказа'];\n  let time = item.json['Время заказа'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  let cost = '';\n  let additionalMaterials = '';\n  let comment = '';\n  let photo = '';\n  let showAdditionalInfo = false;\n\n  if (funnel === \"6. цена направлена на согласование клиенту\") {\n      date = item.json['Дата исполнения'];\n      time = item.json['Время исполнения'];\n      description = item.json['Описание работ'];\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n  } else if (funnel === \"7. клиент подтвердил\" || funnel === \"10. клиент отправил на доработку\") {\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n      showAdditionalInfo = true;\n  }\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🔧 клиент отправил на доработку';\n  }\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃<b>Описание работ:</b> <i>${description}</i>\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> <i>${date}</i>\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> <i>${time}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${funnel}</i>\\n`;\n\n  if (cost) {\n    aggregatedText += `• 💰 <b>Стоимость работ:</b> <i>${cost}</i>\\n`;\n  }\n  \n  if (additionalMaterials) {\n    aggregatedText += `• 🛒 <b>Доп. материалы:</b> <i>${additionalMaterials}</i>\\n`;\n  }\n  \n  if (comment) {\n    aggregatedText += `• 💬 <b>Комментарий:</b> <i>${comment}</i>\\n`;\n  }\n  \n  if (photo) {\n    aggregatedText += `• 📷 <b>Фото:</b> <i>${photo}</i>\\n`;\n  }\n\n  if (showAdditionalInfo && masterAppointed) {\n    aggregatedText += `• 🧰 <b>Мастер исполнитель:</b><i>👋 ${masterAppointed}</i>\\n`;\n  } else if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Вам назначен мастер: </b><i>👋 ${masterAppointed}</i>\\n`;\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{json: {aggregatedText: aggregatedText}}];"},"id":"126215f2-5c5f-413d-b329-9874c9910575","name":"текст4","type":"n8n-nodes-base.code","typeVersion":1,"position":[380,-300]},{"parameters":{"content":"СТАТУС ЗАЯВКИ МАСТЕР НАЗНАЧЕН","height":212.46577720086336,"width":427.3777757173698},"id":"e5457c16-26a5-49aa-a878-c514b560538c","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,180.03911177044188]},{"parameters":{"content":"СТАТУС ЗАЯВКИ ПЕРВЫЙ ВИЗИТ ЗАВЕРШЕН","height":217.46251788665987,"width":434.87288674606447},"id":"d1f5cda1-4fc7-4f2e-95f8-ab51781bee09","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,422.53748211333993]},{"parameters":{"content":"СТАТУС ЗАЯВКИ КЛИЕНТ ОТПРАВИЛ НА ДОРАБОТКУ","height":214.9641475437616,"width":439.8696274318605},"id":"20f1795c-90c5-4c3d-91c8-2813505a7b62","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,665.0358524562381]},{"parameters":{"content":"СТАТУС ЗАЯВКИ КЛИЕНТ ПОДТВЕРДИЛ","height":204.9706661721686,"width":447.3647384605555},"id":"50a130ba-d8ed-4dd2-a22d-7362f759793c","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,895.0293338278315]},{"parameters":{"jsCode":"let aggregatedText = '';\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  let description = item.json['Задача'];\n  let date = item.json['Дата заказа'];\n  let time = item.json['Время заказа'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  let cost = '';\n  let additionalMaterials = '';\n  let comment = '';\n  let photo = '';\n  let showAdditionalInfo = false;\n\n  if (funnel === \"6. цена направлена на согласование клиенту\") {\n      date = item.json['Дата исполнения'];\n      time = item.json['Время исполнения'];\n      description = item.json['Описание работ'];\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n  } else if (funnel === \"7. клиент подтвердил\" || funnel === \"10. клиент отправил на доработку\") {\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n      showAdditionalInfo = true;\n  }\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🔧 клиент отправил на доработку';\n  }\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> <i>${specialist}</i>\\n`;\n  aggregatedText += `• 📃<b>Описание работ:</b> <i>${description}</i>\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> <i>${date}</i>\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> <i>${time}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${funnel}</i>\\n`;\n\n  if (cost) {\n    aggregatedText += `• 💰 <b>Стоимость работ:</b> <i>${cost}</i>\\n`;\n  }\n  \n  if (additionalMaterials) {\n    aggregatedText += `• 🛒 <b>Доп. материалы:</b> <i>${additionalMaterials}</i>\\n`;\n  }\n  \n  if (comment) {\n    aggregatedText += `• 💬 <b>Комментарий:</b> <i>${comment}</i>\\n`;\n  }\n  \n  if (photo) {\n    aggregatedText += `• 📷 <b>Фото:</b> <i>${photo}</i>\\n`;\n  }\n\n  if (showAdditionalInfo && masterAppointed) {\n    aggregatedText += `• 🧰 <b>Мастер исполнитель:</b><i>👋 ${masterAppointed}</i>\\n`;\n  } else if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Вам назначен мастер: </b><i>👋 ${masterAppointed}</i>\\n`;\n  }\n\n  aggregatedText += '\\n';\n});\n\nreturn [{json: {aggregatedText: aggregatedText}}];"},"id":"78878a59-ae3f-419f-b6db-ddd19573785c","name":"текст5","type":"n8n-nodes-base.code","typeVersion":1,"position":[800,500]},{"parameters":{"jsCode":"let aggregatedText = '';\nlet numRequests = 0;\n\nitems.forEach(item => {\n  const rowNumber = item.json.row_number;\n  const specialist = item.json['Специалист'];\n  let description = item.json['Задача'];\n  let date = item.json['Дата заказа'];\n  let time = item.json['Время заказа'];\n  let funnel = item.json['Воронка'];\n  const masterAppointed = item.json['Мастер назначен'];\n  let cost = '';\n  let additionalMaterials = '';\n  let comment = '';\n  let photo = '';\n  let showAdditionalInfo = false;\n\n  if (funnel === \"6. цена направлена на согласование клиенту\") {\n      date = item.json['Дата исполнения'];\n      time = item.json['Время исполнения'];\n      description = item.json['Описание работ'];\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n  } else if (funnel === \"7. клиент подтвердил\" || funnel === \"10. клиент отправил на доработку\") {\n      cost = item.json['Стоимость работ'] || \"Нет\";\n      additionalMaterials = item.json['Доп. материалы'] || \"Нет\";\n      comment = item.json['Комментарий'] || \"Нет\";\n      photo = item.json['Фото'] || \"Нет\";\n      showAdditionalInfo = true;\n  }\n\n  if (funnel.startsWith('4.')) {\n    funnel = '📝 мастер назначен';\n  } else if (funnel.startsWith('5.')) {\n    funnel = '🚶 1ый визит мастера завершен';\n  } else if (funnel.startsWith('6.')) {\n    funnel = '💳 цена направлена на согласование клиенту';\n  } else if (funnel.startsWith('7.')) {\n    funnel = '✅ клиент подтвердил';\n  } else if (funnel.startsWith('10.')) {\n    funnel = '🔧 клиент отправил на доработку';\n  }\n\n  aggregatedText += `➤ <b>Заявка №${rowNumber}</b>\\n\\n`;\n  aggregatedText += `• 👤<b>Необходимый специалист:</b> <i>${specialist || \"Нет\"}</i>\\n`;\n  aggregatedText += `• 📃<b>Описание работ:</b> <i>${description || \"Нет\"}</i>\\n`;\n  aggregatedText += `• 📅<b>Дата:</b> <i>${date || \"Нет\"}</i>\\n`;\n  aggregatedText += `• 🕰<b>Время:</b> <i>${time || \"Нет\"}</i>\\n`;\n  aggregatedText += `• 🛠 <b>Статус заявки:</b> <i>${funnel}</i>\\n`;\n\n  if (cost) {\n    aggregatedText += `• 💰 <b>Стоимость работ:</b> <i>${cost}</i>\\n`;\n  }\n  \n  if (additionalMaterials) {\n    aggregatedText += `• 🛒 <b>Доп. материалы:</b> <i>${additionalMaterials}</i>\\n`;\n  }\n  \n  if (comment) {\n    aggregatedText += `• 💬 <b>Комментарий:</b> <i>${comment}</i>\\n`;\n  }\n  \n  if (photo) {\n    aggregatedText += `• 📷 <b>Фото:</b> <i>${photo}</i>\\n`;\n  }\n\n  if (showAdditionalInfo && masterAppointed) {\n    aggregatedText += `• 🧰 <b>Мастер исполнитель:</b><i>👋 ${masterAppointed}</i>\\n`;\n  } else if (masterAppointed) {\n    aggregatedText += `• 🧰 <b>Вам назначен мастер: </b><i>👋 ${masterAppointed}</i>\\n\\n`;\n  }\n\n  aggregatedText += '\\n';\n  numRequests++;\n});\n\naggregatedText += `＜ <b>Общее количество заявок в работе: ${numRequests} заявки</b> ＞`;\n\nreturn [{json: {aggregatedText: aggregatedText}}];"},"id":"9c56df3a-f2e6-4701-aa87-b683eebceb85","name":"текст6","type":"n8n-nodes-base.code","typeVersion":1,"position":[680,160]}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Google Sheets1","type":"main","index":0}],[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"фильтр заявок","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"текст":{"main":[[{"node":"Merge","type":"main","index":0}]]},"кнопки":{"main":[[{"node":"Merge","type":"main","index":1}]]},"IF":{"main":[[{"node":"Telegram2","type":"main","index":0}],[{"node":"текст","type":"main","index":0},{"node":"кнопки","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"фильтр заявок":{"main":[[{"node":"IF","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"текст1","type":"main","index":0}]]},"текст1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Telegram4":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"Telegram5":{"main":[[{"node":"Telegram6","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Telegram4","type":"main","index":0}],[{"node":"Telegram5","type":"main","index":0}],[{"node":"Telegram7","type":"main","index":0}],[{"node":"Telegram9","type":"main","index":0}]]},"Telegram7":{"main":[[{"node":"Telegram8","type":"main","index":0}]]},"Telegram9":{"main":[[{"node":"Telegram10","type":"main","index":0}]]}},"settings":{"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"10"},"staticData":null,"meta":null,"pinData":{},"versionId":"cd5011cf-b5ad-440b-b8b3-c7cb6fc30e57","triggerCount":1,"tags":[]}