отправляйте-массовые-сообщения-в-чаты-в-telegram-26.json
{"createdAt":"2023-03-30T10:35:28.771Z","updatedAt":"2023-03-30T20:54:25.000Z","id":"26","name":"Отправляйте массовые сообщения в чаты в Telegram","active":false,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[700,420],"typeVersion":1,"id":"20c17f2a-d91a-40ad-b1c1-695203c2f27a"},{"parameters":{"chatId":"={{$node[\"SplitInBatches\"].json[\"Chat ID\"]}}","text":"Hello","additionalFields":{}},"name":"Telegram","type":"n8n-nodes-base.telegram","position":[1260,420],"typeVersion":1,"id":"1ad4a4bf-64d3-4ae9-b430-0f811ca89eda","credentials":{"telegramApi":{"id":"26","name":"Бот рецепты"}}},{"parameters":{"authentication":"oAuth2","range":"A:A","options":{}},"name":"Google Sheets","type":"n8n-nodes-base.googleSheets","position":[880,420],"typeVersion":1,"id":"847badee-e976-4574-9b25-a15a22bdf092","credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"batchSize":30,"options":{}},"name":"SplitInBatches","type":"n8n-nodes-base.splitInBatches","position":[1080,420],"typeVersion":1,"id":"9a326cc9-5c8e-4ee8-abdc-b588b8f50a80"},{"parameters":{"amount":30,"unit":"seconds"},"name":"Wait1","type":"n8n-nodes-base.wait","position":[1420,200],"webhookId":"22fca54c-eac4-44bc-adf7-68b33818695c","typeVersion":1,"id":"b201f433-4a06-4e24-92d5-17c10a1a9dc0"}],"connections":{"Wait1":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"SplitInBatches":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"c03ea84e-90db-4c22-aa27-e5f6a833c335","triggerCount":0,"tags":[]}