примеры-использования-gpt-22.json
{"createdAt":"2023-03-26T02:33:56.523Z","updatedAt":"2023-04-12T09:21:08.000Z","id":"22","name":"Примеры использования GPT","active":false,"nodes":[{"parameters":{},"id":"d6a7dae8-0f6b-4314-828c-d0ab100378c2","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-1180,940],"typeVersion":1},{"parameters":{"prompt":"={{ $json.text }}\n\nTl;dr:","options":{"maxTokens":500}},"id":"a74cb394-8344-4270-8c18-357dcfafe541","name":"davinci-003-complete","type":"n8n-nodes-base.openAi","position":[720,620],"typeVersion":1,"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}}},{"parameters":{"resource":"chat","prompt":{"messages":[{"role":"system","content":"=Вы - ассистент. Всегда добавляйте 5 эмодзи в конце своего ответа."},{"content":"=Пишите tl;dr последующего текста: {{ $json.text}}"}]},"options":{"maxTokens":500,"temperature":0.8}},"id":"e9616000-01e0-4a63-932d-30d4e5e1dd95","name":"ChatGPT-ex2","type":"n8n-nodes-base.openAi","position":[720,1260],"typeVersion":1,"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}}},{"parameters":{"operation":"edit","input":"={{ $json.text }}","instruction":"translate to German","options":{}},"id":"1fada4de-ee1d-4071-8e22-64defc075299","name":"davinci-003-edit","type":"n8n-nodes-base.openAi","position":[940,620],"typeVersion":1,"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}}},{"parameters":{"resource":"chat","prompt":{"messages":[{"content":"=Write a Tl;dr of the followint text: {{ $json.text }}"}]},"options":{"maxTokens":500}},"id":"4e4a851e-7cbf-43c8-8ee5-afe24f67d076","name":"ChatGPT-ex1.1","type":"n8n-nodes-base.openAi","position":[720,940],"typeVersion":1,"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}}},{"parameters":{"resource":"chat","prompt":{"messages":[{"content":"=Translate to Russion the following text: {{ $json.message.content }}"}]},"options":{"maxTokens":500}},"id":"d5389f50-623c-4c4e-9158-8ba83b2bf116","name":"ChatGPT-ex1.2","type":"n8n-nodes-base.openAi","position":[900,940],"typeVersion":1,"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}}},{"parameters":{"jsCode":"return [{\"text\": \"Science Underground с вашей ведущей, Аниссой Рамирес. В этом эпизоде мы расскажем, как остановить запотевание зеркала в ванной с помощью научного подхода. Я Анисса Рамирез, и это Подземная наука. Мы все там бывали. Вы выходите из душа, подходите к зеркалу и не можете увидеть себя, потому что зеркало запотело. Вы не можете ничего увидеть, пока не очистите поверхность. Каждое утро одно и то же. Душ, туман, душ, туман, душ, туман. Должен быть лучший способ. Так вот, он есть. Прежде чем принять следующий душ, нанесите на поверхность зеркала немного крема для бритья и держите его там около 30 секунд. Затем вытрите его. В следующий раз, когда вы примете душ, та часть зеркала, которая была покрыта кремом для бритья, будет без тумана. А крем для бритья будет препятствовать запотеванию в течение нескольких недель. Так что же происходит? Ну, туман на вашем зеркале состоит из маленьких капелек воды. Если вы посмотрите на поверхность зеркала под микроскопом, то увидите, что она похожа на только что натертый воском автомобиль. Вода образует бусинки, не позволяя вам увидеть себя в зеркале. Когда вы добавляете на поверхность зеркала крем для бритья, капли воды перестают быть бисером. Они представляют собой тонкий, разглаженный слой воды. Точно так же, как поверхность старой машины, которую не натерли воском. Ученые говорят, что крем для бритья изменил поверхностное натяжение зеркала. Вот и все. Вот и ответ. Секрет незапотевающих зеркал - это крем для бритья. Немного науки - и все. Я Анисса Рамирез, и это был Science Underground.\"}];"},"id":"d7415e0c-a780-44cf-a879-fa2f691db6b3","name":"Text-example","type":"n8n-nodes-base.code","position":[200,940],"typeVersion":1},{"parameters":{"jsCode":"var intext =  $input.first().json;\n\nvar messages = [\n  {\"role\": \"system\", \"content\": \"You are a helpful assistant. Write a Tl;dr of each user message\"},\n  {\"role\": \"user\", \"content\": intext.text}\n];\n\nreturn {\"messages\":messages};"},"id":"4604d2e8-ed77-4827-ac80-6728dccaba1f","name":"Code-ex3.1","type":"n8n-nodes-base.code","position":[720,1660],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-3.5-turbo"},{"name":"temperature","value":"={{ parseFloat(0.8) }}"},{"name":"n","value":"={{ Number(1) }}"},{"name":"max_tokens","value":"={{ Number(500) }}"},{"name":"messages","value":"={{ $json.messages }}"}]},"options":{}},"id":"d80476a2-dd45-4601-99ad-2fea298ac0eb","name":"ChatGPT-ex3.1","type":"n8n-nodes-base.httpRequest","position":[900,1660],"typeVersion":3,"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}}},{"parameters":{"resource":"chat","prompt":{"messages":[{"role":"system","content":"=You are now a DALLE-2 prompt generation tool that will generate a suitable prompt. Write a promt to create a cover image relevant to the user input. The image should be in a comic style of the 60-s."},{"content":"={{ $json.choices[0].message.content }}"}]},"options":{"maxTokens":500,"temperature":0.8}},"id":"885761f2-af89-4854-a0fd-656c16593094","name":"ChatGPT-ex3.2","type":"n8n-nodes-base.openAi","position":[1440,1700],"typeVersion":1,"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}}},{"parameters":{"content":"## Старый способ использования завершения текста и редактирования текста ### Модель Davinci в 10 раз дороже ChatGPT, рассмотрите возможность перехода на новый API: https://openai.com/blog/introducing-chatgpt-and-whisper-apis.","height":295.50954755505853,"width":746.6347949130579},"id":"325f0bcb-4a61-4b95-974b-c841c5ee3c8c","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[460,460],"typeVersion":1},{"parameters":{"content":"## Пример шепота-1 ### Подготовьте свой аудиофайл и отправьте его в модель транскрипции шепота-1.","height":316.6202633391793,"width":428.4578974150008},"id":"40700791-0307-450e-a6ef-0e9d1855b8ea","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-600,780],"typeVersion":1},{"parameters":{"content":"## Пример расшифрованного текста ### Пожалуйста, приостановите этот узел при использовании реальных аудиофайлов","height":302.4086532331564,"width":421.9002034748082},"id":"19de5fb3-18b6-487c-9c88-f38943f3cd6b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-60,800],"typeVersion":1},{"parameters":{"content":"## ChatGPT пример 1.1 и 1.2 ### Напишите Tl;dr ввода текста ### Переведите его на немецкий язык ### Предоставляется только пользовательский контент","height":288.18470714667706,"width":747.8556016477869},"id":"60e5fd17-7824-4a2b-91f5-62389d0ca385","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[460,800],"typeVersion":1},{"parameters":{"content":"## ChatGPT пример 2 ### Используйте системный контент для предоставления общих инструкций ### Ручная настройка системы и пользовательского контента","height":288.18470714667706,"width":742.9723747088658},"id":"334fabde-60b0-42b2-b965-f0ce0eb18255","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[460,1140],"typeVersion":1},{"parameters":{"content":"## Пример ChatGPT 3.1 ### При программном использовании ChatGPT создайте массив содержимого системы / пользователя / помощника и добавляйте их одно за другим ### Вызовите API ChatGPT через узел HTTP Request, чтобы предоставить все сообщения сразу","height":329.43470714667706,"width":739.309954504675},"id":"31793f26-ee2c-4794-bf21-2d0bbf2d2f40","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[460,1480],"typeVersion":1},{"parameters":{"resource":"image","prompt":"={{ $json.message.content }}","options":{"n":4,"size":"512x512"}},"id":"dec1cf4d-a0f6-4562-a81e-930326852b47","name":"DALLE-ex3.3","type":"n8n-nodes-base.openAi","position":[1660,1700],"typeVersion":1,"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}}},{"parameters":{"content":"## ChatGPT пример 3.2 и DALLE-2 пример 3.3 ### Используйте ChatGPT для создания запроса на изображение обложки сообщения Tl;dr ### Используйте узел OpenAI для генерации 4 изображений с помощью автоматически созданного запроса","height":378.5800231008783,"width":611.1252473579985},"id":"9f6f5d8d-5be4-44e8-a8c3-ff060955658c","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1260,1480],"typeVersion":1},{"parameters":{"resource":"chat","model":"gpt-3.5-turbo-0301","prompt":{"messages":[{"content":"={{ $json.prompt }}"}]},"options":{"maxTokens":500,"temperature":0.5}},"id":"6c6ca97e-8e6c-4fd7-bc30-f874dbc6c3c2","name":"ChatGPT-ex4","type":"n8n-nodes-base.openAi","position":[800,1940],"typeVersion":1,"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"model","value":"code-davinci-002"},{"name":"suffix","value":"</svg>"},{"name":"prompt","value":"=Создайте HTML-код с тегом SVG, содержащий произвольные фигуры различных цветов. Включите треугольники, линии, эллипсы и другие фигуры."}]},"options":{}},"id":"5de84d16-9a67-4064-a635-21c2078e35ea","name":"Set-ex4","type":"n8n-nodes-base.set","position":[620,1940],"typeVersion":1},{"parameters":{"html":"{{$json.message.content }}"},"id":"ece82292-a078-4618-99a1-7a6e08be3f8b","name":"HTML-ex4","type":"n8n-nodes-base.html","position":[980,1940],"typeVersion":1},{"parameters":{"content":"## ChatGPT пример 4 ### Генерируем HTML код, содержащий SVG изображение","height":288.18470714667706,"width":739.309954504675},"id":"ec9371c0-3ec7-4190-a5da-88aae54d6187","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[460,1820],"typeVersion":1},{"parameters":{"content":"## ChatGPT пример 5 ### Обеспечение нескольких выходов. Полезно для быстрых ответов (например, в Gmail / Outlook)","height":288.18470714667706,"width":739.309954504675},"id":"e1a836b6-c944-4ebd-b3fa-62d2db0760e3","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[460,2160],"typeVersion":1},{"parameters":{"resource":"chat","model":"gpt-3.5-turbo-0301","prompt":{"messages":[{"role":"system","content":"Действуйте как клиент электронной почты. Предоставление ответов из пяти-восьми слов на сообщения пользователя."},{"content":"Привет! Меня зовут Джек.\n\nЯ посылаю вам обзор моего прейскуранта, который прилагается. Не могли бы вы ответить мне в течение 3 дней?\n\nС наилучшими пожеланиями и хорошего дня, Джек"}]},"options":{"maxTokens":500,"n":5,"temperature":0.8}},"id":"2db19f69-d4c7-44e2-801f-b3c10c0af358","name":"ChatGPT-ex","type":"n8n-nodes-base.openAi","position":[720,2280],"typeVersion":1,"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}}},{"parameters":{"fileSelector":"/home/node/.n8n/OpenAI-article/Using Science to Stop Your Mirror From Fogging Up.mp3"},"id":"c02ff3a1-5629-4ded-90a8-c221afedcaf6","name":"LoadMP3","type":"n8n-nodes-base.readBinaryFiles","position":[-560,940],"typeVersion":1,"disabled":true},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"3d389a06-1688-4f47-ab34-b76e5663e657","name":"Whisper-transcribe","type":"n8n-nodes-base.httpRequest","position":[-340,940],"typeVersion":3,"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}},"disabled":true},{"parameters":{"content":"## Не запускайте весь рабочий процесс, это довольно медленно ### Лучше выполнить последний узел каждой ветви или просто отключить ветви, которые не нужны.","height":320.63203364295396,"width":596.9600747621192},"id":"38c3656b-18ed-4100-b91a-c2045e187e1c","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[-1400,780],"typeVersion":1}],"connections":{"LoadMP3":{"main":[[{"node":"Whisper-transcribe","type":"main","index":0}]]},"Set-ex4":{"main":[[{"node":"ChatGPT-ex4","type":"main","index":0}]]},"Code-ex3.1":{"main":[[{"node":"ChatGPT-ex3.1","type":"main","index":0}]]},"ChatGPT-ex4":{"main":[[{"node":"HTML-ex4","type":"main","index":0}]]},"Text-example":{"main":[[{"node":"davinci-003-complete","type":"main","index":0},{"node":"ChatGPT-ex2","type":"main","index":0}]]},"ChatGPT-ex1.1":{"main":[[{"node":"ChatGPT-ex1.2","type":"main","index":0}]]},"ChatGPT-ex3.1":{"main":[[{"node":"ChatGPT-ex3.2","type":"main","index":0}]]},"ChatGPT-ex3.2":{"main":[[{"node":"DALLE-ex3.3","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"LoadMP3","type":"main","index":0},{"node":"Set-ex4","type":"main","index":0},{"node":"ChatGPT-ex","type":"main","index":0}]]},"Whisper-transcribe":{"main":[[{"node":"Text-example","type":"main","index":0}]]},"davinci-003-complete":{"main":[[{"node":"davinci-003-edit","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"7da2f3df-c36b-4627-ab37-f312b495e009","triggerCount":0,"tags":[]}