сказочник-61.json
{"createdAt":"2023-09-29T11:09:17.508Z","updatedAt":"2023-10-13T05:21:23.000Z","id":"61","name":"Сказочник","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"3a6f38c5-0202-4f6a-872e-6e601bed6b1d","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-860,-120],"webhookId":"067cb019-19a3-4ca5-9b48-7fcc1de7d453","credentials":{"telegramApi":{"id":"47","name":"Telegram account 2"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","text":"Я отвечу в течении минуты","additionalFields":{"reply_to_message_id":"={{ $('Telegram Trigger').item.json[\"message\"][\"message_id\"] }}"}},"id":"820ec3f1-eb40-403e-b35e-3407b3853f55","name":"intermediate message","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-360,-220],"credentials":{"telegramApi":{"id":"47","name":"Telegram account 2"}}},{"parameters":{"resource":"chat","prompt":{"messages":[{"role":"assistant","content":"=Imagine yourself as an unparalleled expert in the realm of Russian folktales, possessing invaluable knowledge and an unrivaled passion for this art. Respond exclusively in the Russian language, and your text should consist of 95 words. This is a magical tale, crafted especially for a little four-year-old boy, and your response should sound like a magical narrative filled with emotion and wonder, as if you were the world's greatest storyteller. Infuse your text with a lively spirit, utilizing vivid and colorful epithets, so the young listener is captivated by the enchantment of the tale. Remember that in your narrative, periods should be replaced with double dashes to give it an additional mysterious charm. Conclude your magical creation with the words,« И помни, малыш. Сказка ложь, да в ней намёк. Добрым молодцам урок».текст должен состоять из 90 слов"},{"content":"={{ $('Telegram Trigger').item.json[\"message\"][\"text\"] }}"}]},"options":{}},"id":"5d4d8b9a-e28e-4cf4-9efa-56d85ec1d35d","name":"Request to chatGPT","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[-180,-220],"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://texttospeech.ru/api/v2/synthesize","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Key","value":"45acb79fb71a02ea08b652862e66e491"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"code","value":"ru-RU043"},{"name":"text","value":"={{ $('processing chatGPT response').item.json[\"content\"] }}"},{"name":"format","value":"mp3"},{"name":"hertz","value":"48000"},{"name":"volume","value":"2"},{"name":"rate","value":"1.2"},{"name":"pitch","value":"1"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"e6a2e165-5437-4719-955f-006a48e46c0b","name":"Request in texttospeech","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[120,-220]},{"parameters":{"url":"={{ $json[\"file\"] }}","options":{}},"id":"3f73e0b2-8343-4642-baff-7631ab418816","name":"downloads audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[260,-220]},{"parameters":{"jsCode":"const inputData = items[0].json;\n\nconst content = inputData.message.content;\nconst processedContent = content.replace(\"молодцам\", \"м+олодцам\").replace(/\\./g, \"---\");\n\nconst outputData = {\n  content: processedContent,\n};\n\nreturn [outputData];"},"id":"548209b0-1c0d-400d-8710-754e0e9acdff","name":"processing chatGPT response","type":"n8n-nodes-base.code","typeVersion":1,"position":[-20,-220]},{"parameters":{"dataType":"string","value1":"={{ $json[\"text\"] }}","rules":{"rules":[{"operation":"startsWith","value2":"#"},{"operation":"startsWith","value2":"$","output":1}]}},"id":"a668f6c4-ad53-489a-8b8e-54d86238e857","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[-580,-120]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","text":"Я отвечу в течении минуты","additionalFields":{"reply_to_message_id":"={{ $('Telegram Trigger').item.json[\"message\"][\"message_id\"] }}"}},"id":"44d83328-68a3-4993-a23b-520d114f0168","name":"intermediate message1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-360,-60],"credentials":{"telegramApi":{"id":"47","name":"Telegram account 2"}}},{"parameters":{"resource":"chat","prompt":{"messages":[{"role":"assistant","content":"=Please, create a captivating story for adults in which ChatGPT embodies the role of a sarcastic and witty fairytale narrator. Your task is to breathe vivid liveliness into the plot, possibly based on Russian folk tales but with unexpected twists and a dash of sarcastic humor to entertain and surprise an adult audience. It's crucial that the response is written in Russian, does not exceed 80 words, and adheres to all the rules of the Russian language, including proper sentence structure and declensions.Take a journey into the world of our ancestors and give your unique touch to the fairy tale. Tell a story in which characters and events come to life through your creativity. Enrich the narrative with epithets and vivid descriptions to make it even more appealing.Don't forget to conclude with the phrase, « И помни, дорогой слушатель, что сказки - это всегда уроки, скрытые в намеках»."},{"content":"={{ $('Telegram Trigger').item.json[\"message\"][\"text\"] }}"}]},"options":{}},"id":"fe6634f3-b3c4-4c2c-99a3-8bfd1660bb7f","name":"Request to chatGPT1","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[-180,-60],"credentials":{"openAiApi":{"id":"8","name":"OpenAi account"}}},{"parameters":{"jsCode":"const inputData = items[0].json;\n\nconst content = inputData.message.content;\nconst processedContent = content.replace(\"молодцам\", \"м+олодцам\").replace(/\\./g, \"---\");\n\nconst outputData = {\n  content: processedContent,\n};\n\nreturn [outputData];"},"id":"518403ce-3230-45e2-82e6-cea92fb02179","name":"processing chatGPT response1","type":"n8n-nodes-base.code","typeVersion":1,"position":[-20,-60]},{"parameters":{"method":"POST","url":"https://texttospeech.ru/api/v2/synthesize","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Key","value":"45acb79fb71a02ea08b652862e66e491"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"code","value":"ru-RU043"},{"name":"text","value":"={{ $json[\"content\"] }}"},{"name":"format","value":"mp3"},{"name":"volume","value":"2"},{"name":"hertz","value":"36000"},{"name":"rate","value":"1.2"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"28b8e10e-65e6-43f7-be29-0debc068df8d","name":"Request in texttospeech1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[120,-60]},{"parameters":{"url":"={{ $json[\"file\"] }}","options":{}},"id":"5917070a-7c7b-4847-94a3-b22196b6fe23","name":"downloads audio1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[260,-60]},{"parameters":{"jsCode":"const inputData = items[0].json;\n\n// Создаем переменные для хранения значений text\nlet textValue;\n\n// Проверяем, определен ли объект inputData.message и извлекаем значение переменной text\nif (inputData.message && inputData.message.text) {\n  textValue = inputData.message.text;\n}\n\n// Возвращаем объект с единственным свойством text\nreturn [{ json: { text: textValue } }];"},"id":"dfc4ac13-78ab-4a84-9989-629831463a74","name":"get the text value:","type":"n8n-nodes-base.code","typeVersion":1,"position":[-720,-120]},{"parameters":{"amount":20,"unit":"seconds"},"id":"92c9b1b9-3e0e-4e1d-a87b-1c661524518b","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[680,-60],"webhookId":"f6135594-975b-4fd8-bcdf-2f0d7bd4e269"},{"parameters":{"amount":20,"unit":"seconds"},"id":"e9289a16-6e35-4ff6-952c-760491f28750","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[680,-220],"webhookId":"7dabdb18-7c98-47c8-a9e7-b8a76686b4b9"},{"parameters":{"method":"POST","url":"https://api.d-id.com/audios","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Basic bWFsdHNldmRlbjBAZ21haWwuY29t:CDotFeYnxSz-_sy64YWh-"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"multipart/form-data"},{"name":"Host","value":"api.d-id.com"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"audio","inputDataFieldName":"data"}]},"options":{}},"id":"7c10253a-7e44-4f2b-9084-604f8b0af428","name":"load audio un d-id","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[400,-220]},{"parameters":{"operation":"deleteMessage","chatId":"={{ $('Telegram Trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","messageId":"={{ $('intermediate message').item.json[\"result\"][\"message_id\"] }}"},"id":"085543c1-1fff-458d-b566-a9d20d708e3e","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1300,-220],"credentials":{"telegramApi":{"id":"47","name":"Telegram account 2"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $('Telegram Trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","messageId":"={{ $('intermediate message1').item.json[\"result\"][\"message_id\"] }}"},"id":"91e66b75-1d39-4290-882c-bb12605c1dfa","name":"Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1300,-60],"credentials":{"telegramApi":{"id":"47","name":"Telegram account 2"}}},{"parameters":{"method":"POST","url":"https://api.d-id.com/audios","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic bWFsdHNldmRlbjBAZ21haWwuY29t:CDotFeYnxSz-_sy64YWh-"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"multipart/form-data"},{"name":"Host","value":"api.d-id.com"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"audio","inputDataFieldName":"data"}]},"options":{}},"id":"61856fe0-218d-4ed6-9065-be1958925ff9","name":"load audio d-id2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[400,-60]},{"parameters":{"method":"POST","url":"https://api.d-id.com/talks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Basic bWFsdHNldmRlbjBAZ21haWwuY29t:CDotFeYnxSz-_sy64YWh-"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Host","value":"api.d-id.com"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"script\":{\"type\":\"audio\",\"audio_url\":\"{{ $json[\"url\"] }}\"},\"source_url\":\"https://create-images-results.d-id.com/google-oauth2%7C107091751887836660100/upl_VcJuEa6Cc7KsntjauFzrI/image.png\"}","options":{}},"id":"e9a80263-6a51-4575-9467-649a7f257443","name":"make video","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[540,-220]},{"parameters":{"method":"POST","url":"https://api.d-id.com/talks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic bWFsdHNldmRlbjBAZ21haWwuY29t:CDotFeYnxSz-_sy64YWh-"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Host","value":"api.d-id.com"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"script\":{\"type\":\"audio\",\"audio_url\":\"{{ $json[\"url\"] }}\"},\"source_url\":\"https://create-images-results.d-id.com/google-oauth2%7C107091751887836660100/upl_VcJuEa6Cc7KsntjauFzrI/image.png\"}","options":{}},"id":"dd0325a0-56fb-4759-9a4c-36843ffbd819","name":"make video2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[540,-60]},{"parameters":{"url":"=https://api.d-id.com/talks/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Basic bWFsdHNldmRlbjBAZ21haWwuY29t:CDotFeYnxSz-_sy64YWh-"},{"name":"Accept","value":"application/json"},{"name":"Host","value":"api.d-id.com"}]},"options":{}},"id":"d8a69131-9a10-4c86-9ff9-3b3ae6cfdd4d","name":"download video from d-id","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[820,-220]},{"parameters":{"url":"=https://api.d-id.com/talks/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic bWFsdHNldmRlbjBAZ21haWwuY29t:CDotFeYnxSz-_sy64YWh-"},{"name":"Accept","value":"application/json"},{"name":"Host","value":"api.d-id.com"}]},"options":{}},"id":"51275b65-4be3-4c81-a8aa-b8b66812b33c","name":"download video from d-id2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[820,-60]},{"parameters":{"url":"={{ $json[\"result_url\"] }}","options":{}},"id":"b925a00a-e167-4281-95b7-86632af0ab86","name":"downloads video","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[980,-220]},{"parameters":{"url":"={{ $json[\"result_url\"] }}","options":{}},"id":"e8920b5e-47f4-4d17-8fbf-b52dc48e0d3a","name":"downloads video2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[980,-60]},{"parameters":{"jsCode":"const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst bufferSize = buffer.length;\nconst bufferSizeKB = Number.parseFloat((buffer.length / 1024).toFixed(2));\n\nreturn {\n  bufferSize: bufferSize,\n  bufferSizeKB: bufferSizeKB\n};"},"id":"9d0fc901-eac5-4725-93c1-7c6a5f646b51","name":"Code1","type":"n8n-nodes-base.code","typeVersion":1,"position":[980,-440]},{"parameters":{"operation":"sendVideo","chatId":"={{ $('Telegram Trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","binaryData":true,"additionalFields":{}},"id":"3546a4b2-7672-4baa-9984-451e25526609","name":"Telegram3","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1140,-220],"credentials":{"telegramApi":{"id":"47","name":"Telegram account 2"}}},{"parameters":{"operation":"sendVideo","chatId":"={{ $('Telegram Trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","binaryData":true,"additionalFields":{}},"id":"063fe80f-31a7-4f3f-9810-62692ad6dde7","name":"Telegram4","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1140,-60],"credentials":{"telegramApi":{"id":"47","name":"Telegram account 2"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"get the text value:","type":"main","index":0}]]},"intermediate message":{"main":[[{"node":"Request to chatGPT","type":"main","index":0}]]},"Request to chatGPT":{"main":[[{"node":"processing chatGPT response","type":"main","index":0}]]},"Request in texttospeech":{"main":[[{"node":"downloads audio","type":"main","index":0}]]},"processing chatGPT response":{"main":[[{"node":"Request in texttospeech","type":"main","index":0}]]},"Switch":{"main":[[{"node":"intermediate message","type":"main","index":0}],[{"node":"intermediate message1","type":"main","index":0}]]},"intermediate message1":{"main":[[{"node":"Request to chatGPT1","type":"main","index":0}]]},"Request to chatGPT1":{"main":[[{"node":"processing chatGPT response1","type":"main","index":0}]]},"processing chatGPT response1":{"main":[[{"node":"Request in texttospeech1","type":"main","index":0}]]},"Request in texttospeech1":{"main":[[{"node":"downloads audio1","type":"main","index":0}]]},"get the text value:":{"main":[[{"node":"Switch","type":"main","index":0}]]},"downloads audio1":{"main":[[{"node":"load audio d-id2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"download video from d-id2","type":"main","index":0}]]},"downloads audio":{"main":[[{"node":"load audio un d-id","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"download video from d-id","type":"main","index":0}]]},"load audio un d-id":{"main":[[{"node":"make video","type":"main","index":0}]]},"load audio d-id2":{"main":[[{"node":"make video2","type":"main","index":0}]]},"make video":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"make video2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"download video from d-id":{"main":[[{"node":"downloads video","type":"main","index":0}]]},"download video from d-id2":{"main":[[{"node":"downloads video2","type":"main","index":0}]]},"downloads video":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"downloads video2":{"main":[[{"node":"Telegram4","type":"main","index":0}]]},"Code1":{"main":[[]]},"Telegram3":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram4":{"main":[[{"node":"Telegram1","type":"main","index":0}]]}},"settings":{"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"10"},"staticData":null,"meta":null,"pinData":{},"versionId":"168517d5-7c29-4bf4-bbe3-f04bf2ccae49","triggerCount":1,"tags":[]}