случайные-рецепты-21.json
{"createdAt":"2023-03-22T22:57:19.836Z","updatedAt":"2023-03-30T23:57:20.000Z","id":"21","name":"Случайные рецепты","active":false,"nodes":[{"parameters":{"path":"51b66575-9957-4f50-aad9-273149d739f1","options":{}},"id":"c88e5b53-fe7e-4f1c-b7fa-411a34578062","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1400,-300],"webhookId":"51b66575-9957-4f50-aad9-273149d739f1"},{"parameters":{},"id":"01b288c9-ca9f-4611-9dcc-1e2507ddea58","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[120,-260]},{"parameters":{"url":"https://api.spoonacular.com/recipes/complexSearch","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"number","value":"={{ $node[\"Webhook\"].json[\"query\"][\"variables\"][1][\"value\"] }}"},{"name":"query","value":"={{ $json[\"responseData\"][\"translatedText\"] }}"},{"name":"maxFat","value":"25"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"f63d375f-4477-4bb8-b216-d22bc761e6a6","name":"Получение рецепта","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-1400,60],"credentials":{"httpQueryAuth":{"id":"25","name":"spoonacolar"}}},{"parameters":{"url":"https://api.mymemory.translated.net/get","sendQuery":true,"queryParameters":{"parameters":[{"name":"=q","value":"={{ $json[\"combinedSteps\"] }}"},{"name":"langpair","value":"en|ru"},{"name":"de","value":"nedox32@gmail.com"}]},"options":{}},"id":"b9459ae8-42ac-4bab-9b17-f5538282f96b","name":"получаем перевод рецепта","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-580,-20]},{"parameters":{"url":"https://api.mymemory.translated.net/get","sendQuery":true,"queryParameters":{"parameters":[{"name":"=q","value":"={{ $node[\"Очередь на обработку.Цикл\"].json[\"title\"] }}"},{"name":"langpair","value":"en|ru"},{"name":"de","value":"nedox32@gmail.com"}]},"options":{}},"id":"81100693-8d91-41cc-8fe3-000097405a50","name":"перевод заголовка","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-460,-180]},{"parameters":{"url":"https://api.mymemory.translated.net/get","sendQuery":true,"queryParameters":{"parameters":[{"name":"=q","value":"={{ $json[\"query\"][\"variables\"][0][\"value\"] }}"},{"name":"langpair","value":"ru|en"},{"name":"de","value":"nedox32@gmail.com"}]},"options":{}},"id":"69c50586-12ec-4210-929b-ef4913ae65aa","name":"Перевод переменной из ЛТ","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-1400,-120]},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"d95ecc70-0600-4f3f-8395-63a8b7302cf4","name":"Разбить на рецепты","type":"n8n-nodes-base.itemLists","typeVersion":2,"position":[-1400,240]},{"parameters":{"batchSize":1,"options":{}},"id":"ef2e782f-ed07-4e6a-adb6-f7882c7265bc","name":"Очередь на обработку.Цикл","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[-1140,0]},{"parameters":{"url":"=https://api.spoonacular.com/recipes/{{ $node[\"Очередь на обработку.Цикл\"].json[\"id\"] }}/analyzedInstructions","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"45f849da-91cf-49b1-b853-897eb7de29db","name":"Описание отдельного рецепта","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-1020,-280],"credentials":{"httpQueryAuth":{"id":"25","name":"spoonacolar"}}},{"parameters":{"jsCode":"const steps = items[0].json.steps;\n\nconst newJson = {\n  steps: []\n};\n\nif (Array.isArray(steps)) {\n  steps.forEach(step => {\n    newJson.steps.push(step.step);\n  });\n}\n\nreturn {json: newJson};"},"id":"aa6de4a9-db87-4e40-ab83-e836f885b0da","name":"Сбор шагов приготовления в список","type":"n8n-nodes-base.code","typeVersion":1,"position":[-860,0]},{"parameters":{"jsCode":"let combinedString = '';\n\nfor (const item of items) {\n  const steps = item.json.steps;\n  if (steps && Array.isArray(steps)) {\n    for (const step of steps) {\n      combinedString += step;\n    }\n  }\n}\n\nreturn [{ json: { combinedSteps: combinedString } }];"},"id":"e857c6d4-c944-4ade-b630-ae737e5f3984","name":"Получение единого описания приготовления","type":"n8n-nodes-base.code","typeVersion":1,"position":[-720,-280]},{"parameters":{"operation":"sendPhoto","chatId":"={{ $node.Webhook.json.query.contact.telegram_id }}","file":"={{ $node[\"Очередь на обработку.Цикл\"].json.image }}","additionalFields":{"caption":"={{ $node[\"перевод заголовка\"].json[\"matches\"][0][\"translation\"] }}","parse_mode":"HTML"}},"id":"d293b465-cdd8-4a4c-a4fc-5f3aa4f2bc78","name":"Отправка фото","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-300,-20],"credentials":{"telegramApi":{"id":"26","name":"Бот рецепты"}}},{"parameters":{"chatId":"={{ $node.Webhook.json.query.contact.telegram_id }}","text":"={{ $node[\"получаем перевод рецепта\"].json[\"matches\"][0][\"translation\"] }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Узнать от ингридиентах","additionalFields":{"callback_data":"information"}}]}}]},"additionalFields":{}},"id":"dc9d2392-70bb-4344-8aca-d6f50eee347c","name":"Отправка инструкции по приготовлению","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-180,-280],"credentials":{"telegramApi":{"id":"26","name":"Бот рецепты"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ false }}{{ $node[\"Очередь на обработку.Цикл\"].context[\"noItemsLeft\"] }}","value2":true}]}},"id":"59012efd-5476-4efa-a351-4c90e7923547","name":"Проверка условий цикла","type":"n8n-nodes-base.if","typeVersion":1,"position":[-20,-20]},{"parameters":{"content":"Цикл обработки рецептов","height":499.44873122968346,"width":1513.2735540904605},"id":"53cf189f-67a7-4352-a6e7-91af40ee5d74","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1200,-340]},{"parameters":{"content":"Получение рецептов","height":812.995752044251},"id":"ba1c588c-1563-4313-bf75-71bb0ef7ba8a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1460,-380.4487187487764]},{"parameters":{"mode":"jsonToxml","options":{}},"id":"16436f98-b8e4-4687-a247-3d266a69fb53","name":"XML","type":"n8n-nodes-base.xml","typeVersion":1,"position":[-600,-460]}],"connections":{"Webhook":{"main":[[{"node":"Перевод переменной из ЛТ","type":"main","index":0}]]},"Получение рецепта":{"main":[[{"node":"Разбить на рецепты","type":"main","index":0}]]},"получаем перевод рецепта":{"main":[[{"node":"перевод заголовка","type":"main","index":0}]]},"перевод заголовка":{"main":[[{"node":"Отправка фото","type":"main","index":0}]]},"Перевод переменной из ЛТ":{"main":[[{"node":"Получение рецепта","type":"main","index":0}]]},"Разбить на рецепты":{"main":[[{"node":"Очередь на обработку.Цикл","type":"main","index":0}]]},"Очередь на обработку.Цикл":{"main":[[{"node":"Описание отдельного рецепта","type":"main","index":0}]]},"Описание отдельного рецепта":{"main":[[{"node":"Сбор шагов приготовления в список","type":"main","index":0}]]},"Сбор шагов приготовления в список":{"main":[[{"node":"Получение единого описания приготовления","type":"main","index":0}]]},"Получение единого описания приготовления":{"main":[[{"node":"XML","type":"main","index":0},{"node":"получаем перевод рецепта","type":"main","index":0}]]},"Отправка фото":{"main":[[{"node":"Отправка инструкции по приготовлению","type":"main","index":0}]]},"Отправка инструкции по приготовлению":{"main":[[{"node":"Проверка условий цикла","type":"main","index":0}]]},"Проверка условий цикла":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Очередь на обработку.Цикл","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":"DEFAULT","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"10"},"staticData":null,"meta":null,"pinData":{"Получение рецепта":[{"json":{"results":[{"id":638257,"title":"Chicken Porridge","image":"https://spoonacular.com/recipeImages/638257-312x231.jpg","imageType":"jpg","nutrition":{"nutrients":[{"name":"Fat","amount":6.53238,"unit":"g"}]}},{"id":636062,"title":"Breakfast Porridge","image":"https://spoonacular.com/recipeImages/636062-312x231.jpg","imageType":"jpg","nutrition":{"nutrients":[{"name":"Fat","amount":8.79089,"unit":"g"}]}},{"id":637904,"title":"Chicken and Leek Porridge","image":"https://spoonacular.com/recipeImages/637904-312x231.jpg","imageType":"jpg","nutrition":{"nutrients":[{"name":"Fat","amount":6.91698,"unit":"g"}]}},{"id":639120,"title":"Chocolate Oatmeal","image":"https://spoonacular.com/recipeImages/639120-312x231.jpg","imageType":"jpg","nutrition":{"nutrients":[{"name":"Fat","amount":3.73327,"unit":"g"}]}},{"id":654271,"title":"Overnight Oatmeal","image":"https://spoonacular.com/recipeImages/654271-312x231.jpg","imageType":"jpg","nutrition":{"nutrients":[{"name":"Fat","amount":6.95175,"unit":"g"}]}}],"offset":0,"number":5,"totalResults":22}}]},"versionId":"b7728937-ba6b-4d8d-9c4e-0bb2ee166182","triggerCount":1,"tags":[]}