сохраниение-xml-в-google-sheets-25.json
{"createdAt":"2023-03-30T03:49:28.800Z","updatedAt":"2023-03-30T21:42:00.000Z","id":"25","name":"сохраниение xml в google sheets","active":false,"nodes":[{"parameters":{},"id":"6e43c55b-b457-4ff5-b791-5de2e4f87cf2","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-120,300],"typeVersion":1},{"parameters":{"url":"https://www.w3schools.com/xml/simple.xml","options":{}},"id":"e6c64851-65df-48a3-88a8-458c7da1bd37","name":"Загрузка XML файла","type":"n8n-nodes-base.httpRequest","position":[40,300],"typeVersion":3},{"parameters":{"options":{}},"id":"cb557dac-c04b-409f-9ec9-4f133847dbbb","name":"Конвертация XML в json","type":"n8n-nodes-base.xml","position":[200,300],"typeVersion":1},{"parameters":{"fieldToSplitOut":"breakfast_menu.food","options":{}},"id":"a5d0f536-0e9e-4155-878b-52f843f72c46","name":"Разделение food на отдельные items","type":"n8n-nodes-base.itemLists","position":[360,300],"typeVersion":1},{"parameters":{"resource":"spreadsheet","title":"My XML Data","options":{}},"id":"166c0833-fc71-459b-a17d-2173eb292ade","name":"Создаем новую таблицу","type":"n8n-nodes-base.googleSheets","position":[520,140],"executeOnce":true,"typeVersion":2,"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"columns","value":"={{ [ Object.keys($(\"Разделение food на отдельные items\").first().json) ] }}"}]},"options":{}},"id":"18481e93-1f8f-4e59-bdff-5562a581ce47","name":"Определить строку заголовка","type":"n8n-nodes-base.set","position":[700,140],"executeOnce":true,"typeVersion":1},{"parameters":{"mode":"chooseBranch","output":"input2"},"id":"945b098f-f092-4b00-9959-3ab49e712e47","name":"Создаем таблицу","type":"n8n-nodes-base.merge","position":[1020,280],"typeVersion":2},{"parameters":{"operation":"append","sheetId":"={{ $(\"Создаем новую таблицу\").first().json[\"spreadsheetId\"] }}","options":{}},"id":"55b015e0-6369-40d2-a763-07d3cc85e947","name":"Добавляем значения в таблицу","type":"n8n-nodes-base.googleSheets","position":[1200,280],"typeVersion":2,"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}},{"parameters":{"operation":"update","sheetId":"={{ $(\"Создаем новую таблицу\").first().json[\"spreadsheetId\"] }}","rawData":true,"dataProperty":"columns","options":{}},"id":"b2edbd1c-cf1f-4260-88fd-f40213c93180","name":"Заносим строку заголовка","type":"n8n-nodes-base.googleSheets","position":[880,140],"typeVersion":2,"credentials":{"googleSheetsOAuth2Api":{"id":"27","name":"Google Sheets account"}}}],"connections":{"On clicking 'execute'":{"main":[[{"node":"Загрузка XML файла","type":"main","index":0}]]},"Загрузка XML файла":{"main":[[{"node":"Конвертация XML в json","type":"main","index":0}]]},"Конвертация XML в json":{"main":[[{"node":"Разделение food на отдельные items","type":"main","index":0}]]},"Разделение food на отдельные items":{"main":[[{"node":"Создаем новую таблицу","type":"main","index":0},{"node":"Создаем таблицу","type":"main","index":1}]]},"Создаем новую таблицу":{"main":[[{"node":"Определить строку заголовка","type":"main","index":0}]]},"Определить строку заголовка":{"main":[[{"node":"Заносим строку заголовка","type":"main","index":0}]]},"Создаем таблицу":{"main":[[{"node":"Добавляем значения в таблицу","type":"main","index":0}]]},"Заносим строку заголовка":{"main":[[{"node":"Создаем таблицу","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"1c1e0c70-1962-444e-b6c1-bd5340be84dc","triggerCount":0,"tags":[]}