тест-календарь-54.json
{"createdAt":"2023-05-08T07:31:07.158Z","updatedAt":"2023-10-21T02:12:10.000Z","id":"54","name":"Тест календарь","active":false,"nodes":[{"parameters":{"updates":["*"],"additionalFields":{}},"id":"0664f54d-6f45-4c3c-98bb-a9f7471e6b8d","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-180,1680],"webhookId":"20f7fc01-9174-41ac-a2ca-4ec42fd66490","credentials":{"telegramApi":{"id":"39","name":"Тест календарь"}}},{"parameters":{},"id":"dd742b0d-ab0c-46b9-8e7e-973f61f794c6","name":"event","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[40,1680]},{"parameters":{"jsCode":"// Код для генерации календаря на текущий месяц\n\n// Массив с именами дней недели\nconst weekdays = [\"Пн\", \"Вт\", \"Ср\", \"Чт\", \"Пт\", \"Сб\", \"Вс\"]\n\n// Объект, содержащий информацию о текущем месяце и годе\nconst now = {\n  month: {\n    num: $now.month, // Номер текущего месяца\n    long: $now.monthLong, // Полное имя текущего месяца\n    starting_week: $now.startOf('month').weekNumber, // Номер недели, на которой начинается месяц\n    ending_week: $now.endOf('month').weekNumber, // Номер недели, на которой заканчивается месяц\n    days_num: $now.daysInMonth // Количество дней в текущем месяце\n  },\n  year: $now.year // Текущий год\n}\n\n// Вычисляем количество строк, необходимых для отображения всех недель месяца\nnow.month.weeks = ( now.month.ending_week - now.month.starting_week ) > 0 ? 1 + now.month.ending_week - now.month.starting_week : 1 + now.month.ending_week\n\n// Строка с названием месяца и года\nconst row_month = [\n  {\n    \"text\": `${now.month.long} ${now.year}`, \n    \"callback_data\": \"none\" \n  }\n]\n\n// Массив кнопок с днями недели\nconst row_weekdays = weekdays\n  .map( e => ({\n    \"text\": e, \n    \"callback_data\": \"none\" \n  }))\n\n// Массив, содержащий все дни месяца\nconst calendar = []\n\n// Генерируем пустые ячейки для каждой строки календаря\nfor (let i = 0; i < now.month.weeks; i++) {\n  let row = []\n  for (let d = 0; d < 7; d++) {\n    row.push({ \n      \"text\": \" \",\n      \"callback_data\": \"none\"\n    })\n  }\n  calendar.push(row)\n}\n\n// Переменная, содержащая номер строки, в которую нужно добавить день месяца\nlet week_row = 0;\n\n// Заполняем календарь днями месяца\nfor (let i = 0; i < now.month.days_num; i++) {\n  \n  // Получаем объект даты для текущего дня месяца\n  let d = $now.startOf('month').startOf('day').plus({days: i})\n    \n  let daynum = d.day // Номер текущего дня месяца\n  let weekday = d.weekday // Номер дня недели (0 - воскресенье, 1 - понедельник и т.д.)\n\n  // Если текущий день - вторник, добавляем значок 🔒 в ячейку календаря и устанавливаем callback_data \"closed\"\n  if (weekday == 2) {\n    calendar[week_row][weekday - 1].text = \"🔒\"\n    calendar[week_row][weekday - 1].callback_data = \"closed\"\n  } else {\n    // Иначе добавляем номер текущего дня месяца в ячейку календаря и устанавливаем соответствующий callback_data\n    calendar[week_row][weekday - 1].text = daynum.toString()\n    calendar[week_row][weekday - 1].callback_data = \"date_\" + d.toMillis().toString()\n  }\n\n  // Если текущий день - воскресенье, переходим на следующую строку календаря\n  if (weekday == 7) {\n    week_row++\n  }\n}\n\n// Массив кнопок для навигации по месяцам\nconst row_navigation = [\n  { \n    \"text\": \"⏪\", \n    \"callback_data\": `month_${now.month.num}_prev` \n  },\n  {\n    \"text\": \"📅\",\n    \"callback_data\": \"none\"\n  },\n  { \n    \"text\": \"⏩\", \n    \"callback_data\": `month_${now.month.num}_next`\n  }\n] \n\n// Объект reply_markup, содержащий все кнопки календаря\nconst reply_markup = { \n  \"inline_keyboard\" : [\n    row_month,\n    row_weekdays,\n    ...calendar,\n    row_navigation\n  ]  \n}\n\n// Возвращаем объект, содержащий reply_markup как единственный элемент массива\nreturn [{ \n  reply_markup\n}];"},"id":"6ff0eff8-7521-420b-bdc9-3041ba820f13","name":"calendar_keyboard","type":"n8n-nodes-base.code","typeVersion":1,"position":[520,1440]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot6279803331:AAFQW47XVabK4fTgxBpcX7v9kE_ZUsCsTiI/editMessageReplyMarkup","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{  $('event').first().json[\"callback_query\"][\"from\"][\"id\"]  }}"},{"name":"reply_markup","value":"={{ $json.reply_markup }}"},{"name":"message_id","value":"={{  $('event').first().json[\"callback_query\"][\"message\"][\"message_id\"]  }}"}]},"options":{}},"id":"03f7d36a-5ac5-4859-8831-6be5357f00f0","name":" another_month","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[940,2200],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot6279803331:AAFQW47XVabK4fTgxBpcX7v9kE_ZUsCsTiI/sendMessage","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{  $('event').first().json[\"message\"][\"from\"][\"id\"]  }}"},{"name":"text","value":"=Выберите дату"},{"name":"reply_markup","value":"={{ $json.reply_markup }}"}]},"options":{}},"id":"d036e61a-6bae-4915-b7db-984256e4b3e0","name":"calendar_msg","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[940,1440],"alwaysOutputData":false},{"parameters":{"conditions":{"boolean":[{"value1":"={{  \"message\" in $json  }}","value2":true}]}},"id":"eb192406-6cff-4a59-8882-4b38f15c4275","name":"if_message","type":"n8n-nodes-base.if","typeVersion":1,"position":[260,1680]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.text }}","value2":"/calendar"}]}},"id":"9d8f1922-b9af-424c-8b0d-20823958ea53","name":"if_calendar","type":"n8n-nodes-base.if","typeVersion":1,"position":[520,1680]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.text }}","value2":"/start"}]}},"id":"f577b236-05a7-4be7-ba8d-d61fefc45a77","name":"if_start","type":"n8n-nodes-base.if","typeVersion":1,"position":[740,1680]},{"parameters":{"url":"=https://api.telegram.org/bot6279803331:AAFQW47XVabK4fTgxBpcX7v9kE_ZUsCsTiI/sendMessage","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json[\"message\"][\"from\"][\"id\"] }}"},{"name":"text","value":"Hello"}]},"options":{}},"id":"cd6a3dd7-5f7d-401c-848e-60c49ab4121a","name":"start_msg","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[940,1680]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"callback_query\"][\"data\"] }}","value2":"none"},{"value1":"={{ $json[\"callback_query\"][\"data\"] }}","value2":"closed"}]},"combineOperation":"any"},"id":"a9a613f4-1de1-4984-b648-7bb19a73e704","name":"callback_none","type":"n8n-nodes-base.if","typeVersion":1,"position":[260,1940]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"callback_query\"][\"data\"] }}","operation":"startsWith","value2":"month_"}]}},"id":"b520c3f3-1487-4e3c-9bc2-fde5a339a50b","name":"callback_month","type":"n8n-nodes-base.if","typeVersion":1,"position":[260,2200]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"callback_query\"][\"data\"] }}","operation":"startsWith","value2":"date_"}]}},"id":"cfa98c39-5208-4171-8e43-3691e40fe89d","name":"callback_day","type":"n8n-nodes-base.if","typeVersion":1,"position":[260,2460]},{"parameters":{"jsCode":"// Объявление переменных\nconst data = $('event').first().json; // Получаем данные события в формате JSON\nconst cq = data.callback_query; // Получаем callback_query из данных\nconst cd = cq.data; // Получаем поле data из callback_query\n\n// Получаем месяцы, которые будут использоваться для составления календаря\nconst old_month = cd.split(\"_\")[1]; \nconst new_month = cd.split(\"_\")[2];\n\n// Вычисляем новый месяц на основе old_month и new_month\nconst new_now = \n  new_month === \"prev\" ? \n  $now.set({month: old_month}).minus({months: 1}) :\n  $now.set({month: old_month}).plus({months: 1});\n\n// Создаем массив сокращенных названий дней недели\nconst weekdays = [\"Пн\", \"Вт\", \"Ср\", \"Чт\", \"Пт\", \"Сб\", \"Вс\"];\n\n// Создаем объект now, содержащий информацию о текущем месяце и годе\nconst now = {\n  month: {\n    num: new_now.month, // Номер месяца (1-12)\n    long: new_now.monthLong, // Полное название месяца (на английском языке)\n    starting_week: new_now.startOf('month').weekNumber, // Номер начальной недели месяца\n    ending_week: new_now.endOf('month').weekNumber, // Номер конечной недели месяца\n    days_num: new_now.daysInMonth // Количество дней в месяце\n  },\n  year: new_now.year // Год\n};\n\n// Вычисляем количество недель в месяце\nnow.month.weeks = ( now.month.ending_week - now.month.starting_week ) > 0 ? 1 + now.month.ending_week - now.month.starting_week : 1 + now.month.ending_week;\n\n// Создаем строку, содержащую полное название месяца и года\nnow.month_year_long = `${now.month.long} ${now.year}`;\n\n// Создаем первый ряд календаря с названием месяца и года\nconst row_month = [\n  {\n    \"text\": now.month_year_long, \n    \"callback_data\": \"none\" \n  }\n];\n\n// Создаем второй ряд календаря с названиями дней недели\nconst row_weekdays = weekdays\n  .map( e => ({\n    \"text\": e, \n    \"callback_data\": \"none\" \n  }));\n\n// Создаем массив календарных ячеек для каждой недели месяца\nconst calendar = [];\nfor (let i = 0; i < now.month.weeks; i++) {\n  let row = []\n  for (let d = 0; d < 7; d++) {\n    row.push({ \n      \"text\": \" \",\n      \"callback_data\": \"none\"\n    })\n  }\n  calendar.push(row)\n}\n\n// Заполняем календарные ячейки номерами дней месяца\nlet week_row = 0;\nfor (let i = 0; i < now.month.days_num; i++) {\n  let d = new_now.startOf('month').startOf('day').plus({days: i})\n  let daynum = d.day\n  let weekday = d.weekday\n\n  calendar[week_row][weekday - 1].text = daynum.toString()\n  calendar[week_row][weekday - 1].callback_data = \"date_\" + d.toMillis().toString()\n\n  if (weekday == 7) {\n    week_row++\n  }\n}\n\n// Создаем третий ряд календаря с кнопками для навигации между месяцами\nconst row_navigation = [\n  { \n    \"text\": \"⏪\", \n    \"callback_data\": `month_${now.month.num}_prev` \n  },\n  {\n    \"text\": \"📅\",\n    \"callback_data\": \"none\"\n  },\n  { \n    \"text\": \"⏩\", \n    \"callback_data\": `month_${now.month.num}_next`\n  }\n] \n\n// Создаем объект reply_markup, содержащий все ряды календаря и кнопки управления\nconst reply_markup = { \n  \"inline_keyboard\" : [\n    row_month,\n    row_weekdays,\n    ...calendar,\n    row_navigation\n  ]  \n}\n\n// Возвращаем массив объектов, содержащих reply_markup в качестве поля reply_markup\nreturn [{ \n  reply_markup\n}];"},"id":"26952142-4b19-43c6-b087-1b457cc68c7e","name":"month_keyboard","type":"n8n-nodes-base.code","typeVersion":1,"position":[520,2200]},{"parameters":{"resource":"callback","queryId":"={{   $('event').first().json[\"callback_query\"][\"id\"]   }}","additionalFields":{"show_alert":true,"text":"={{  DateTime.fromMillis( Number($('event').first().json[\"callback_query\"][\"data\"].split(\"_\")[1]) ).toFormat('dd-LL-yyyy') }}"}},"id":"105da8cc-d49a-4d3f-93bf-59d79c463bee","name":"show_date","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[940,2460],"credentials":{"telegramApi":{"id":"39","name":"Тест календарь"}}},{"parameters":{"resource":"callback","queryId":"={{  $('event').first().json[\"callback_query\"][\"id\"]  }}","additionalFields":{}},"id":"fe0e492b-9a9f-4d71-96fb-67eba28cff0b","name":"answer_query","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[940,1960],"credentials":{"telegramApi":{"id":"39","name":"Тест календарь"}}},{"parameters":{"jsCode":"// Код для генерации календаря на текущий месяц\n\n// Массив с именами дней недели\nconst weekdays = [\"Пн\", \"Вт\", \"Ср\", \"Чт\", \"Пт\", \"Сб\", \"Вс\"]\n\n// Объект, содержащий информацию о текущем месяце и годе\nconst now = {\n  month: {\n    num: $now.month, // Номер текущего месяца\n    long: $now.monthLong, // Полное имя текущего месяца\n    starting_week: $now.startOf('month').weekNumber, // Номер недели, на которой начинается месяц\n    ending_week: $now.endOf('month').weekNumber, // Номер недели, на которой заканчивается месяц\n    days_num: $now.daysInMonth // Количество дней в текущем месяце\n  },\n  year: $now.year // Текущий год\n}\n\n// Вычисляем количество строк, необходимых для отображения всех недель месяца\nnow.month.weeks = ( now.month.ending_week - now.month.starting_week ) > 0 ? 1 + now.month.ending_week - now.month.starting_week : 1 + now.month.ending_week\n\n// Строка с названием месяца и года\nconst row_month = [\n  {\n    \"text\": `${now.month.long} ${now.year}`, \n    \"callback_data\": \"none\" \n  }\n]\n\n// Массив кнопок с днями недели\nconst row_weekdays = weekdays\n  .map( e => ({\n    \"text\": e, \n    \"callback_data\": \"none\" \n  }))\n\n// Массив, содержащий все дни месяца\nconst calendar = []\n\n// Генерируем пустые ячейки для каждой строки календаря\nfor (let i = 0; i < now.month.weeks; i++) {\n  let row = []\n  for (let d = 0; d < 7; d++) {\n    row.push({ \n      \"text\": \" \",\n      \"callback_data\": \"none\"\n    })\n  }\n  calendar.push(row)\n}\n\n// Переменная, содержащая номер строки, в которую нужно добавить день месяца\nlet week_row = 0;\n\n// Заполняем календарь днями месяца\nfor (let i = 0; i < now.month.days_num; i++) {\n  \n  // Получаем объект даты для текущего дня месяца\n  let d = $now.startOf('month').startOf('day').plus({days: i})\n    \n  let daynum = d.day // Номер текущего дня месяца\n  let weekday = d.weekday // Номер дня недели (0 - воскресенье, 1 - понедельник и т.д.)\n\n  // Если текущий день - вторник, добавляем значок 🔒 в ячейку календаря и устанавливаем callback_data \"closed\"\n  if (weekday == 2) {\n    calendar[week_row][weekday - 1].text = \"🔒\"\n    calendar[week_row][weekday - 1].callback_data = \"closed\"\n  } else {\n    // Иначе добавляем номер текущего дня месяца в ячейку календаря и устанавливаем соответствующий callback_data\n    calendar[week_row][weekday - 1].text = daynum.toString()\n    calendar[week_row][weekday - 1].callback_data = \"date_\" + d.toMillis().toString()\n  }\n\n  // Если текущий день - воскресенье, переходим на следующую строку календаря\n  if (weekday == 7) {\n    week_row++\n  }\n}\n\n// Массив кнопок для навигации по месяцам\nconst row_navigation = [\n  { \n    \"text\": \"⏪\", \n    \"callback_data\": `month_${now.month.num}_prev` \n  },\n  {\n    \"text\": \"📅\",\n    \"callback_data\": \"none\"\n  },\n  { \n    \"text\": \"⏩\", \n    \"callback_data\": `month_${now.month.num}_next`\n  }\n] \n\n// Объект reply_markup, содержащий все кнопки календаря\nconst reply_markup = { \n  \"inline_keyboard\" : [\n    row_month,\n    row_weekdays,\n    ...calendar,\n    row_navigation\n  ]  \n}\n\n// Возвращаем объект, содержащий reply_markup как единственный элемент массива\nreturn [{ \n  reply_markup\n}];"},"id":"6690a20c-c6f8-4306-b4a1-ba24295bd8ba","name":"calendar_keyboard1","type":"n8n-nodes-base.code","typeVersion":1,"position":[160,1440]},{"parameters":{"jsCode":"// Объявление переменных\nconst data = $('event').first().json; // Получаем данные события в формате JSON\nconst cq = data.callback_query; // Получаем callback_query из данных\nconst cd = cq.data; // Получаем поле data из callback_query\n\n// Получаем месяцы, которые будут использоваться для составления календаря\nconst old_month = cd.split(\"_\")[1]; \nconst new_month = cd.split(\"_\")[2];\n\n// Вычисляем новый месяц на основе old_month и new_month\nconst new_now = \n  new_month === \"prev\" ? \n  $now.set({month: old_month}).minus({months: 1}) :\n  $now.set({month: old_month}).plus({months: 1});\n\n// Создаем массив сокращенных названий дней недели\nconst weekdays = [\"Пн\", \"Вт\", \"Ср\", \"Чт\", \"Пт\", \"Сб\", \"Вс\"];\n\n// Создаем объект now, содержащий информацию о текущем месяце и годе\nconst now = {\n  month: {\n    num: new_now.month, // Номер месяца (1-12)\n    long: new_now.monthLong, // Полное название месяца (на английском языке)\n    starting_week: new_now.startOf('month').weekNumber, // Номер начальной недели месяца\n    ending_week: new_now.endOf('month').weekNumber, // Номер конечной недели месяца\n    days_num: new_now.daysInMonth // Количество дней в месяце\n  },\n  year: new_now.year // Год\n};\n\n// Вычисляем количество недель в месяце\nnow.month.weeks = ( now.month.ending_week - now.month.starting_week ) > 0 ? 1 + now.month.ending_week - now.month.starting_week : 1 + now.month.ending_week;\n\n// Создаем строку, содержащую полное название месяца и года\nnow.month_year_long = `${now.month.long} ${now.year}`;\n\n// Создаем первый ряд календаря с названием месяца и года\nconst row_month = [\n  {\n    \"text\": now.month_year_long, \n    \"callback_data\": \"none\" \n  }\n];\n\n// Создаем второй ряд календаря с названиями дней недели\nconst row_weekdays = weekdays\n  .map( e => ({\n    \"text\": e, \n    \"callback_data\": \"none\" \n  }));\n\n// Создаем массив календарных ячеек для каждой недели месяца\nconst calendar = [];\nfor (let i = 0; i < now.month.weeks; i++) {\n  let row = []\n  for (let d = 0; d < 7; d++) {\n    row.push({ \n      \"text\": \" \",\n      \"callback_data\": \"none\"\n    })\n  }\n  calendar.push(row)\n}\n\n// Заполняем календарные ячейки номерами дней месяца\nlet week_row = 0;\nfor (let i = 0; i < now.month.days_num; i++) {\n  let d = new_now.startOf('month').startOf('day').plus({days: i})\n  let daynum = d.day\n  let weekday = d.weekday\n\n  calendar[week_row][weekday - 1].text = daynum.toString()\n  calendar[week_row][weekday - 1].callback_data = \"date_\" + d.toMillis().toString()\n\n  if (weekday == 7) {\n    week_row++\n  }\n}\n\n// Создаем третий ряд календаря с кнопками для навигации между месяцами\nconst row_navigation = [\n  { \n    \"text\": \"⏪\", \n    \"callback_data\": `month_${now.month.num}_prev` \n  },\n  {\n    \"text\": \"📅\",\n    \"callback_data\": \"none\"\n  },\n  { \n    \"text\": \"⏩\", \n    \"callback_data\": `month_${now.month.num}_next`\n  }\n] \n\n// Создаем объект reply_markup, содержащий все ряды календаря и кнопки управления\nconst reply_markup = { \n  \"inline_keyboard\" : [\n    row_month,\n    row_weekdays,\n    ...calendar,\n    row_navigation\n  ]  \n}\n\n// Возвращаем массив объектов, содержащих reply_markup в качестве поля reply_markup\nreturn [{ \n  reply_markup\n}];"},"id":"53269ed4-2603-47e8-97a4-ba100dc13234","name":"month_keyboard1","type":"n8n-nodes-base.code","typeVersion":1,"position":[520,2340]}],"connections":{"Telegram Trigger":{"main":[[{"node":"event","type":"main","index":0}]]},"event":{"main":[[{"node":"if_message","type":"main","index":0}]]},"calendar_keyboard":{"main":[[{"node":"calendar_msg","type":"main","index":0}]]}," another_month":{"main":[[{"node":"answer_query","type":"main","index":0}]]},"if_message":{"main":[[{"node":"if_calendar","type":"main","index":0}],[{"node":"callback_none","type":"main","index":0}]]},"if_calendar":{"main":[[{"node":"calendar_keyboard","type":"main","index":0}],[{"node":"if_start","type":"main","index":0}]]},"if_start":{"main":[[{"node":"start_msg","type":"main","index":0}]]},"callback_none":{"main":[[{"node":"answer_query","type":"main","index":0}],[{"node":"callback_month","type":"main","index":0}]]},"callback_month":{"main":[[{"node":"month_keyboard","type":"main","index":0}],[{"node":"callback_day","type":"main","index":0}]]},"callback_day":{"main":[[{"node":"show_date","type":"main","index":0}]]},"month_keyboard":{"main":[[{"node":" another_month","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"696d4af8-1faf-426a-8c6f-229deee637c1","triggerCount":1,"tags":[]}