тестбот-по-видео-9.json
{"createdAt":"2023-03-10T09:31:17.768Z","updatedAt":"2023-04-20T02:03:57.000Z","id":"9","name":"тестбот по видео","active":false,"nodes":[{"parameters":{"dataType":"string","value1":"={{ $json[\"message\"][\"text\"] }}","rules":{"rules":[{"operation":"startsWith","value2":"/start"},{"operation":"startsWith","value2":"/faq","output":1}]},"fallbackOutput":3},"id":"420378d4-53ef-4e4e-8b2f-50bd9d55ec55","name":"comands","type":"n8n-nodes-base.switch","typeVersion":1,"position":[-1460,180]},{"parameters":{"chatId":"={{ $node[\"Telegram Trigger\"].json.message.chat.id }}","text":"=Добро пожаловать в бота, {{ $json.message.chat.first_name }}\n\n<b>Это мой бот</b>","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Профайл","additionalFields":{"callback_data":"menu_profile"}},{"text":"Портфолио","additionalFields":{"callback_data":"menu_portfolio"}}]}},{"row":{"buttons":[{"text":"Заказать","additionalFields":{"callback_data":"menu_order"}}]}}]},"additionalFields":{"disable_web_page_preview":true,"parse_mode":"HTML"}},"id":"7480afcf-f4d3-410f-b04e-f0f4ba491cc6","name":"Приветствие","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-1220,80],"credentials":{"telegramApi":{"id":"18","name":"тест telegram trigger"}}},{"parameters":{"chatId":"={{ $node[\"Telegram Trigger\"].json.message.chat.id }}","text":"FAQ","additionalFields":{}},"id":"e196b5a0-5ef2-4bf8-9234-7f58803c8faf","name":"FAQ","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-1120,180],"credentials":{"telegramApi":{"id":"18","name":"тест telegram trigger"}}},{"parameters":{"chatId":"={{ $node[\"Telegram Trigger\"].json.message.chat.id }}","text":"Остальные команды","additionalFields":{}},"id":"895e590f-8be3-4f34-a9aa-bb0bce50d5c9","name":"Остальные команды","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-1020,280],"credentials":{"telegramApi":{"id":"18","name":"тест telegram trigger"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json['message'].hasOwnProperty('text') }}","operation":"=equal","value2":true}]}},"id":"45969675-309b-4607-90c7-7255977ec672","name":"Текст?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1880,280]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.hasOwnProperty('message') }}","value2":true}]}},"id":"ffcd6b0d-deb0-4ed6-b976-0de82530a79c","name":"Сообщение ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1880,420]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"message\"][\"text\"] }}","operation":"startsWith","value2":"/"}]}},"id":"9d931132-0f93-4054-81db-4971313e71c5","name":"Команда ли?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1660,240]},{"parameters":{"resource":"chat","operation":"leave","chatId":"={{ $json.my_chat_member.chat.id }}"},"id":"ef896a40-e5c0-49c8-b9da-6ee5b65bf64e","name":"Выход из чатов","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-2200,260],"credentials":{"telegramApi":{"id":"18","name":"тест telegram trigger"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.hasOwnProperty(\"my_chat_member\") }}","value2":true},{"value1":"={{ $json['my_chat_member']['new_chat_member']['user']['id']==5954459110 }}","value2":true},{"value1":"={{ $json['my_chat_member']['new_chat_member']['status']=='member' }}","value2":true}]}},"id":"11994111-b72d-46a4-834a-6d53dd0a9caa","name":"добавление в чат","type":"n8n-nodes-base.if","typeVersion":1,"position":[-2220,400]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.hasOwnProperty(\"callback_query\") }}","value2":true}]}},"id":"2cbaeecc-fcb8-43a5-bbef-9012ef1831d6","name":"callback_query","type":"n8n-nodes-base.if","typeVersion":1,"position":[-380,440]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"callback_query\"][\"data\"] }}","operation":"startsWith","value2":"menu_"}]}},"id":"53e2f3fe-e7f4-4142-9c26-25648decfbcf","name":"menu_","type":"n8n-nodes-base.if","typeVersion":1,"position":[-440,800]},{"parameters":{"operation":"editMessageText","chatId":"={{ $json.callback_query.message.chat.id }}","messageId":"={{ $json.callback_query.message.message_id }}","replyMarkup":"inlineKeyboard","text":"<b>Текст профайла</b>","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Назад","additionalFields":{"callback_data":"menu_home"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"77a23191-af7b-47e9-a7d4-a1c4d0d5c1ca","name":"Профайл","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-20,640],"credentials":{"telegramApi":{"id":"18","name":"тест telegram trigger"}}},{"parameters":{"operation":"editMessageText","chatId":"={{ $node[\"Telegram Trigger\"].json.callback_query.message.chat.id }}","messageId":"={{ $node[\"Telegram Trigger\"].json.callback_query.message.message_id }}","replyMarkup":"inlineKeyboard","text":"=Добро пожаловать в бота, {{ $node[\"Telegram Trigger\"].json[\"callback_query\"][\"from\"][\"first_name\"] }}\n\n<b>Это мой бот</b>","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Профайл","additionalFields":{"callback_data":"menu_profile"}},{"text":"Портфолио","additionalFields":{"callback_data":"menu_portfolio"}}]}},{"row":{"buttons":[{"text":"Заказать","additionalFields":{"callback_data":"menu_order"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"7e2308c1-77c6-4ccd-9930-70a63274b2b6","name":"Замена приветствие","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-240,640],"credentials":{"telegramApi":{"id":"18","name":"тест telegram trigger"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"callback_query\"][\"data\"] }}","operation":"endsWith","value2":"home"}]}},"id":"0639c101-3cb5-4168-8c04-d2d382d29c86","name":"возврат","type":"n8n-nodes-base.if","typeVersion":1,"position":[-240,800]},{"parameters":{"dataType":"string","value1":"={{ $json[\"callback_query\"][\"data\"] }}","rules":{"rules":[{"operation":"endsWith","value2":"profile"},{"operation":"contains","value2":"portfolio","output":1},{"operation":"endsWith","value2":"order","output":2}]},"fallbackOutput":3},"id":"316389d5-d5e4-4f25-bc62-7ea10c665d42","name":"кнопки главного меню","type":"n8n-nodes-base.switch","typeVersion":1,"position":[-20,800]},{"parameters":{"updates":["*"],"additionalFields":{}},"id":"b3600d6b-28be-4b50-845f-4bc3b7d0563f","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-2380,400],"webhookId":"bb78d6e2-9e4b-4a27-b0fd-ed681b2e3aa3","credentials":{"telegramApi":{"id":"18","name":"тест telegram trigger"}}},{"parameters":{"dataType":"string","value1":"={{ $json[\"callback_query\"][\"data\"] }}","rules":{"rules":[{"operation":"endsWith","value2":"portfolio"},{"operation":"contains","value2":"auto","output":1},{"operation":"contains","value2":"chat","output":2}]},"fallbackOutput":3},"id":"bb25bd71-3c60-4a07-b787-49d1334c2252","name":"Portfolio","type":"n8n-nodes-base.switch","typeVersion":1,"position":[-2340,1020]},{"parameters":{"dataType":"string","value1":"={{ $json[\"callback_query\"][\"data\"] }}","rules":{"rules":[{"operation":"endsWith","value2":"auto"},{"operation":"endsWith","value2":"1","output":1},{"operation":"endsWith","value2":"2","output":2},{"operation":"endsWith","value2":"3","output":3}]}},"id":"2a598269-6e51-48f2-9219-058fe496c12b","name":"Auto","type":"n8n-nodes-base.switch","typeVersion":1,"position":[-1760,1060]},{"parameters":{"dataType":"string","value1":"={{ $json[\"callback_query\"][\"data\"] }}","rules":{"rules":[{"operation":"endsWith","value2":"chat"},{"operation":"endsWith","value2":"1","output":1},{"operation":"endsWith","value2":"2","output":2},{"operation":"endsWith","value2":"3","output":3}]}},"id":"8fa8fb9e-728e-4271-bc35-55e63950ca27","name":"Chat","type":"n8n-nodes-base.switch","typeVersion":1,"position":[-2340,1240]},{"parameters":{"operation":"editMessageText","chatId":"={{ $json.callback_query.message.chat.id }}","messageId":"={{ $json.callback_query.message.message_id }}","replyMarkup":"inlineKeyboard","text":"<b>ТЕКСТ ПОРТФОЛИО</b>","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Автоматизация","additionalFields":{"callback_data":"menu_portfolio_auto"}},{"text":"Чат-боты","additionalFields":{"callback_data":"menu_portfolio_chat"}}]}},{"row":{"buttons":[{"text":"Назад","additionalFields":{"callback_data":"menu_home"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"cb31e8e9-b307-407e-bdef-9ba10953bd0a","name":"Portfolio2","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-2380,740],"credentials":{"telegramApi":{"id":"18","name":"тест telegram trigger"}}},{"parameters":{"operation":"editMessageText","chatId":"={{ $json.callback_query.message.chat.id }}","messageId":"={{ $json.callback_query.message.message_id }}","replyMarkup":"inlineKeyboard","text":"<b>Меню кейсы автоматизация</b>","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"кейс 1","additionalFields":{"callback_data":"menu_portfolio_auto_1"}},{"text":"кейс 2","additionalFields":{"callback_data":"menu_portfolio_auto_2"}},{"text":"кейс 3","additionalFields":{"callback_data":"menu_portfolio_auto_3"}}]}},{"row":{"buttons":[{"text":"Назад","additionalFields":{"callback_data":"menu_portfolio"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"ecb57e6b-6f25-4f14-86e7-777cd969d398","name":"Автоматизация","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-1740,800],"credentials":{"telegramApi":{"id":"18","name":"тест telegram trigger"}}},{"parameters":{"operation":"editMessageText","chatId":"={{ $node[\"Telegram Trigger\"].json.callback_query.message.chat.id }}","messageId":"={{ $node[\"Telegram Trigger\"].json.callback_query.message.message_id }}","replyMarkup":"inlineKeyboard","text":"<b>Описание кейса 1</b>","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Назад","additionalFields":{"callback_data":"menu_portfolio_auto"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"d95dd21f-bd9d-4722-bd61-cfa0f4097d80","name":"Автокейс1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-1460,800],"credentials":{"telegramApi":{"id":"18","name":"тест telegram trigger"}}},{"parameters":{"operation":"editMessageText","chatId":"={{ $node[\"Telegram Trigger\"].json.callback_query.message.chat.id }}","messageId":"={{ $node[\"Telegram Trigger\"].json.callback_query.message.message_id }}","replyMarkup":"inlineKeyboard","text":"<b>Описание кейса 2</b>","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Назад","additionalFields":{"callback_data":"menu_portfolio_auto"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"78e3a417-aea4-42f7-b1ac-cc2ae346c8db","name":"Автокейс2","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-1440,960],"credentials":{"telegramApi":{"id":"18","name":"тест telegram trigger"}}},{"parameters":{"operation":"editMessageText","chatId":"={{ $node[\"Telegram Trigger\"].json.callback_query.message.chat.id }}","messageId":"={{ $node[\"Telegram Trigger\"].json.callback_query.message.message_id }}","replyMarkup":"inlineKeyboard","text":"<b>Описание кейса 3</b>","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Назад","additionalFields":{"callback_data":"menu_portfolio_auto"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"d81dbe2c-625a-40b1-9d0f-876702c4092c","name":"Автокейс3","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-1420,1080],"credentials":{"telegramApi":{"id":"18","name":"тест telegram trigger"}}},{"parameters":{"operation":"editMessageText","chatId":"={{ $json.callback_query.message.chat.id }}","messageId":"={{ $json.callback_query.message.message_id }}","replyMarkup":"inlineKeyboard","text":"<b>Меню кейсы чат-боты</b>","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"кейс 1","additionalFields":{"callback_data":"menu_portfolio_chat_1"}},{"text":"кейс 2","additionalFields":{"callback_data":"menu_portfolio_chat_2"}},{"text":"кейс 3","additionalFields":{"callback_data":"menu_portfolio_chat_3"}}]}},{"row":{"buttons":[{"text":"Назад","additionalFields":{"callback_data":"menu_portfolio"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"58c8673a-ad9c-421c-a1d8-cddf30ccbd3f","name":"Меню чат-боты","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-2060,1140],"credentials":{"telegramApi":{"id":"18","name":"тест telegram trigger"}}},{"parameters":{"operation":"editMessageText","chatId":"={{ $node[\"Telegram Trigger\"].json.callback_query.message.chat.id }}","messageId":"={{ $node[\"Telegram Trigger\"].json.callback_query.message.message_id }}","replyMarkup":"inlineKeyboard","text":"<b>Описание кейса 1</b>","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Назад","additionalFields":{"callback_data":"menu_portfolio_chat"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"09ff6d56-2ca2-4d9d-b75b-ad3c299d6628","name":"чаткейс1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-1940,1200],"credentials":{"telegramApi":{"id":"18","name":"тест telegram trigger"}}},{"parameters":{"operation":"editMessageText","chatId":"={{ $node[\"Telegram Trigger\"].json.callback_query.message.chat.id }}","messageId":"={{ $node[\"Telegram Trigger\"].json.callback_query.message.message_id }}","replyMarkup":"inlineKeyboard","text":"<b>Описание кейса 2</b>","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Назад","additionalFields":{"callback_data":"menu_portfolio_chat"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"577ea0d7-dcc9-41a1-8790-f3c01ff03a56","name":"чаткейс2","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-1820,1260],"credentials":{"telegramApi":{"id":"18","name":"тест telegram trigger"}}},{"parameters":{"operation":"editMessageText","chatId":"={{ $node[\"Telegram Trigger\"].json.callback_query.message.chat.id }}","messageId":"={{ $node[\"Telegram Trigger\"].json.callback_query.message.message_id }}","replyMarkup":"inlineKeyboard","text":"<b>Описание кейса 3</b>","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Назад","additionalFields":{"callback_data":"menu_portfolio_chat"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"23020dea-0175-48cf-9e0a-72661d8bf3e7","name":"чаткейс3","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-1720,1360],"credentials":{"telegramApi":{"id":"18","name":"тест telegram trigger"}}}],"connections":{"comands":{"main":[[{"node":"Приветствие","type":"main","index":0}],[{"node":"FAQ","type":"main","index":0}]]},"Текст?":{"main":[[{"node":"Команда ли?","type":"main","index":0}]]},"Сообщение ?":{"main":[[{"node":"Текст?","type":"main","index":0}],[{"node":"callback_query","type":"main","index":0}]]},"Команда ли?":{"main":[[{"node":"comands","type":"main","index":0}],[{"node":"Остальные команды","type":"main","index":0}]]},"добавление в чат":{"main":[[{"node":"Выход из чатов","type":"main","index":0}],[{"node":"Сообщение ?","type":"main","index":0}]]},"callback_query":{"main":[[{"node":"menu_","type":"main","index":0}]]},"menu_":{"main":[[{"node":"возврат","type":"main","index":0}]]},"возврат":{"main":[[{"node":"Замена приветствие","type":"main","index":0}],[{"node":"кнопки главного меню","type":"main","index":0}]]},"кнопки главного меню":{"main":[[{"node":"Профайл","type":"main","index":0}],[{"node":"Portfolio","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"добавление в чат","type":"main","index":0}]]},"Portfolio":{"main":[[{"node":"Portfolio2","type":"main","index":0}],[{"node":"Auto","type":"main","index":0}],[{"node":"Chat","type":"main","index":0}]]},"Auto":{"main":[[{"node":"Автоматизация","type":"main","index":0}],[{"node":"Автокейс1","type":"main","index":0}],[{"node":"Автокейс2","type":"main","index":0}],[{"node":"Автокейс3","type":"main","index":0}]]},"Chat":{"main":[[{"node":"Меню чат-боты","type":"main","index":0}],[{"node":"чаткейс1","type":"main","index":0}],[{"node":"чаткейс2","type":"main","index":0}],[{"node":"чаткейс3","type":"main","index":0}]]}},"settings":{"saveDataErrorExecution":"all","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"10"},"staticData":null,"meta":null,"pinData":{},"versionId":"2cd691f9-0d83-463c-8c86-d476ecee850a","triggerCount":1,"tags":[]}