уроки-14.json
{"createdAt":"2023-03-19T08:58:37.805Z","updatedAt":"2023-03-20T04:32:57.000Z","id":"14","name":"уроки","active":false,"nodes":[{"parameters":{},"id":"d559595c-e4a9-478b-bd6c-12fa22005bca","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-140,-80]},{"parameters":{"operation":"getAllPeople","limit":2},"id":"27f91400-0864-447e-8cbc-12d32a9d6572","name":"Customer Datastore (n8n training)","type":"n8n-nodes-base.n8nTrainingCustomerDatastore","typeVersion":1,"position":[0,-180]},{"parameters":{"jsCode":"return [\n  {\n    \"full_name\": \"Шерлок Холмс\",\n    \"age\": 46,\n    \"friends\": [\"Доктор Ватсон\", \"Инспектор Лестрейд\"],\n    \"address\": {\n      \"type\": \"квартира\",\n      \"location\": \"Лондон, Бейкер-стрит 221b\"\n    }\n  },\n  {\n    \"full_name\": \"Джон Ватсон\",\n    \"age\": 44,\n    \"friends\": [\"Шерлок Холмс\", \"Инспектор Лестрейд\"],\n    \"address\": {\n      \"type\": \"квартира\",\n      \"location\": \"Лондон, Бейкер-стрит 221b\"\n    }\n  }\n];"},"id":"e3c2d7fe-c6fb-4450-9bff-b174ed97df95","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[140,-80]},{"parameters":{"url":"https://artemdzyuba.ru/wp-content/uploads/2021/12/Holms.jpg","options":{}},"id":"dee29413-aac0-4cb2-b784-837275aad3f5","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[280,-80]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"name","value":"={{ $json[\"full_name\"].split(' ',1) }}"},{"name":"nameNew.from","value":"={{ $node[\"Code\"].json[\"full_name\"] }} из {{ $node[\"Code\"].json[\"address\"][\"location\"] }}"},{"name":"nameNew.firstName","value":"={{ $json[\"full_name\"].split(' ')[0] }}"}],"number":[{"name":"Позиция","value":"={{ $itemIndex }}"}],"boolean":[{"name":"друзья и инспектором","value":"={{ $node[\"Code\"].json[\"friends\"][1]==='Инспектор Лестрейд' }}"}]},"options":{"dotNotation":true}},"id":"b028a63c-f5ca-437c-9fff-493e41d1a69c","name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[440,60]},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"Всего","value":"={{ $items('Code').length }}"}]},"options":{}},"id":"674ed2d6-debe-4bdb-9d8f-9f6139c83cc1","name":"Set1","type":"n8n-nodes-base.set","typeVersion":1,"position":[440,-200],"executeOnce":true}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Customer Datastore (n8n training)","type":"main","index":0}]]},"Customer Datastore (n8n training)":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Set1","type":"main","index":0},{"node":"Set","type":"main","index":0}]]},"Set1":{"main":[[]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"a47c576d-68cc-4c89-a9d4-fabc3e35e053","triggerCount":0,"tags":[]}