урок-4-switch-17.json
{"createdAt":"2023-03-21T10:09:59.543Z","updatedAt":"2023-04-12T10:48:55.000Z","id":"17","name":"Урок 4 Switch","active":false,"nodes":[{"parameters":{},"id":"7656cf00-dc54-4e3f-ae79-40a024025905","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-140,320]},{"parameters":{"operation":"getAllPeople"},"id":"6f6050d6-aa93-45e2-be9a-0ff3817d4c36","name":"Customer Datastore (n8n training)","type":"n8n-nodes-base.n8nTrainingCustomerDatastore","typeVersion":1,"position":[20,320]},{"parameters":{"dataType":"string","value1":"={{ $node[\"Customer Datastore (n8n training)\"].json[\"country\"] }}","rules":{"rules":[{"value2":"US"},{"value2":"CO","output":1},{"value2":"UK","output":2},{"value2":"={{ null }}","output":3}]}},"id":"daab1c0a-cdd3-4407-8ef6-064583a17deb","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[480,320]},{"parameters":{"values":{"string":[{"name":"country","value":"United States"}]},"options":{}},"id":"b911c9af-d9de-41ae-8c6c-a9f8d059c2f9","name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[680,120]},{"parameters":{"values":{"string":[{"name":"country","value":"Columbia"}]},"options":{}},"id":"e44d27b6-c640-4c70-9073-9eee2d642c11","name":"Set1","type":"n8n-nodes-base.set","typeVersion":1,"position":[680,260]},{"parameters":{"values":{"string":[{"name":"country","value":"Ukraine"}]},"options":{}},"id":"9f5de943-b75b-4005-89a9-a211c9f24a9c","name":"Set2","type":"n8n-nodes-base.set","typeVersion":1,"position":[680,400]},{"parameters":{"values":{"string":[{"name":"country","value":" no citizenship"}]},"options":{}},"id":"2c9b78b6-41cf-41cf-820a-b260cd55ade3","name":"Set3","type":"n8n-nodes-base.set","typeVersion":1,"position":[680,540]},{"parameters":{},"id":"73747986-216c-4537-90b6-551bac5646cd","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[900,320]},{"parameters":{},"id":"898cd655-a6e5-48cc-899b-19ef071d1320","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[900,460]},{"parameters":{},"id":"53486d22-4176-462c-b8ff-3f50fcf44c44","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2,"position":[1040,380]},{"parameters":{"jsCode":"return new Promise((resolve) => {\n  setTimeout(() => {\n    resolve({ });\n  }, 15000);\n});"},"id":"e561d315-80db-4896-bb8c-c5110463c55c","name":"блок задержки","type":"n8n-nodes-base.code","typeVersion":1,"position":[220,320]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Customer Datastore (n8n training)","type":"main","index":0}]]},"Customer Datastore (n8n training)":{"main":[[{"node":"блок задержки","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Set","type":"main","index":0}],[{"node":"Set1","type":"main","index":0}],[{"node":"Set2","type":"main","index":0}],[{"node":"Set3","type":"main","index":0}]]},"Set":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Set2":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Set3":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"блок задержки":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"d8a5490e-0d8d-46f8-9bcc-82aa41976008","triggerCount":0,"tags":[]}